---
ignore: |
  /vendor/**
  /spec/manageiq/**
  /spec/vcr_cassettes/**
  /db/fixtures/aws_instance_types.yml

extends: relaxed

rules:
  indentation:
    indent-sequences: false
  line-length:
    max: 120
