---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeRegions&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190212T210701Z
      X-Amz-Content-Sha256:
      - 903451d1f3cda66f6ac7101b5810af53eb3ce6b47c5162b0b2238ce9086b6a0d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20190212/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b62e51303ac3b19ddbac7ad3b7ac1c9a3e36a8d87ec8d84a28d6f156faf1bd97
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeRegionsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>3ab3e530-4179-4594-8878-3ea2defba58c</requestId>
            <regionInfo>
                <item>
                    <regionName>eu-north-1</regionName>
                    <regionEndpoint>ec2.eu-north-1.amazonaws.com</regionEndpoint>
                </item>
                <item>
                    <regionName>ap-south-1</regionName>
                    <regionEndpoint>ec2.ap-south-1.amazonaws.com</regionEndpoint>
                </item>
                <item>
                    <regionName>eu-west-3</regionName>
                    <regionEndpoint>ec2.eu-west-3.amazonaws.com</regionEndpoint>
                </item>
                <item>
                    <regionName>eu-west[...]
