---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeRegions&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231026T162404Z
      X-Amz-Content-Sha256:
      - 903451d1f3cda66f6ac7101b5810af53eb3ce6b47c5162b0b2238ce9086b6a0d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20231026/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=01ebe4b9679997634675392ff52a639f2dc9f6b86e66c96e9734f404fbd1782f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e2992a30-f339-453b-a4bf-990779b6fe15
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeRegionsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>e2992a30-f339-453b-a4bf-990779b6fe15</requestId>
            <regionInfo>
                <item>
                    <regionName>ap-south-1</regionName>
                    <regionEndpoint>ec2.ap-south-1.amazonaws.com</regionEndpoint>
                    <optInStatus>opt-in-not-required</optInStatus>
                </item>
                <item>
                    <regionName>eu-north-1</regionName>
                    <regionEndpoint>ec2.eu-north-1.amazonaws.com</regionEndpoint>
                    <optInStatus>opt-in-not-required</optInStatus>
                </item>
                <item>
                    <regionName>eu-west-3</regionName>
                    <regionEndpoint>ec2.eu-west-3.amazonaws.com</regionEndpoint>
                    <optInStatu[...]
