---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeRegions&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180122T145930Z
      X-Amz-Content-Sha256:
      - 903451d1f3cda66f6ac7101b5810af53eb3ce6b47c5162b0b2238ce9086b6a0d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJYLIZQSFQG2BMPTQ/20180122/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9234f41336c5679624bf868b2c9afd82c1cf813fb3e1b9f35e1ccaf59d4c9b78
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeRegionsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>77e4f320-9663-4ee4-bf31-2a879d92caf1</requestId>
            <regionInfo>
                <item>
                    <regionName>ap-south-1</regionName>
                    <regionEndpoint>ec2.ap-south-1.amazonaws.com</regionEndpoint>
                </item>
                <item>
                    <regionName>eu-west-3</regionName>
                    <regionEndpoint>ec2.eu-west-3.amazonaws.com</regionEndpoint>
                </item>
                <item>
                    <regionName>eu-west-2</regionName>
                    <regionEndpoint>ec2.eu-west-2.amazonaws.com</regionEndpoint>
                </item>
                <item>
                    <regionName>eu-west-1[...]
