---
http_interactions:
- request:
    method: post
    uri: https://monitoring.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListMetrics&Dimensions.member.1.Name=InstanceId&Dimensions.member.1.Value=i-09f09a300de9f45e6&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190402T140904Z
      X-Amz-Content-Sha256:
      - 964a975f571c56d389c6e446bca07bf71c005129fe349841fd57dacc0c3d73b9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAI6GCRPLB7GH24DBQ/20190402/eu-central-1/monitoring/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=e61c383a979e0e57d0d48928655cb177410776dd59c5414c29675b85fcb2aea9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dfbc396b-5550-11e9-a47e-c9306c131c13
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListMetricsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <ListMetricsResult>
            <Metrics>
              <member>
                <Namespace>AWS/EC2</Namespace>
                <MetricName>StatusCheckFailed_System</MetricName>
                <Dimensions>
                  <member>
                    <Name>InstanceId</Name>
                    <Value>i-09f09a300de9f45e6</Value>
                  </member>
                </Dimensions>
              </member>
              <member>
                <Namespace>AWS/EC2</Namespace>
                <MetricName>StatusCheckFailed</MetricName>
                <Dimensions>
                  <member>
                    <Name>InstanceId</Name>
                    <Value>i-09f09a300de9f45e6</Value>
                  </member>
                </Dimensions>
              </member>
              <member>
 [...]
- request:
    method: post
    uri: https://monitoring.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=InstanceId&Dimensions.member.1.Value=i-09f09a300de9f45e6&EndTime=2019-04-02T14%3A09%3A04Z&MetricName=CPUUtilization&Namespace=AWS%2FEC2&Period=60&StartTime=2019-04-02T10%3A04%3A04Z&Statistics.member.1=Average&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190402T140905Z
      X-Amz-Content-Sha256:
      - aa8293b856a9652e592aae7e70dac10709ee6d03abd4428853cbcc1b91ccee38
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAI6GCRPLB7GH24DBQ/20190402/eu-central-1/monitoring/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=d23ae662589fbea294fa62bb0d5ae2dd19f1e6862d972ff626238c6fd910ac78
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dff8f440-5550-11e9-8003-59d5d061ca62
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints>
              <member>
                <Average>0.20056497175141277</Average>
                <Unit>Percent</Unit>
                <Timestamp>2019-04-02T11:19:00Z</Timestamp>
              </member>
              <member>
                <Average>0.2683986292488644</Average>
                <Unit>Percent</Unit>
                <Timestamp>2019-04-02T13:24:00Z</Timestamp>
              </member>
              <member>
                <Average>0.20003704732796201</Average>
                <Unit>Percent</Unit>
                <Timestamp>2019-04-02T10:09:00Z</Timestamp>
              </member>
              <member>
                <Averag[...]
[...]
