---
http_interactions:
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Dimensions":[{"Name":"InstanceId","Value":"i-00bbde5716f0d890b"}]}'
    headers:
      Amz-Sdk-Invocation-Id:
      - f199dc6f-0509-4745-976c-54f626bcb9ea
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - GraniteServiceVersion20100801.ListMetrics
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20260105T185715Z
      X-Amz-Content-Sha256:
      - b57eb91be5689ad0cf7543cf71b04569809f9374b8d8d377a29a2ae5963a1511
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20260105/us-east-1/monitoring/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target;x-amzn-query-mode,
        Signature=ca2abfc7644859b56c0ea24f3456accbe129304703455f5457c7d5b66d3a0051
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0e6164ce-ff6c-491e-8268-1413b4c38d1e
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Metrics":[{"Dimensions":[{"Name":"InstanceId","Value":"i-00bbde5716f0d890b"}],"MetricName":"CPUCreditBalance","Namespace":"AWS/EC2"},{"Dimensions":[{"Name":"InstanceId","Value":"i-00bbde5716f0d890b"}],"MetricName":"EBSReadOps","Namespace":"AWS/EC2"},{"Dimensions":[{"Name":"VolumeId","Value":"vol-06a0ebcd80fd200e8"},{"Name":"InstanceId","Value":"i-00bbde5716f0d890b"}],"MetricName":"VolumeIOPSExceededCheck","Namespace":"AWS/EBS"},{"Dimensions":[{"Name":"InstanceId","Value":"i-00bbde5716f0d890b"}],"MetricName":"EBSReadBytes","Namespace":"AWS/EC2"},{"Dimensions":[{"Name":"InstanceId","Value":"i-00bbde5716f0d890b"}],"Me[...]
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Namespace":"AWS/EC2","MetricName":"CPUUtilization","Dimensions":[{"Name":"InstanceId","Value":"i-00bbde5716f0d890b"}],"Statistics":["Average"],"Period":60,"StartTime":1767637335,"EndTime":1767639435}'
    headers:
      Amz-Sdk-Invocation-Id:
      - fb972245-8810-4c03-8918-370379887fd8
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - GraniteServiceVersion20100801.GetMetricStatistics
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20260105T185715Z
      X-Amz-Content-Sha256:
      - feda1ba30177898c05e3cdc8aa8bac3c8d01443e2d0e6d8de4751fba906aaa65
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20260105/us-east-1/monitoring/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target;x-amzn-query-mode,
        Signature=beb0b5b43ec105aea736bea89223749c35b92b1900a41ee9157dea0e98909de7
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4b89198f-86ec-4694-9442-f324c69d60ce
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Datapoints":[{"Average":2.4444546148032282,"Timestamp":1.7676384E9,"Unit":"Percent"},{"Average":2.2216856718065565,"Timestamp":1.7676387E9,"Unit":"Percent"},{"Average":2.1138566878935405,"Timestamp":1.7676378E9,"Unit":"Percent"},{"Average":2.1966424589268527,"Timestamp":1.7676381E9,"Unit":"Percent"},{"Average":2.197807210429088,"Timestamp":1.7676375E9,"Unit":"Percent"},{"Average":2.3023353644688163,"Timestamp":1.767639E9,"Unit":"Percent"},{"Average":2.130599064533848,"Timestamp":1.7676393E9,"Unit":"Percent"}],"Label":"CPUUtilization"}'
  recorded_at: Mon, 05 Jan 2026 18:57:15 GMT
[...]
