---
http_interactions:
- request:
    method: post
    uri: https://monitoring.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListMetrics&Dimensions.member.1.Name=InstanceId&Dimensions.member.1.Value=i-0a538d08cefe2f83f&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190329T110129Z
      X-Amz-Content-Sha256:
      - e0b938f042be700fe69c78468fd4bd04db45b8a5d183bf8ddc663f7e8606d19a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAI6GCRPLB7GH24DBQ/20190329/eu-central-1/monitoring/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b4ea3ea62805f04490e1fff3c4a92027be28409a016eeea0da180972c6cb6df7
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - '01020818-5212-11e9-bcb8-c17f792b8196'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListMetricsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <ListMetricsResult>
            <Metrics>
              <member>
                <Namespace>CWAgent</Namespace>
                <MetricName>Memory % Committed Bytes In Use</MetricName>
                <Dimensions>
                  <member>
                    <Name>InstanceId</Name>
                    <Value>i-0a538d08cefe2f83f</Value>
                  </member>
                  <member>
                    <Name>objectname</Name>
                    <Value>Memory</Value>
                  </member>
                </Dimensions>
              </member>
              <member>
                <Namespace>AWS/EC2</Namespace>
                <MetricName>DiskReadOps</MetricName>
                <Dimensions>
                  <member>
                    <Name>InstanceId</Name>
                    <Value[...]
- request:
    method: post
    uri: https://monitoring.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=InstanceId&Dimensions.member.1.Value=i-0a538d08cefe2f83f&Dimensions.member.2.Name=objectname&Dimensions.member.2.Value=Memory&EndTime=2019-03-29T11%3A01%3A29Z&MetricName=Memory%20%25%20Committed%20Bytes%20In%20Use&Namespace=CWAgent&Period=60&StartTime=2019-03-29T06%3A56%3A29Z&Statistics.member.1=Average&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190329T110129Z
      X-Amz-Content-Sha256:
      - e8a732e46c7d14619817c055f702127fbae14a53b5546bfd1c16e1c2e4b0c6a5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAI6GCRPLB7GH24DBQ/20190329/eu-central-1/monitoring/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=7cf7ce311ea067151cfc3cf3a1bb0b7780083f156703d65732fab32b2322b56d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 011b3514-5212-11e9-ba35-db6b470977c8
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints>
              <member>
                <Average>12.931539535522461</Average>
                <Unit>None</Unit>
                <Timestamp>2019-03-29T11:00:00Z</Timestamp>
              </member>
              <member>
                <Average>91.24837493896484</Average>
                <Unit>None</Unit>
                <Timestamp>2019-03-29T10:51:00Z</Timestamp>
              </member>
              <member>
                <Average>79.2523422241211</Average>
                <Unit>None</Unit>
                <Timestamp>2019-03-29T10:50:00Z</Timestamp>
              </member>
              <member>
                <Average>12.97431[...]
[...]
