---
http_interactions:
- request:
    method: post
    uri: https://monitoring.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListMetrics&Dimensions.member.1.Name=InstanceId&Dimensions.member.1.Value=amazon-perf-vm&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180118T121224Z
      X-Amz-Content-Sha256:
      - 799f4d42b56f2247ad29f7877acff1415665890a6471a02159d952aafc211080
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180118/eu-central-1/monitoring/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=35272243bbf14acd93b6dc2a7ad2930e573df84b21f63e3da8e8af1e4ac73216
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cde3c2c8-fc48-11e7-8074-bdc401f8409e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListMetricsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <ListMetricsResult>
            <Metrics>
              <member>
                <Namespace>AWS/EC2</Namespace>
                <MetricName>StatusCheckFailed_Instance</MetricName>
                <Dimensions>
                  <member>
                    <Name>InstanceId</Name>
                    <Value>amazon-perf-vm</Value>
                  </member>
                </Dimensions>
              </member>
              <member>
                <Namespace>AWS/EC2</Namespace>
                <MetricName>StatusCheckFailed_System</MetricName>
                <Dimensions>
                  <member>
                    <Name>InstanceId</Name>
                    <Value>amazon-perf-vm</Value>
                  </member>
                </Dimensions>
              </member>
              <member>
    [...]
- request:
    method: post
    uri: https://monitoring.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=InstanceId&Dimensions.member.1.Value=amazon-perf-vm&EndTime=2018-01-18T12%3A12%3A24Z&MetricName=DiskReadBytes&Namespace=AWS%2FEC2&Period=60&StartTime=2018-01-18T08%3A07%3A24Z&Statistics.member.1=Average&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180118T121225Z
      X-Amz-Content-Sha256:
      - 89d09901085b9f869010d2c850009f5e168e84f593036f7e597a287faa5c3276
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180118/eu-central-1/monitoring/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=7959bd49554ac858c40f4f49c408d51be731466c77a05db5f91f5386414a7cb2
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ce015d49-fc48-11e7-a330-51fbaa4d6212
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints>
              <member>
                <Average>0.0</Average>
                <Unit>Bytes</Unit>
                <Timestamp>2018-01-18T10:25:00Z</Timestamp>
              </member>
              <member>
                <Average>0.0</Average>
                <Unit>Bytes</Unit>
                <Timestamp>2018-01-18T08:20:00Z</Timestamp>
              </member>
              <member>
                <Average>0.0</Average>
                <Unit>Bytes</Unit>
                <Timestamp>2018-01-18T11:35:00Z</Timestamp>
              </member>
              <member>
                <Average>0.0</Average>
                <Un[...]
[...]
