---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143720Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=1d92738091508fb4cf311a3a47e9c1c8db85a39300103dc789c2ddfed621f87a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>fad38677-86b0-44b1-992a-db9a3a6e1883</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 23 Mar 2017 14:37:21 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143721Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=576c594bd72f041bbb296413701c1693f811dad9b834a7c1e8d230e4cae8eec6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>f624f19a-4394-4380-9301-212f13258166</requestId>
            <keySet>
                <item>
                    <keyName>bd</keyName>
                    <keyFingerprint>38:ac:a0:23:29:3b:0a:a8:0d:13:8c:d1:78:d7:9d:a8:cf:c9:42:03</keyFingerprint>
                </item>
                <item>
                    <keyName>bill</keyName>
                    <keyFingerprint>eb:13:8d:19:b1:9d:9f:8b:ea:e0:9b:0b:eb:ea:46:a7:b3:a9:76:99</keyFingerprint>
                </item>
                <item>
                    <keyName>bsorota</keyName>
                    <keyFingerprint>be:2e:fb:10:34:51:f6:eb:fb:1d:fe:af:47:56:69:5c:ed:d2:25:67</keyFingerprint>
            [...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143721Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=21039b6074babc51b2489674fa28ddb9165bd175c0441b26f77f95ad5bedb7f1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 39153acd-0fd6-11e7-a8db-95ab86e3ea79
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2016-11-08T22:29:31.704Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/stack-WebServerInstance-1OTANAXF1UIF/d1640fc0-a602-11e6-a1b8-50d5ca63261e</StackId>
                <StackName>stack-WebServerInstance-1OTANAXF1UIF</StackName>
                <Description>AWS CloudFormation Sample Template WordPress_Simple: WordPress is web software you can use to create a beautiful website or blog. This template installs a single-instance WordPress deployment using a local MySQL database to store the data. It demonstrates using the AWS CloudFormation bootstrap scripts to install packages and files at instance launch time. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_FAILED</StackStatus>
                <DisableRollback>true</DisableRollback>
                <Tags/>
                <StackStatusReason>The following resource(s) failed to create: [WaitCondition]. </StackStatusReason>
                <Parameters>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t1.micro</ParameterValue>
                  </member>
                </Parameters>
              </member>
              <member>
                <CreationTime>2016-11-08T22:29:24.059Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/stack/ccf93[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=stack-WebServerInstance-1OTANAXF1UIF&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143722Z
      X-Amz-Content-Sha256:
      - fe34ea8014feaf36e5f46cb785cdb5a3354c374564b54a6d47b3c84c14051c46
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2bcbd669c5471e7b7576bfbf69f026b72014fa39ef1dfbf0defdd1f67b08a7ed
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 396863e6-0fd6-11e7-832f-013bf900ee03
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2016-11-08T22:34:42.085Z</LastUpdatedTimestamp>
                <PhysicalResourceId>arn:aws:cloudformation:us-east-1:200278856672:stack/stack-WebServerInstance-1OTANAXF1UIF/d1640fc0-a602-11e6-a1b8-50d5ca63261e/WaitHandle</PhysicalResourceId>
                <ResourceStatus>CREATE_FAILED</ResourceStatus>
                <ResourceStatusReason>WaitCondition received failed message: 'Failed to initialize root password' for uniqueId: i-429e99db</ResourceStatusReason>
                <LogicalResourceId>WaitCondition</LogicalResourceId>
                <ResourceType>AWS::CloudFormation::WaitCondition</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2016-11-08T22:29:37.232Z</LastUpdatedTimestamp>
                <PhysicalResourceId>https://cloudformation-waitcondition-us-east-1.s3.amazonaws.com/arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack/stack-WebServerInstance-1OTANAXF1UIF/d1640fc0-a602-11e6-a1b8-50d5ca63261e/WaitHandle?AWSAccessKeyId=AKIAIIT3CWAIMJYUTISA&amp;Expires=1478730576&amp;Signatu[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=stack-WebServerInstance-1OTANAXF1UIF&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143723Z
      X-Amz-Content-Sha256:
      - d6f68c455cd18a14e98d55620153d7030f7d39a03bec3b766a64b42ada77a031
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=813cc8cbbe48ac04b1f145b31f456b1c6d986a420781777871b94b53cadb8f2a
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 39bd891f-0fd6-11e7-ada2-0984db94f8e9
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n  \n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template WordPress_Simple: WordPress is web software you can use to
        create a beautiful website or blog. This template installs a single-instance
        WordPress deployment using a local MySQL database to store the data. It demonstrates
        using the AWS CloudFormation bootstrap scripts to install packages and files
        at instance [...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143728Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0b1125e8379a032ee6603412ea0284aa4c71054804f9325b96a168d47cc9dc64
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>b11ccc95-cfdc-440d-b50a-68d5ebcec82e</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-098d7f1f</imageId>
                    <imageLocation>200278856672/lads_image_from_volume</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-01-27T15:52:29.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <name>lads_image_from_volume</name>
                    <description/>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-0fb2163b24646b146</snapshotId>
                                <volumeSize>1</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-1b3cc30d</imageId>
                    <imageLocation>jerryk-instance-store-amis/bundle_folder/test_instance_store_instance01/image.manifest.xml</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-01-30T22:12:24.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-825ea7eb</kernelId>
                    <name>jerryk_instance_store_ami01</name>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>sda2</deviceName>
                            <virtualName>ephemeral0</virtualName>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-204c8436</imageId>
                    <imageLocation>200278856672/Ladas_test_5_image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-02-16T15:23:41.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>i386</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-36ed075f</kernelId>
                    <name>Ladas_test_5_image</name>
                    <description>testing snapshot events</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-eafde662</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTe[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143730Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=96770f8e27b021694b16f5bf0ab48e4063b1cb7fa2c5ebb375343e1cdb2d7650
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>b8cdbddc-7ce7-4d1c-948d-f3f6c3aa2f2e</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-01228013207b85dad</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-08c033357b433ea2c</instanceId>
                            <imageId>ami-0b33d91d</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-1-155.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason>User initiated (2017-02-14 17:31:56 GMT)</reason>
                            <keyName>bd</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.nano</instanceType>
                            <launchTime>2017-02-14T16:18:28.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-ac904787</subnetId>
                            <vpcId>vpc-a06de3c5</vpcId>
                            <privateIpAddress>10.0.1.155</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-65d59519</groupId>
                                    <groupName>launch-wizard-37</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-01aca96e22103f767</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-02-14T16:18:29.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>hPmBd1487089108162</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>mhild</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-7f10908d</networkInterfaceId>
                                    <subnetId>subnet-ac904787</subnetId>
                                    <vpcId>vpc-a06de3c5</vpcId>
                                    <description>Primary network interface</description>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>12:a2:dd:19:8d:bc</macAddress>
                                    <privateIpAddress>10.0.1.155</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-65d59519</groupId>
                                            <groupName>launch-wizard-37</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-2d92e207</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2017-02-14T16:18:28.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.0.1.155</privateIpAddress>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-18ca6cb0</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-038e8a69</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                        </item>
                        <item>
                            <groupId>sg-12898d78</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup2</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-680071e9</instanceId>
                            <imageId>ami-5769193e</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-170-73-43.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-221-202-53.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2016-08-30T06:20:24.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-1eceaf77</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.170.73.43</privateIpAddress>
                            <ipAddress>54.221.202.53</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-038e8a69</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                                </item>
                                <item>
                                    <groupId>sg-12898d78</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup2</groupName>
     [...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143737Z
      X-Amz-Content-Sha256:
      - d821ac2c2958664a08eb0f0b183ebf80201e8a50da5d9e98eca9bc36ef648656
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b94d3ff5c97913ce73da63727903e999394791b3d4cf430c9c36396704936ab0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>4263792c-b4c3-450f-ae3b-a36e9b3a5565</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-a06de3c5</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>DemoVPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </ta[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143737Z
      X-Amz-Content-Sha256:
      - 4458b81adb7ad686766b11e1bb41ad4b186e7cfb44c26a0b7ade703866d0fca0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=05821cc04173003884906fcea39973733822014e42e0393e2e772608323a186c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>a44a3359-864c-4665-83c4-f26a7bf0a61e</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-16c70477</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.1.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>248</availableIpAddressCount>
                    <availabilityZone>us-east-1d</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet2</value>
                        </item>
                    </tagSet>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
                <item>
                    <subnetId>subnet-bc418ce4</subnetId>
                    <state>available</state>
                    <vpcId>vpc-aee2a6ca</vpcId>
                    <cidrBlock>172.30.3.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-east-1d</availabilityZone>
                [...]
- request:
    method: post
[...]
