---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090524Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c1638d258a55a1d7bcc9767e46266b730a4809c708f8ffceb222bb5d0030a43b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>21a7f1b9-e629-4c2c-9020-2c3b11051d66</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Fri, 17 Mar 2017 09:05:25 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090525Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=127f8a3100c401d5f72a0c786a4fc572b62d7e03448542c917989b62dd92aef5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>514e8f4c-8050-4cc1-9bc3-61d541a26fe1</requestId>
            <keySet>
                <item>
                    <keyName>bd</keyName>
                    <keyFingerprint>38:ac:a0:23:29:3b:0a:a8:0d:13:8c:d1:78:d7:9d:a8:cf:c9:42:03</keyFingerprint>
                </item>
                <item>
                    <keyName>bill</keyName>
                    <keyFingerprint>eb:13:8d:19:b1:9d:9f:8b:ea:e0:9b:0b:eb:ea:46:a7:b3:a9:76:99</keyFingerprint>
                </item>
                <item>
                    <keyName>bsorota</keyName>
                    <keyFingerprint>be:2e:fb:10:34:51:f6:eb:fb:1d:fe:af:47:56:69:5c:ed:d2:25:67</keyFingerprint>
            [...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090526Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ff50501afb5114563c74099ae2b675780bda690c19d888ee6ed11cd740ca4d1f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - db5503d4-0af0-11e7-b975-3f98ee51760f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2016-11-08T22:29:31.704Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/stack-WebServerInstance-1OTANAXF1UIF/d1640fc0-a602-11e6-a1b8-50d5ca63261e</StackId>
                <StackName>stack-WebServerInstance-1OTANAXF1UIF</StackName>
                <Description>AWS CloudFormation Sample Template WordPress_Simple: WordPress is web software you can use to create a beautiful website or blog. This template installs a single-instance WordPress deployment using a local MySQL database to store the data. It demonstrates using the AWS CloudFormation bootstrap scripts to install packages and files at instance launch time. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_FAILED</StackStatus>
                <DisableRollback>true</DisableRollback>
                <Tags/>
                <StackStatusReason>The following resource(s) failed to create: [WaitCondition]. </StackStatusReason>
                <Parameters>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t1.micro</ParameterValue>
                  </member>
                </Parameters>
              </member>
              <member>
                <CreationTime>2016-11-08T22:29:24.059Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/stack/ccf93[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=stack-WebServerInstance-1OTANAXF1UIF&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090527Z
      X-Amz-Content-Sha256:
      - fe34ea8014feaf36e5f46cb785cdb5a3354c374564b54a6d47b3c84c14051c46
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=722e343cf5b4f9ed28c3920714d9066c6c221409e76834bfb35194d0e4a06946
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dbbfac81-0af0-11e7-bf5f-21264a0443ad
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2016-11-08T22:34:42.085Z</LastUpdatedTimestamp>
                <PhysicalResourceId>arn:aws:cloudformation:us-east-1:200278856672:stack/stack-WebServerInstance-1OTANAXF1UIF/d1640fc0-a602-11e6-a1b8-50d5ca63261e/WaitHandle</PhysicalResourceId>
                <ResourceStatus>CREATE_FAILED</ResourceStatus>
                <ResourceStatusReason>WaitCondition received failed message: 'Failed to initialize root password' for uniqueId: i-429e99db</ResourceStatusReason>
                <LogicalResourceId>WaitCondition</LogicalResourceId>
                <ResourceType>AWS::CloudFormation::WaitCondition</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2016-11-08T22:29:37.232Z</LastUpdatedTimestamp>
                <PhysicalResourceId>https://cloudformation-waitcondition-us-east-1.s3.amazonaws.com/arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack/stack-WebServerInstance-1OTANAXF1UIF/d1640fc0-a602-11e6-a1b8-50d5ca63261e/WaitHandle?AWSAccessKeyId=AKIAIIT3CWAIMJYUTISA&amp;Expires=1478730576&amp;Signatu[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=stack-WebServerInstance-1OTANAXF1UIF&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090528Z
      X-Amz-Content-Sha256:
      - d6f68c455cd18a14e98d55620153d7030f7d39a03bec3b766a64b42ada77a031
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9cb5e2f5ecab844e193dee8ddd1949e8bb1f92f81ddba5acf683bf2256410852
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dc7986b0-0af0-11e7-affe-b90437ff8bd2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n  \n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template WordPress_Simple: WordPress is web software you can use to
        create a beautiful website or blog. This template installs a single-instance
        WordPress deployment using a local MySQL database to store the data. It demonstrates
        using the AWS CloudFormation bootstrap scripts to install packages and files
        at instance [...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090542Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c5acc74adf0e398821f6d7cb05212a0e8f65061e63143d78cedaba0293af6b9e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>1e40d0c6-4856-4cff-92d4-bcd552b5f6a5</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-098d7f1f</imageId>
                    <imageLocation>200278856672/lads_image_from_volume</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-01-27T15:52:29.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <name>lads_image_from_volume</name>
                    <description/>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-0fb2163b24646b146</snapshotId>
                                <volumeSize>1</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-1b3cc30d</imageId>
                    <imageLocation>jerryk-instance-store-amis/bundle_folder/test_instance_store_instance01/image.manifest.xml</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-01-30T22:12:24.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-825ea7eb</kernelId>
                    <name>jerryk_instance_store_ami01</name>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>sda2</deviceName>
                            <virtualName>ephemeral0</virtualName>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-204c8436</imageId>
                    <imageLocation>200278856672/Ladas_test_5_image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-02-16T15:23:41.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>i386</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-36ed075f</kernelId>
                    <name>Ladas_test_5_image</name>
                    <description>testing snapshot events</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-eafde662</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTe[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090545Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=77f0cd4652fac71ade98ea415c0afbe2f880edf051c6f353d92f76f5d380a126
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>2de9d2c1-5eac-4482-9710-b0102e02e06b</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-0487f8b61b029c0f6</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-0f38bd705ee7fbe12</instanceId>
                            <imageId>ami-3f0e495a</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-1-210.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason>User initiated (2017-03-16 20:50:33 GMT)</reason>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.medium</instanceType>
                            <launchTime>2017-02-27T16:03:58.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-ac904787</subnetId>
                            <vpcId>vpc-a06de3c5</vpcId>
                            <privateIpAddress>10.0.1.210</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-24362241</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-09dea380b0b011ee1</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-02-27T16:04:00.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdf</deviceName>
                                    <ebs>
                                        <volumeId>vol-082fbdec7a223ac6d</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-02-27T16:04:00.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>tina_admin_test_11111110023</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-cda05238</networkInterfaceId>
                                    <subnetId>subnet-ac904787</subnetId>
                                    <vpcId>vpc-a06de3c5</vpcId>
                                    <description/>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>12:94:2c:32:29:66</macAddress>
                                    <privateIpAddress>10.0.1.210</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-24362241</groupId>
                                            <groupName>default</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-38f42a15</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2017-02-27T16:03:58.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.0.1.210</privateIpAddress>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-01228013207b85dad</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-08c033357b433ea2c</instanceId>
                            <imageId>ami-0b33d91d</imageId>
          [...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090549Z
      X-Amz-Content-Sha256:
      - d821ac2c2958664a08eb0f0b183ebf80201e8a50da5d9e98eca9bc36ef648656
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=7cd24c3d41c49de8697954a7430acdf2088154f4d30b3e3f3d65a9a8f7fdd01e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>9170c9e8-a185-4562-bb5b-6f1e3edf11ab</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-a06de3c5</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>DemoVPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </ta[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090551Z
      X-Amz-Content-Sha256:
      - 4458b81adb7ad686766b11e1bb41ad4b186e7cfb44c26a0b7ade703866d0fca0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=15a6fbf0909992664365b9c4989a32fe54d32fc1cd59c64c064b202ec230c45c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>5d9e6fce-9618-4bb2-93a9-f62eb0aa3e8e</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-16c70477</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.1.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>248</availableIpAddressCount>
                    <availabilityZone>us-east-1d</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet2</value>
                        </item>
                    </tagSet>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
                <item>
                    <subnetId>subnet-bc418ce4</subnetId>
                    <state>available</state>
                    <vpcId>vpc-aee2a6ca</vpcId>
                    <cidrBlock>172.30.3.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-east-1d</availabilityZone>
                [...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170317T090552Z
      X-Amz-Content-Sha256:
      - 398587829763af2624ad0faa257a51949217b85bb2957c3948946c38ab0fddac
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170317/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=20724be2a6c051383efe938ad1b4a818b756a2f5d329f67cd75397451772252a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d6771a83-37c4-4809-b3c7-0e6464d70545</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-347f9b5d</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default group</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>65535</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-347f9b5d</groupId>
                                    <groupName>default</groupName>
                                </item>
[...]
