---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141629Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=99980d5ea43374018260fed7237c1a637792e420370aa8dd1c63458d75324edd
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 07e9af3f-9a93-464b-92c7-c9b006a4ec6a
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>07e9af3f-9a93-464b-92c7-c9b006a4ec6a</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneId>use1-az3</zoneId>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <groupName>us-east-1</groupName>
                    <optInStatus>opt-in-not-required</optInStatus>
                    <networkBorderGroup>us-east-1</networkBorderGroup>
                    <zoneType>availability-zone</zoneType>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneId>use1-az4</zoneId>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <groupName>us-east-1</groupName>
                    <optInStatus>opt-in-not-required</optInStatus>
                    <networkBorderGroup>us-east-1</networkBorder[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141629Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=60b40d6894f963308e4a6572b5f77b54085949604a3e2527f115097d19e64f90
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e78e65ab-ec8e-4566-9995-a8e7fde71bbf
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>e78e65ab-ec8e-4566-9995-a8e7fde71bbf</requestId>
            <keySet>
                <item>
                    <keyName>api-create</keyName>
                    <keyPairId>key-0078776d5fa64ac2c</keyPairId>
                    <keyFingerprint>ea:02:49:75:22:5d:fc:8d:c2:6e:38:64:73:68:6a:bb:c8:c3:18:0a</keyFingerprint>
                    <tagSet/>
                </item>
                <item>
                    <keyName>aws-test</keyName>
                    <keyPairId>key-08c59c7d29fcf2aba</keyPairId>
                    <keyFingerprint>79:08:15:01:71:3a:37:74:ba:b5:f0:f0:ac:35:bd:9f:7f:22:c8:40</keyFingerprint>
                    <tagSet/>
                </item>
                <item>
                    <keyName>aws-test-1</ke[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141630Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8f781f4c3fbf01e0c8fc0b3d5c11a6623401529358dcb48d6082cdb08b170782
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0b7508e9-c329-4198-863a-1cbe2e987b1f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2020-07-27T15:26:01.704Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/billyaws2/8653d970-5bae-11e9-aee2-0a0b50a105f6</StackId>
                <StackName>billyaws2</StackName>
                <Description>Template for Ems Refresh.</Description>
                <StackStatus>ROLLBACK_COMPLETE</StackStatus>
                <DeletionTime>2020-07-27T15:26:09.091Z</DeletionTime>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>bill</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SSHLocation</ParameterKey>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
     [...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=billyaws2&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141630Z
      X-Amz-Content-Sha256:
      - 2c60a588f750a1536e55355df4138a249b878ddfd419a0cbcd1eef6a59f41cf0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=dd9c2b2c6c7f1b17f7acd6c04ab4a73f02b4ba72e4a21391168f9774f1fb2338
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d603f081-271d-4a49-af28-970ebb83d863
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n\n  &quot;Description&quot; : &quot;Template for
        Ems Refresh.&quot;,\n\n  &quot;Parameters&quot; : {\n\n    &quot;InstanceType&quot;
        : {\n      &quot;Description&quot; : &quot;WebServer EC2 instance type&quot;,\n
        \     &quot;Type&quot; : &quot;String&quot;,\n      &quot;Default&quot; :
        &quot;t2.nano&quot;,\n      &quot;AllowedValues&quot; : [ &quot;t2.nano&quot;,
        &quot;t1.micro&qu[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=billyaws2&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141630Z
      X-Amz-Content-Sha256:
      - e9b77173a750ce41e8f0304e30559d514837a533da0bf9916095ff91dce11682
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=64c45daf96615f8ceb083cede41684c55412335d528324ae3c8670956ac84e84
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 70888e52-8ae1-4853-9da4-290640dfc8a5
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2020-07-27T15:26:45.327Z</LastUpdatedTimestamp>
                <PhysicalResourceId>igw-0b2a650fefdb85a99</PhysicalResourceId>
                <ResourceStatus>DELETE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>InternetGateway</LogicalResourceId>
                <ResourceType>AWS::EC2::InternetGateway</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2020-07-27T15:26:29.516Z</LastUpdatedTimestamp>
                <ResourceStatus>DELETE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>VPC</LogicalResourceId>
                <ResourceType>AWS::EC2::VPC</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>70888e52-8ae1-4853-9da4-290640dfc8a5</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:30 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=test-aws&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141630Z
      X-Amz-Content-Sha256:
      - 2410c88bee9b6143265f69c7f5093ea089831cc2ae7cd4eadd38907b57c660df
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6beee1f5f6c051128eed8d122137eb68632cb98a0568d3c2d64f8fa41b990ed7
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e7290d19-f1c2-4981-8905-4e8e96da29a7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2019-05-14T20:33:53.731Z</LastUpdatedTimestamp>
                <ResourceStatus>CREATE_FAILED</ResourceStatus>
                <ResourceStatusReason>Invalid id: &quot;4b14a92e-84c8-4770-9245-91ecb8501cc2&quot; (expecting &quot;ami-...&quot;) (Service: AmazonEC2; Status Code: 400; Error Code: InvalidAMIID.Malformed; Request ID: e4d3e811-82ee-4a02-84a6-1f34a51850f0)</ResourceStatusReason>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>TestServer</LogicalResourceId>
                <ResourceType>AWS::EC2::Instance</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>e7290d19-f1c2-4981-8905-4e8e96da29a7</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:31 GMT
[...]
- request:
    method: post
    uri: https://rds.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeDBInstances&Version=2014-10-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141633Z
      X-Amz-Content-Sha256:
      - e6281fe3d540e3e1ccd6bf0cca945a0e0af993d4dd5a6b31ca021f6fc7982b0b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/rds/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f9059c299ba9fe59d65f29f735b8a070bf14a5e505a1ba770e93ea2859373885
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8e744065-bbec-43be-9345-331dc636c7f8
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
          <DescribeDBInstancesResult>
            <DBInstances>
              <DBInstance>
                <AllocatedStorage>1</AllocatedStorage>
                <AssociatedRoles/>
                <DBParameterGroups>
                  <DBParameterGroup>
                    <DBParameterGroupName>default.aurora5.6</DBParameterGroupName>
                    <ParameterApplyStatus>in-sync</ParameterApplyStatus>
                  </DBParameterGroup>
                </DBParameterGroups>
                <AvailabilityZone>us-east-1a</AvailabilityZone>
                <DBSecurityGroups/>
                <EngineVersion>5.6.10a</EngineVersion>
                <MasterUsername>admin</MasterUsername>
                <InstanceCreateTime>2016-01-26T15:31:12.871Z</InstanceCreateTime>
                <DBInstanceClass>db.r3.large</DBInstanceClass>
                <HttpEndpointEnabled>false</HttpEndpointEnabled>
                <ReadReplicaDBInstanceIdentifiers/>
                <MonitoringInterval>0</MonitoringInterval>
                <DBInstanceStatus>available</DBInstanceStatus>
                <BackupRetentionPeriod>1</BackupRetentionPeriod>
                <PromotionTier>1</PromotionTier>
                <OptionGroupMemberships>
                  <OptionGroupMembership>
                    <OptionGroupName>default:aurora-5-6</OptionGroupName>
                    <Status>in-sync</Status>
                  </OptionGroupMembership>
                </OptionGroupMemberships>
                <DBClusterIdentifier>auroratest-cluster</DBClusterIdentifier>
                <CACertificateIdentifier>rds-ca-2015</CACertificateIdentifier>
                <DbInstancePort>0</DbInstancePort>
                <DbiResourceId>db-7Y3DXPBDODLBGUU626OQWHCDEI</DbiResourceId>
                <PreferredBackupWindow>07:31-08:01</PreferredBackupWindow>
                <DeletionProtection>false</DeletionProtection>
                <DBInstanceIdentifier>auroratest</DBInstanceIdentifier>
                <DBInstanceArn>arn:aws:rds:us-east-1:200278856672:db:auroratest</DBInstanceArn>
                <Endpoint>
                  <HostedZoneId>Z2R2ITUGPM61AM</HostedZoneId>
                  <Address>auroratest.cxw5bjh2iv6i.us-east-1.rds.amazonaws.com</Address>
                  <Port>3306</Port>
                </Endpoint>
                <Engine>aurora</Engine>
                <PubliclyAccessible>true</PubliclyAccessible>
                <IAMDatabaseAuthenticationEnabled>false</IAMDatabaseAuthenticationEnabled>
                <DBName>mytestdb</DBName>
                <MultiAZ>false</MultiAZ>
                <DomainMemberships/>
                <StorageEncrypted>false</StorageEncrypted>
                <DBSubnetGroup>
                  <VpcId>vpc-aee2a6ca</VpcId>
                  <Subnets>
                    <Subnet>
                      <SubnetIdentifier>subnet-e88815d5</SubnetIdentifier>
                      <SubnetStatus>Active</SubnetStatus>
                      <SubnetOutpost/>
                      <SubnetAvailabilityZone>
                        <Name>us-east-1a</Name>
                      </SubnetAvailabilityZone>
                    </Subnet>
                    <Subnet>
                      <SubnetIdentifier>subnet-5f639a75</SubnetIdentifier>
                      <SubnetStatus>Active</SubnetStatus>
                      <SubnetOutpost/>
                      <SubnetAvailabilityZone>
                        <Name>us-east-1e</Name>
                      </SubnetAvailabilityZone>
                    </Subnet>
                    <Subnet>
                      <SubnetIdentifier>subnet-56f55f20</SubnetIdentifier>
                      <SubnetStatus>Active</SubnetStatus>
                      <SubnetOutpost/>
                      <SubnetAvailabilityZone>
                        <Name>us-east-1b</Name>
                      </SubnetAvailabilityZone>
                    </Subnet>
                    <Subnet>
                      <SubnetIdentifier>subnet-bc418ce4</SubnetIdentifier>
                      <SubnetStatus>Active</SubnetStatus>
                      <SubnetOutpost/>
                      <SubnetAvailabilityZone>
                        <Name>us-east-1d</Name>
                      </SubnetAvailabilityZone>
                    </Subnet>
                  </Subnets>
                  <SubnetGroupStatus>Complete</SubnetGroupStatus>
                  <DBSubnetGroupDescription>Created from the RDS Management Console</DBSubnetGroupDescription>
                  <DBSubnetGroupName>default-vpc-aee2a6ca</DBSubnetGroupName>
                </DBSubnetGroup>
                <VpcSecurityGroups>
                  <VpcSecurityGroupMembership>
                    <VpcSecurityGroupId>sg-9593cdec</VpcSecurityGroupId>
                    <Status>active</Status>
                  </VpcSecurityGroupMembership>
                </VpcSecurityGroups>
                <LicenseModel>general-public-license</LicenseModel>
                <PendingModifiedValues/>
                <PreferredMaintenanceWindow>sun:03:23-sun:03:53</PreferredMaintenanceWindow>
                <StorageType>aurora</StorageType>
                <CopyTagsToSnapshot>false</CopyTagsToSnapshot>
                <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>
              </DBInstance>
              <DBInstance>
                <AllocatedStorage>1</AllocatedStorage>
                <AssociatedRoles/>
                <DBParameterGroups>
                  <DBParameterGroup>
                    <DBParameterGroupName>default.aurora-postgresql10</DBParameterGroupName>
                    <ParameterApplyStatus>in-sync</ParameterApplyStatus>
                  </DBParameterGroup>
                </DBParameterGroups>
                <AvailabilityZone>us-east-1b</AvailabilityZone>
                <DBSecurityGroups/>
                <PerformanceInsightsKMSKeyId>arn:aws:kms:us-east-1:200278856672:key/03870bb9-0c2e-4476-81cd-215699c9c372</PerformanceInsightsKMSKeyId>
                <EnhancedMonitoringResourceArn>arn:aws:logs:us-east-1:200278856672:log-group:RDSOSMetrics:log-stream:db-K3YQ227BQD3QVZ726AKPQXBWJ4</EnhancedMonitoringResourceArn>
                <PerformanceInsightsRetentionPeriod>7</PerformanceInsightsRetentionPeriod>
                <EngineVersion>10.7</EngineVersion>
                <MasterUsername>postgres</MasterUsername>
                <InstanceCreateTime>2019-10-30T15:06:04.219Z</InstanceCreateTime>
                <DBInstanceClass>db.r5.large</DBInstanceClass>
                <HttpEndpointEnabled>false</HttpEndpointEnabled>
                <ReadReplicaDBInstanceIdentifiers/>
                <MonitoringInterval>60</MonitoringInterval>
                <DBInstanceStatus>available</DBInstanceStatus>
                <BackupRetentionPeriod>7</BackupRetentionPeriod>
                <PromotionTier>1</PromotionTier>
                <KmsKeyId>arn:aws:kms:us-east-1:200278856672:key/03870bb9-0c2e-4476-81cd-215699c9c372</KmsKeyId>
                <OptionGroupMemberships>
                  <OptionGroupMembership>
                    <OptionGroupName>default:aurora-postgresql-10</OptionGroupName>
                    <Status>in-sync</Status>
                  </OptionGroupMembership>
                </OptionGroupMemberships>
                <DBClusterIdentifier>tcoufal-test</DBClusterIdentifier>
                <CACertificateIdentifier>rds-ca-2015</CACertificateIdentifier>
                <DbInstancePort>0</DbInstancePort>
                <DbiResourceId>db-K3YQ227BQD3QVZ726AKPQXBWJ4</DbiResourceId>
                <PreferredBackupWindow>09:28-09:58</PreferredBackupWindow>
                <DeletionProtection>false</DeletionProtection>
                <DBInstanceIdentifier>tcoufal-test-instance-1</DBInstanceIdentifier>
                <DBInstanceArn>arn:aws:rds:us-east-1:200278856672:db:tcoufal-test-instance-1</DBInstanceArn>
                <Endpoint>
                  <HostedZoneId>Z2R2ITUGPM61AM</HostedZoneId>
                  <Address>tcoufal-test-instance-1.cxw5bjh2iv6i.us-east-1.rds.amazonaws.com</Address>
                  <Port>5432</Port>
                </Endpoint>
                <Engine>aurora-postgresql</Engine>
                <PubliclyAccessible>true</PubliclyAccessible>
                <IAMDatabaseAuthenticationEnabled>false</IAMDatabaseAuthenticationEnabled>
                <PerformanceInsightsEnabled>true</PerformanceInsightsEnabled>
                <MultiAZ>false</MultiAZ>
                <DomainMemberships/>
                <MonitoringRoleArn>arn:aws:iam::200278856672:role/rds-monitoring-role</MonitoringRoleArn>
                <StorageEncrypted>true</StorageEncrypted>
                <DBSubnetGroup>
                  <VpcId>vpc-aee2a6ca</VpcId>
                  <Subnets>
                    <Subnet>
                      <SubnetIdentifier>subnet-e88815d5</SubnetIdentifier>
                      <SubnetStatus>Active</SubnetStatus>
                      <SubnetOutpost/>
                      <SubnetAvailabilityZone>
                 [...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141633Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b9c90f5bfee0086cd413f50e58076f23fb74b94436a6639d415fe62d903b8520
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 910ce4a0-2e34-4a9b-9419-5a497e24a72e
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>910ce4a0-2e34-4a9b-9419-5a497e24a72e</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-0908219546812fe3e</imageId>
                    <imageLocation>200278856672/dberger-clone</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2018-08-27T21:46:13.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>dberger-clone</name>
                    <description>Clone of bronagh1213</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/xvda</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/xvda</deviceName>
                            <ebs>
                                <snapshotId>snap-07e530b95d909f36d</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                    <platformDetails>Linux/UNIX</platformDetails>
                    <usageOperation>RunInstances</usageOperation>
                </item>
                <item>
                    <imageId>ami-098d7f1f</imageId>
                    <imageLocation>200278856672/lads_image_from_volume</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-01-27T15:52:29.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <name>lads_image_from_volume</name>
                    <description/>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-0fb2163b24646b146</snapshotId>
                                <volumeSize>1</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value/>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                    <platformDetails>Linux/UNIX</platformDetails>
                    <usageOperation>RunInstances</usageOperation>
                </item>
                <item>
                    <imageId>ami-0ab890a339eea2c30</imageId>
                    <imageLocation>200278856672/import-ami-05d2b5aaa6314b50e</imageLocation>
        [...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141634Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=af49f3807fb09f1865d8666c3384be85f44b72d88c89107b0e98f65917e71429
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f1dcdc39-d915-40c7-866b-f13d1435ba92
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>f1dcdc39-d915-40c7-866b-f13d1435ba92</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1842f370</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-8b5739f2</instanceId>
                            <imageId>ami-5769193e</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2020-08-12T14:11:40.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-1eceaf77</kernelId>
[...]
