---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081422Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f1153305ac769ef6fa2748de957f1a85ce85b86144f0ac31f36d4d15f7fce568
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>de123fd3-def4-456b-b253-66af8472c532</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-west-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:23 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081423Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=699cbfe0efaa9c6e4e8646f7b00e3c5a85bf1cdedbe290d936bfb8966e132c5b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>04f9336a-443d-4e6d-be19-356b96e41507</requestId>
            <keySet>
                <item>
                    <keyName>bronagh-west1</keyName>
                    <keyFingerprint>29:a0:34:e9:01:b1:28:d0:01:ae:e0:73:ca:dd:ea:2f:14:c4:e1:d6</keyFingerprint>
                </item>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                    <keyFingerprint>fc:53:30:aa:d2:23:c7:8d:e2:e8:05:95:a0:d2:90:fb:15:30:a2:51</keyFingerprint>
                </item>
                <item>
                    <keyName>jf-west-1</keyName>
                    <keyFingerprint>5f:a8:de:1b:56:ba:3c:12:78:13:79:d6:d0:1d:b9:12:7d:b9:6d:91</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:24 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081424Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=e39ad556da5a4a2a05d8d97d0884c139e61c2cb6e488ccc7fd65d8a142571816
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b280a64b-a292-11e7-9bde-35aa7aace580
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks/>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>b280a64b-a292-11e7-9bde-35aa7aace580</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:25 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081425Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=525e60151173bd55c9317be1bdca633bda4dd00188faf835173bbedcded90896
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>c2a35e22-1040-450e-934e-fa06114a2620</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-183e175d</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image-OtherRegion</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:05.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-36b79b73</kernelId>
                    <name>EmsRefreshSpec-Image-OtherRegion</name>
                    <description>EmsRefreshSpec-Image-OtherRegion</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-02ef440a</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:26 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081429Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0356ec7dfc7975684892f1e821b45133e46a89a2d9bc91fe748c714e442f823d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>cad16032-7c97-4986-8048-b04c62640f96</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-18afd25e</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-e94055ac</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-fdd815a4</instanceId>
                            <imageId>ami-3bc9997e</imageId>
                            <instanceState>
                                <code>272</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-160-177-126.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-184-169-243-31.us-west-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2012-10-01T18:11:04.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-99a0f1dc</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.160.177.126</privateIpAddress>
                            <ipAddress>184.169.243.31</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>i386</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-93f7b6bd</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-10-01T18:11:08.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>5bfd4308-0bf3-11e2-96b9-a4b197fffe9a</clientToken>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-9fde5ac4</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-2b87746f</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-OtherRegion</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-dc1ee486</instanceId>
                            <imageId>ami-183e175d</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-191-129-95.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-204-236-137-154.us-west-1.compute.amazonaws.com</dnsName>
                            <reason>Server.InternalError</reason>
                            <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2013-08-31T00:12:43.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                 [...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081434Z
      X-Amz-Content-Sha256:
      - d821ac2c2958664a08eb0f0b183ebf80201e8a50da5d9e98eca9bc36ef648656
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5b270d2f24d31062a6ad9c46ec27bbf09bf2859bcc1139ae8bccfd9f048854a8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>fa1d59ea-642a-4036-af2d-51d9c34ed023</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <state>available</state>
                    <cidrBlock>172.30.0.0/16</cidrBlock>
                    <cidrBlockAssociationSet>
                        <item>
                            <cidrBlock>172.30.0.0/16</cidrBlock>
                            <associationId>vpc-cidr-assoc-67f82f0e</associationId>
                            <cidrBlockState>
                                <state>associated</state>
                            </cidrBlockState>
                        </item>
                    </cidrBlockAssociationSet>
                    <dhcpOptionsId>dopt-d0617fb5</dhcpOptionsId>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:35 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081435Z
      X-Amz-Content-Sha256:
      - 4458b81adb7ad686766b11e1bb41ad4b186e7cfb44c26a0b7ade703866d0fca0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0aee40b9ce2c9ba7f028b37d93ba6c85868caeef0ce20312dc521173c7fb54ed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>7de53fe2-9667-49e7-b1a5-39326edcbf7e</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-ea63c9b2</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <cidrBlock>172.30.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-west-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
                <item>
                    <subnetId>subnet-57167333</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <cidrBlock>172.30.2.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>250</availableIpAddressCount>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:37 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081437Z
      X-Amz-Content-Sha256:
      - 398587829763af2624ad0faa257a51949217b85bb2957c3948946c38ab0fddac
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a37c2a7da1267caf2f91d36fe448e02e9747febeb02bd3109d185a7757bb3bad
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>1a856c68-8d97-49fa-af6f-cb6fa2a60822</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-e94055ac</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default group</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>65535</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groups>
                            <ipRanges/>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>udp</ipProtocol>
                   [...]
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081440Z
      X-Amz-Content-Sha256:
      - 19ba5dc918b1e927d0c1a179e1bed2a393fa8987b6fbc66e756823d414115566
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a8416373790798efb9dc0bef695908d0171aa03c00ee9d265bc8723d755e8cf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d76999b4-afae-492f-9c80-8d938d27cacb</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-ca94d9e0</networkInterfaceId>
                    <subnetId>subnet-57167333</subnetId>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <description>Primary network interface</description>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>02:ae:92:86:f5:e2</macAddress>
                    <privateIpAddress>172.30.2.38</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-84be0fe3</groupId>
                            <groupName>launch-wizard-1</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-f192739f</attachmentId>
                        <instanceId>i-0536cdd458e6648a1</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2017-02-09T18:05:41.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>54.215.233.17</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>amazon</ipOwnerId>
                        <natEnabled>true</natEnabled>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>172.30.2.38</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>54.215.233.17</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>amazon</ipOwnerId>
                                <natEnabled>true</natEnabled>
                            </association>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                    <interfaceType>interface</interfaceType>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:41 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081441Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=fbde2b79b93058c592f38bc4f9104917d9469c7c3f6191d9261f7cd7e568bcf5
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bca6759c-a292-11e7-8f7c-df81d9b5c958
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions/>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>bca6759c-a292-11e7-8f7c-df81d9b5c958</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:42 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081444Z
      X-Amz-Content-Sha256:
      - 64c2b3b3e9d5b907d967a34cae3881d465039ab97edd1648478bb0195096a489
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ae3697439eeb4699a26b720fc26d005bcb93a95e86424fc0aee8e0422ce62597
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>2b6c0250-b80a-4d0a-957e-690d69d74f38</requestId>
            <addressesSet>
                <item>
                    <publicIp>54.215.0.230</publicIp>
                    <domain>standard</domain>
                    <instanceId/>
                </item>
            </addressesSet>
        </DescribeAddressesResponse>
  recorded_at: Tue, 26 Sep 2017 08:14:46 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVolumes&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081446Z
      X-Amz-Content-Sha256:
      - 925be3c8fc6870a890a6670574a88c988b51f13d9ea74f458ce9b6972534f164
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=7e8cd526e1c774b75ccc376f0d9982426a9d881220284768eb894e5304e4d58a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVolumesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>a6f90b0e-f680-4f85-b865-b904e4b0654c</requestId>
            <volumeSet>
                <item>
                    <volumeId>vol-e2d90ab6</volumeId>
                    <size>7</size>
                    <snapshotId>snap-02ef440a</snapshotId>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <status>in-use</status>
                    <createTime>2013-08-31T00:12:46.000Z</createTime>
                    <attachmentSet>
                        <item>
                            <volumeId>vol-e2d90ab6</volumeId>
                            <instanceId>i-dc1ee486</instanceId>
                            <device>/dev/sda1</device>
                            <status>attached</status>
                            <attachTime>2013-08-31T00:12:46.000Z</attachTime>
                            <deleteOnTermination>true</deleteOnTermination>
                        </item>
                    </attachmentSet>
                    <volumeType>standard</volumeType>
                    <encrypted>false</encrypted>
                </item>
                <item>
                    <volumeId>vol-93f7b6bd</volumeId>
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSnapshots&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081448Z
      X-Amz-Content-Sha256:
      - 198438dba11e3ce3807802118c2500dc7ec3fcda2f43c86e579dfb6049e0f159
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-west-1/ec2/aws4_request,
[...]
