---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100657Z
      X-Amz-Content-Sha256:
      - dec1bb222552f9578a07c806de7c1c653ed3fd14da0ef675ec9cd74d81b06cfc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=58074f20a2d7fd50ba065fea9661f9f6787b645d890234e1d903d68afcaf90df
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>7af494aa-c1d0-4d42-a66c-85e4fd4345f7</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-west-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Fri, 21 Oct 2016 10:06:58 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100658Z
      X-Amz-Content-Sha256:
      - 66676a7bdb3a8a280e5eed4b7ed4e94012acf2afdb1d9c984590b64fca8c7e08
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=1a4f03860e4563f427e0ba39662c64e54d83374e69668f65d75d7dbe3a4d57c0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>3034580c-eb36-4faa-8aba-12c52e86fef8</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                    <keyFingerprint>fc:53:30:aa:d2:23:c7:8d:e2:e8:05:95:a0:d2:90:fb:15:30:a2:51</keyFingerprint>
                </item>
                <item>
                    <keyName>jf-west-1</keyName>
                    <keyFingerprint>5f:a8:de:1b:56:ba:3c:12:78:13:79:d6:d0:1d:b9:12:7d:b9:6d:91</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Fri, 21 Oct 2016 10:06:59 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100659Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5608baf80020b74d396da1bd8897c1c419de7ff281bba80977a5667f5e786db6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1b404301-9776-11e6-9361-b11cd60adf53
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2016-05-11T22:19:44.800Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-west-1:200278856672:stack/amazon-stack/76f1cb60-17c6-11e6-9f78-50fae8e994c6</StackId>
                <StackName>amazon-stack</StackName>
                <Description>Create an EC2 instance running the Amazon Linux 32 bit AMI.</Description>
                <StackStatus>CREATE_FAILED</StackStatus>
                <DisableRollback>true</DisableRollback>
                <Tags/>
                <StackStatusReason>The following resource(s) failed to create: [Ec2Instance]. </StackStatusReason>
                <Parameters>
                  <member>
                    <ParameterKey>KeyPair</ParameterKey>
                    <ParameterValue>userkey</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>1b404301-9776-11e6-9361-b11cd60adf53</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:00 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=amazon-stack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100701Z
      X-Amz-Content-Sha256:
      - 85a54e3e0a7c9936f57c63c184a405c51cb647ed0f64c4923ab4b94f2922da80
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=670abf249dd7d6b86cfb4582c216f4fc6f59735286a5ed4e9fedd79203b7ada6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1c80b24c-9776-11e6-9361-b11cd60adf53
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2016-05-11T22:19:49.350Z</LastUpdatedTimestamp>
                <ResourceStatus>CREATE_FAILED</ResourceStatus>
                <ResourceStatusReason>The image id '[ami-3b355a52]' does not exist</ResourceStatusReason>
                <LogicalResourceId>Ec2Instance</LogicalResourceId>
                <ResourceType>AWS::EC2::Instance</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>1c80b24c-9776-11e6-9361-b11cd60adf53</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:02 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=amazon-stack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100702Z
      X-Amz-Content-Sha256:
      - 6169c9a55ba899f203c94ac5b1dd72aeaf62b62117f36772583ae818d4c7f6dc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b3db116d76687157d7ba3a830c6292414de8fa8055f824fe999710751eb11b45
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1d121cb9-9776-11e6-8047-992ef455c968
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n\n    &quot;Description&quot;
        : &quot;Create an EC2 instance running the Amazon Linux 32 bit AMI.&quot;,\n\n
        \   &quot;Parameters&quot; : {\n\n        &quot;KeyPair&quot; : {\n\n            &quot;Description&quot;
        : &quot;The EC2 Key Pair to allow SSH access to the instance&quot;,\n\n            &quot;Type&quot;
        : &quot;String&quot;\n\n        }\n\n    },\n\n    &quot;Resources&quot; :
        {\n\n        &quot;Ec2Instance&quot; : {\n\n            &quot;Type&quot; :
        &quot;AWS::EC2::Instance&quot;,\n\n            &quot;Properties&quot; : {\n\n
        \               &quot;KeyName&quot; : { &quot;Ref&quot; : &quot;KeyPair&quot;
        },\n\n                &quot;ImageId&quot; : &quot;ami-3b355a52&quot;\n\n            }\n\n
        \       }\n\n    },\n\n    &quot;Outputs&quot; : {\n\n        &quot;InstanceId&quot;
        : {\n\n            &quot;Description&quot; : &quot;The InstanceId of the newly
        created EC2 instance&quot;,\n\n            &quot;Value&quot; : {\n\n                &quot;Ref&quot;
        : &quot;Ec2Instance&quot;\n\n            }\n\n        }\n\n    },\n\n    &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;\n\n}   \n</TemplateBody>\n  </GetTemplateResult>\n
        \ <ResponseMetadata>\n    <RequestId>1d121cb9-9776-11e6-8047-992ef455c968</RequestId>\n
        \ </ResponseMetadata>\n</GetTemplateResponse>\n"
  recorded_at: Fri, 21 Oct 2016 10:07:03 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100703Z
      X-Amz-Content-Sha256:
      - db79e4df9ed35f35cf42da7e91827cb59b4430f397d1929fe355e7bab80b4ef4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=42fcd27bc453a6be0025eb033c60c0f0b95eb3a8b6e7459b4114a6370586c7d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>37cee8e2-fded-4b8c-bc6d-69820768563b</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-183e175d</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image-OtherRegion</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:05.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-36b79b73</kernelId>
                    <name>EmsRefreshSpec-Image-OtherRegion</name>
                    <description>EmsRefreshSpec-Image-OtherRegion</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-02ef440a</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:04 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100705Z
      X-Amz-Content-Sha256:
      - 7371039207d67c4be2f6abbb39dcd980a6861eef125be9b5437a5f5308278f8c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=87d9803ef44495bd7d64ab2ea292e0d31457ad4775d83b934220d8287e3270f6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>f78be825-024f-434e-bcb9-12e2fb7ab7d6</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-18afd25e</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-e94055ac</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-fdd815a4</instanceId>
                            <imageId>ami-3bc9997e</imageId>
                            <instanceState>
                                <code>272</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-160-177-126.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-184-169-243-31.us-west-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2012-10-01T18:11:04.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-99a0f1dc</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.160.177.126</privateIpAddress>
                            <ipAddress>184.169.243.31</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>i386</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-93f7b6bd</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-10-01T18:11:08.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>5bfd4308-0bf3-11e2-96b9-a4b197fffe9a</clientToken>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-9fde5ac4</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-2b87746f</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-OtherRegion</groupName>
                        </item>
     [...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100708Z
      X-Amz-Content-Sha256:
      - 9f20d995ddde903a6362496508f3ff1338be9f93bab47b71d552e0e5be8111cd
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=4c5a79ae7ecc2a1841cb91a17ada3d78140c5483807637c1aa13cdc7f638061e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>b263b2f1-12bf-428f-acc0-2ae94d995acf</requestId>
            <vpcSet/>
        </DescribeVpcsResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:10 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100710Z
      X-Amz-Content-Sha256:
      - 32139739605596d414a1e5451e72a8d98a798c5a6840f62f9c828af193da6c60
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=500a007a9aa9ffc62b63487b3e30e38ba15818e733e2b1f64a6e3e6b03938052
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>c2490882-e1ce-45c1-aa08-7e6d121741d1</requestId>
            <subnetSet/>
        </DescribeSubnetsResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:11 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100711Z
      X-Amz-Content-Sha256:
      - 106f344e853e62716912efa6fa6279cc6adda200c0e144a1c1e3545e1cf48590
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=850a5c29ec2c48ae809718886615e8394864e4443b5115aaa80266d18aea8e28
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>6e92e546-a6b9-49d9-ba6c-93e4b74e605e</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-e94055ac</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default group</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>65535</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groups>
                            <ipRanges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>udp</ipProtocol>
                            <fromPort>0</fromPort>
          [...]
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100713Z
      X-Amz-Content-Sha256:
      - 6115b79fae83cedb160ef3bbe412b544ed0aa3d50976870201b26327ba9e090e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=df4db9eabf5f453d2b4db9bfc3e6f7276a61b2999b30b452697930fffde3d7d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>aceda1fe-af34-4fd7-81fb-5f66dcfa1304</requestId>
            <networkInterfaceSet/>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:14 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100714Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=40af41dc409f6c5ce6ba9981052bd772d16e269049df9e5ee0235d5eb29fcb2e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 24983a78-9776-11e6-8a33-d521d501ac55
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions/>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>24983a78-9776-11e6-8a33-d521d501ac55</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:15 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161021T100717Z
      X-Amz-Content-Sha256:
      - cba832a809fc0e56970fb7d5d4c2af46b662447e1a253b1f00e6f29b3c4d32a6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161021/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b419dbee2a305af4e9c86e1c16824b06bd82a5b517be1ba48247cf20eb80715c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>e87e5f55-5c7e-46cd-b72b-0c857ecac59f</requestId>
            <addressesSet>
                <item>
                    <publicIp>54.215.0.230</publicIp>
                    <domain>standard</domain>
                    <instanceId/>
                </item>
            </addressesSet>
        </DescribeAddressesResponse>
  recorded_at: Fri, 21 Oct 2016 10:07:18 GMT
recorded_with: VCR 3.0.3
