---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143846Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2e87c0623df37b7a00a0bf21a5436050199ab28c595cfe8abe6c831b695518d4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d466cdf0-20ee-4a7e-bba8-02d003a62f5d</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-west-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:46 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143846Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=dbe87e74d6af246b5f5672c7d930c0a4a3e799b468cb39f3ca18bc0649ed8cae
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>02ea2a72-4411-44d6-8fdd-fa86aa35db72</requestId>
            <keySet>
                <item>
                    <keyName>bronagh-west1</keyName>
                    <keyFingerprint>29:a0:34:e9:01:b1:28:d0:01:ae:e0:73:ca:dd:ea:2f:14:c4:e1:d6</keyFingerprint>
                </item>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                    <keyFingerprint>fc:53:30:aa:d2:23:c7:8d:e2:e8:05:95:a0:d2:90:fb:15:30:a2:51</keyFingerprint>
                </item>
                <item>
                    <keyName>jf-west-1</keyName>
                    <keyFingerprint>5f:a8:de:1b:56:ba:3c:12:78:13:79:d6:d0:1d:b9:12:7d:b9:6d:91</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:47 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143847Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=fc751a498a8c40af1685ee1517b4e5cf08b16e094d66337824e9b031ffd1d9a3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6c6dc306-0fd6-11e7-b8e5-ab2ee8e0cdff
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks/>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>6c6dc306-0fd6-11e7-b8e5-ab2ee8e0cdff</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:48 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143848Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=85e60cdd56b1fc17a7c30e5316866a88701248ac65d8ac0d41e65697429c967b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>02827e60-15b9-43a3-b2eb-e0c6fa156ea4</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-183e175d</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image-OtherRegion</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:05.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-36b79b73</kernelId>
                    <name>EmsRefreshSpec-Image-OtherRegion</name>
                    <description>EmsRefreshSpec-Image-OtherRegion</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-02ef440a</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:49 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143850Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c37f8ad7aa122b4ec84e7db1f1579a6f522945068c54e2a824293acafe7163b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>ba3460d5-9e16-44d7-a957-36e766336b8a</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-18afd25e</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-e94055ac</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-fdd815a4</instanceId>
                            <imageId>ami-3bc9997e</imageId>
                            <instanceState>
                                <code>272</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-160-177-126.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-184-169-243-31.us-west-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2012-10-01T18:11:04.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-99a0f1dc</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.160.177.126</privateIpAddress>
                            <ipAddress>184.169.243.31</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>i386</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-93f7b6bd</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-10-01T18:11:08.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>5bfd4308-0bf3-11e2-96b9-a4b197fffe9a</clientToken>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-9fde5ac4</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-2b87746f</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-OtherRegion</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-dc1ee486</instanceId>
                            <imageId>ami-183e175d</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-191-129-95.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-204-236-137-154.us-west-1.compute.amazonaws.com</dnsName>
                            <reason>Server.InternalError</reason>
                            <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2013-08-31T00:12:43.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                 [...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143851Z
      X-Amz-Content-Sha256:
      - d821ac2c2958664a08eb0f0b183ebf80201e8a50da5d9e98eca9bc36ef648656
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=d21420381ca15e619f540af8c1fcc1b5d103125fe371d03fffb26deffe4fea99
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d9c400da-bacc-4d97-9adf-5c49e180b2c6</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <state>available</state>
                    <cidrBlock>172.30.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-d0617fb5</dhcpOptionsId>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:52 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143852Z
      X-Amz-Content-Sha256:
      - 4458b81adb7ad686766b11e1bb41ad4b186e7cfb44c26a0b7ade703866d0fca0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0f654a29d7223955becea12d7637b4a13ae1c937ad0d6622c7288569331ab5a0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>25829578-5bc6-4535-b8fa-84f01b03ea26</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-ea63c9b2</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <cidrBlock>172.30.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-west-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
                <item>
                    <subnetId>subnet-57167333</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <cidrBlock>172.30.2.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>250</availableIpAddressCount>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:53 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143853Z
      X-Amz-Content-Sha256:
      - 398587829763af2624ad0faa257a51949217b85bb2957c3948946c38ab0fddac
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b9bae19e0a300657f8ea0097ea73d490ceb3896f613ca55fe5cda9cafe799c21
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>686e6ee8-18d2-4966-aa66-725cb48b26ad</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-e94055ac</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default group</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>65535</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groups>
                            <ipRanges/>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>udp</ipProtocol>
                   [...]
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143854Z
      X-Amz-Content-Sha256:
      - 19ba5dc918b1e927d0c1a179e1bed2a393fa8987b6fbc66e756823d414115566
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8dfc5ab3e10b1b2495932f101b5429cb9519e2ea5c854386b76ed3e390f1dec8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>7fa1a241-7401-4e39-a9e2-9ca0f1c914b9</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-ca94d9e0</networkInterfaceId>
                    <subnetId>subnet-57167333</subnetId>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <description>Primary network interface</description>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>02:ae:92:86:f5:e2</macAddress>
                    <privateIpAddress>172.30.2.38</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-84be0fe3</groupId>
                            <groupName>launch-wizard-1</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-f192739f</attachmentId>
                        <instanceId>i-0536cdd458e6648a1</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2017-02-09T18:05:41.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>54.215.233.17</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>amazon</ipOwnerId>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>172.30.2.38</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>54.215.233.17</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>amazon</ipOwnerId>
                            </association>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:55 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143855Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=aceb5dde1550cbd97803426f35d2b3682b095eedc638e18d8e0eb7b3cbcf76fb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7140cee2-0fd6-11e7-8959-a56067e88f00
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions/>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>7140cee2-0fd6-11e7-8959-a56067e88f00</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:56 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143857Z
      X-Amz-Content-Sha256:
      - 64c2b3b3e9d5b907d967a34cae3881d465039ab97edd1648478bb0195096a489
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=77725b3271492c464c511415ba30c4bae460abb0e48bf9e819f2f88d50ca357e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>eb74f8e4-0d00-4726-aabf-603a29c24e63</requestId>
            <addressesSet>
                <item>
                    <publicIp>54.215.0.230</publicIp>
                    <domain>standard</domain>
                    <instanceId/>
                </item>
            </addressesSet>
        </DescribeAddressesResponse>
  recorded_at: Thu, 23 Mar 2017 14:38:58 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVolumes&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143858Z
      X-Amz-Content-Sha256:
      - 925be3c8fc6870a890a6670574a88c988b51f13d9ea74f458ce9b6972534f164
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=fdf5753a6f6eb49ea5ed24eeadacda2b877504c8cc44deec5b6cba7390d5fb8b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVolumesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>50b98f43-db9f-491a-8d64-7a2e0cef6f04</requestId>
            <volumeSet>
                <item>
                    <volumeId>vol-e2d90ab6</volumeId>
                    <size>7</size>
                    <snapshotId>snap-02ef440a</snapshotId>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <status>in-use</status>
                    <createTime>2013-08-31T00:12:46.000Z</createTime>
                    <attachmentSet>
                        <item>
                            <volumeId>vol-e2d90ab6</volumeId>
                            <instanceId>i-dc1ee486</instanceId>
                            <device>/dev/sda1</device>
                            <status>attached</status>
                            <attachTime>2013-08-31T00:12:46.000Z</attachTime>
                            <deleteOnTermination>true</deleteOnTermination>
                        </item>
                    </attachmentSet>
                    <volumeType>standard</volumeType>
                    <encrypted>false</encrypted>
                </item>
                <item>
                    <volumeId>vol-93f7b6bd</volumeId>
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSnapshots&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170323T143859Z
      X-Amz-Content-Sha256:
      - 198438dba11e3ce3807802118c2500dc7ec3fcda2f43c86e579dfb6049e0f159
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170323/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=87b67d39d2ad7b40dcf606017777fa2c9f4cd308bf20953bbd2183b767b66c3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSnapshotsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>f282f1be-707f-4477-8650-167afc7ec6fe</requestId>
            <snapshotSet>
                <item>
                    <snapshotId>snap-02ef440a</snapshotId>
                    <volumeId>vol-18b7d138</volumeId>
[...]
