---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115208Z
      X-Amz-Content-Sha256:
      - dec1bb222552f9578a07c806de7c1c653ed3fd14da0ef675ec9cd74d81b06cfc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a1a64e9c133ee2f3af0627295259cf0895c6965c6e743a294df3952983d50f36
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>944154fb-94ca-4460-bb3b-d7c6d65c96b9</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 11 Aug 2016 11:52:09 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115209Z
      X-Amz-Content-Sha256:
      - 66676a7bdb3a8a280e5eed4b7ed4e94012acf2afdb1d9c984590b64fca8c7e08
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=37822a3a2851336fbdcd09738300923e745602f045b3f5a1dc033a737d0f1879
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>f9d39bca-3bbd-4e75-8629-f9a582416b8c</requestId>
            <keySet>
                <item>
                    <keyName>bd</keyName>
                    <keyFingerprint>38:ac:a0:23:29:3b:0a:a8:0d:13:8c:d1:78:d7:9d:a8:cf:c9:42:03</keyFingerprint>
                </item>
                <item>
                    <keyName>bill</keyName>
                    <keyFingerprint>eb:13:8d:19:b1:9d:9f:8b:ea:e0:9b:0b:eb:ea:46:a7:b3:a9:76:99</keyFingerprint>
                </item>
                <item>
                    <keyName>db</keyName>
                    <keyFingerprint>dc:51:de:a0:74:de:8a:e1:c5:51:e6:d2:e2:d6:b8:0f</keyFingerprint>
                </item>
     [...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115210Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=551e460b3bda5eaa2e68703974c24a9abb5564635a23baca53a7e2a27377e87c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 099d7b2c-5fba-11e6-9fbc-5994d6bb0a68
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <Description>WordPress Website</Description>
                    <OutputKey>WebsiteURL</OutputKey>
                    <OutputValue>http://ec2-23-23-39-34.compute-1.amazonaws.com/wordpress</OutputValue>
                  </member>
                </Outputs>
                <Capabilities>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2016-08-11T11:47:58.354Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-110TKGO3S0A6W/72cb3f90-5fb9-11e6-ab2c-50d501eed2b3</StackId>
                <StackName>EmsRefreshSpecStack-WebServerInstance-110TKGO3S0A6W</StackName>
                <Description>AWS CloudFormation Sample Template WordPress_Simple: WordPress is web software you can use to create a beautiful website or blog. This template installs a single-instance WordPress deployment using a local MySQL database to store the data. It demonstrates using the AWS CloudFormation bootstrap scripts to install packages and files at instance launch time. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>true</DisableRollback>
                <Tags/>
                <Parameters>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t1.micro</ParameterValue>
                  </member>
                </Parameters>
              </member>
              <member>
                <Capabilities>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2016-08-11T11:47:52.457Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/6f60c460-5fb9-11e6-9cb7-500c28604ce6</StackId>
                <StackName>EmsRefreshSpecStack</StackName>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_FAILED</StackStatus>
                <DisableRollback>true</DisableRollback>
                <Tags/>
                <StackStatusReason>The following resource(s) failed to create: [OutBoundHTTPNetworkAclEntry, IPAddress, Route, InboundSSHNetworkAclEntry, WebServerWaitCondition, InboundResponsePortsNetworkAclEntry, OutBoundHTTPSNetworkAclEntry, InboundHTTPNetworkAclEntry]. </StackStatusReason>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>EmsRefreshSpec-KeyPair</ParameterValue>
                  </member>
                  <memb[...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=EmsRefreshSpecStack-WebServerInstance-110TKGO3S0A6W&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115212Z
      X-Amz-Content-Sha256:
      - a75466cd97f64a6a8294eb9c65eee6a49ab0f3ca7be290cee7b3aa70a5a7fac8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=24c17df8a6124c03daf529be308bac09694ab0f8e383b6510eb8e91b0b7136f5
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0aaa2fd9-5fba-11e6-b2d6-a99ed20ba2f1
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2016-08-11T11:49:13.637Z</LastUpdatedTimestamp>
                <PhysicalResourceId>i-d7754a49</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>WebServer</LogicalResourceId>
                <ResourceType>AWS::EC2::Instance</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2016-08-11T11:48:19.865Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRefreshSpecStack-WebServerInstance-110TKGO3S0A6W-WebServerSecurityGroup-K60KWXZHGJDE</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>WebServerSecurityGroup</LogicalResourceId>
                <ResourceType>AWS::EC2::SecurityGroup</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>0aaa2fd9-5fba-11e6-b2d6-a99ed20ba2f1</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Thu, 11 Aug 2016 11:52:12 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=EmsRefreshSpecStack-WebServerInstance-110TKGO3S0A6W&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115213Z
      X-Amz-Content-Sha256:
      - 7d9caf43ed432818e6909673fd2fa82ea51d912ab6aac7479eb69e1af7b2e66d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6e4ed5e527e76059649ca2cf23757e7a324b99bbc4eeeda5f0b0c1cc4702b4a6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0b361bf9-5fba-11e6-8f4f-2b57bc52a3d0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n  \n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template WordPress_Simple: WordPress is web software you can use to
        create a beautiful website or blog. This template installs a single-instance
        WordPress deployment using a local MySQL database to store the data. It demonstrates
        using the AWS CloudFormation bootstrap scripts to install packages and files
        at instance [...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115222Z
      X-Amz-Content-Sha256:
      - db79e4df9ed35f35cf42da7e91827cb59b4430f397d1929fe355e7bab80b4ef4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=39c9829c421eb98dfd1797479fbc413d78f7845c19df777c6e739e6090252141
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>b1bc51df-b5f5-4560-beef-1e89ed0510a0</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-20e90e49</imageId>
                    <imageLocation>jf-test-copy/jf-test-copy.img.manifest.xml</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate/>
                    <isPublic>false</isPublic>
                    <architecture>i386</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-a71cf9ce</kernelId>
                    <ramdiskId>ari-a51cf9cc</ramdiskId>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-25a81c4c</imageId>
                    <imageLocation>200278856672/suse-11-server-64</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2012-08-22T01:42:54.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-825ea7eb</kernelId>
                    <name>suse-11-server-64</name>
                    <description/>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-6eee471d</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>suse-11-server-64</value>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-320c005a</imageId>
                    <imageLocation>200278856672/t2 rhel 7.1</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2015-04-28T17:25:53.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <name>t2 rhel 7.1</name>
                    <description>rhel</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-8b289bec</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</de[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115225Z
      X-Amz-Content-Sha256:
      - 7371039207d67c4be2f6abbb39dcd980a6861eef125be9b5437a5f5308278f8c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a31e5d7f3fcec5c4ebde91dbe36db1ba1304b816f5948dc23c25506c6a083686
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>efbde5e3-afbe-4eed-82ee-d2f4f98a4579</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-d09f0c3c</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-347f9b5d</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-992f7665</instanceId>
                            <imageId>ami-069b9c6e</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName/>
                            <dnsName/>
                            <reason>User initiated (2015-09-29 13:59:57 GMT)</reason>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m3.xlarge</instanceType>
                            <launchTime>2015-04-28T20:10:29.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1d</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <groupSet>
                                <item>
                                    <groupId>sg-347f9b5d</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-779fdc30</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-04-20T21:29:09.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdf</deviceName>
                                    <ebs>
                                        <volumeId>vol-834804c4</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-04-21T13:56:38.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>mgf_cfme_raw1</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-a412fb1a</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-a2f533b4</groupId>
                            <groupName>EmsRefreshSpecStack-WebServerInstance-AXA0MAU4HBMO-WebServerSecurityGroup-13B5DSBJH0RX0</g[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115230Z
      X-Amz-Content-Sha256:
      - 9f20d995ddde903a6362496508f3ff1338be9f93bab47b71d552e0e5be8111cd
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6db2b8e6feba8f6b30d022a914d415b12e66b454a9ce274a05cba07a35e1bfeb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>c971b13c-9b23-49b9-9bd0-43f409fbfb17</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-a06de3c5</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>DemoVPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </ta[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-a06de3c5&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115231Z
      X-Amz-Content-Sha256:
      - de3e857f76ac682880b3f32e86d47c9ac8572e3ac181644c48538e4c761329a9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=389b8cd828a32af5c1b7a901ccf3132ec5342fb3f0f1d178131cb538b54c8a50
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>b64ad5a1-0c3f-4407-ad76-2edf082dae5b</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-ac904787</subnetId>
                    <state>available</state>
                    <vpcId>vpc-a06de3c5</vpcId>
                    <cidrBlock>10.0.1.0/24</cidrBlock>
                    <availableIpAddressCount>249</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>subnet2</value>
                        </item>
                    </tagSet>
                </item>
                <item>
                    <subnetId>subnet-1852bb33</subnetId>
                    <state>available</state>
                    <vpcId>vpc-a06de3c5</vpcId>
                    <cidrBlock>10.0.0.0/24</cidrBlock>
                    <availableIpAddressCount>250</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>Subnet1</value>
                        </item>
                    </tagSet>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Thu, 11 Aug 2016 11:52:32 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160811T115236Z
      X-Amz-Content-Sha256:
      - 106f344e853e62716912efa6fa6279cc6adda200c0e144a1c1e3545e1cf48590
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160811/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=307b203306724f508dcec67e6e8b22866bd570816e264a80ee504625f865cb4e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>2e6c1e60-e0af-4091-b952-d6980bde3159</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-347f9b5d</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default group</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>65535</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-347f9b5d</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groups>
                            <ipRanges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>udp</ipProtocol>
                            <fromPort>0</fromPort>
          [...]
[...]
[...]
