---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180828T140620Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180828/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=56cf432ede5f94602be3b05b080e111f62b1b57d9e3f4427eda7de46f0c7a735
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>74af9614-a731-45de-86c0-ad951b8e8ccc</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>eu-central-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>eu-central-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>eu-central-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Tue, 28 Aug 2018 14:06:20 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180828T140621Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180828/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=aa7b8e6cf67f3e2082ebfb028db3a0f74f641f69539ba8b5757cb90ed26a9745
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>4151063c-5676-48a1-91be-dae50f32f16e</requestId>
            <keySet>
                <item>
                    <keyName>azagayno</keyName>
                    <keyFingerprint>ba:e4:ba:6e:80:7e:0d:1d:36:60:79:87:e9:35:44:9a:55:87:1b:35</keyFingerprint>
                </item>
                <item>
                    <keyName>mpovolny</keyName>
                    <keyFingerprint>3e:20:56:54:4c:33:f6:e1:bd:cc:41:a9:a8:01:e6:9c:53:8b:1d:44</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Tue, 28 Aug 2018 14:06:21 GMT
- request:
    method: post
    uri: https://cloudformation.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180828T140621Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180828/eu-central-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=3a580db94e825aaa52dabfa50896e124583c1de3c2224808af491ff8e27684ea
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 87c1d45f-aacb-11e8-9910-2f990e37d6f1
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks/>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>87c1d45f-aacb-11e8-9910-2f990e37d6f1</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 28 Aug 2018 14:06:21 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180828T140621Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180828/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=64a8bc32849bb5f2878779751f03aac3fa8be6eaaa10a9c7ea5143a01ceb9d0a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>523012a8-d51f-447a-8095-163463fef10e</requestId>
            <imagesSet/>
        </DescribeImagesResponse>
  recorded_at: Tue, 28 Aug 2018 14:06:22 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&ExecutableBy.1=self&Filter.1.Name=image-type&Filter.1.Value.1=machine&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180828T140622Z
      X-Amz-Content-Sha256:
      - 13559d63912d4017a9523f9e8bda64c2a6870c83adb807d3bccff29a4065cdfc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180828/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ef03dfee9360078560e3b47dc2afc70fbc9eb6eb1ca3aab6f9248587c60f2d3f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>209e3616-3d4e-4ec0-89a2-c2cb8483ce64</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-00859d26dc671201b</imageId>
                    <imageLocation>309956199498/RHEL-7.6_HVM_BETA-20180814-x86_64-0-Access2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2018-08-16T18:50:01.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>RHEL-7.6_HVM_BETA-20180814-x86_64-0-Access2-GP2</name>
                    <description>Provided by Red Hat, Inc.</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-011f152658b157a52</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                </item>
                <item>
                    <imageId>ami-043f926b</imageId>
                    <imageLocation>309956199498/RHEL-7.4_HVM_GA-20170724-x86_64-1-Access2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2017-07-24T15:53:55.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x[...]
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180828T140624Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180828/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=10dfd417688af6ba5d6c1ebf9936450bf89d61e34606c083096416329b183d43
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>cdff31b5-c0d0-4e27-ab33-f01375be0bf6</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-056692f6dc68b8043</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-091369dd8a8d470ab</instanceId>
                            <imageId>ami-0fc85a60</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName>ip-172-31-9-14.eu-central-1.compute.internal</privateDnsName>
                            <dnsName/>
                            <reason>User initiated (2018-05-03 13:54:51 GMT)</reason>
                            <keyName>azagayno</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2018-05-03T13:18:29.000Z</launchTime>
                            <placement>
                                <availabilityZone>eu-central-1b</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-95b0b1ed</subnetId>
                            <vpcId>vpc-d78f69be</vpcId>
                            <privateIpAddress>172.31.9.14</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-8bae2ee0</groupId>
                                    <groupName>miq-ssh-http-https</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-006e52cf74d8f3e7c</volumeId>
                                        <status>attached</status>
                                        <attachTime>2018-01-15T10:28:27.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>redhat</key>
                                    <value>brno</value>
                                </item>
                                <item>
                                    <key>some_tag</key>
                                    <value>some_tag_value</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-b023519b</networkInterfaceId>
                                    <subnetId>subnet-95b0b1ed</subnetId>
                                    <vpcId>vpc-d78f69be</vpcId>
                                    <description/>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>06:c4:1b:46:94:1a</macAddress>
                                    <privateIpAddress>172.31.9.14</privateIpAddress>
                                    <privateDnsName>ip-172-31-9-14.eu-central-1.compute.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-8bae2ee0</groupId>
                                            <groupName>miq-ssh-http-https</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-b165785a</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2018-01-15T10:28:27.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>172.31.9.14</privateIpAddress>
                                            <privateDnsName>ip-172-31-9-14.eu-central-1.compute.internal</privateDnsName>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                            <cpuOptions>
                                <coreCount>1</coreCount>
                                <threadsPerCore>1</threadsPerCore>
                            </cpuOptions>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Tue, 28 Aug 2018 14:06:24 GMT
[...]
- request:
    method: post
    uri: https://servicecatalog.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.SearchProductsAsAdmin
      X-Amz-Date:
      - 20180828T140625Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180828/eu-central-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=43866469829b66c25c887f189446941f997e7bb820b4f7f50fee09d64d3b05ec
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8a0e35ef-aacb-11e8-af65-390ddfe274ea
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"ProductViewDetails":[]}'
  recorded_at: Tue, 28 Aug 2018 14:06:25 GMT
recorded_with: VCR 3.0.3
