---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150806Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=48ef370aa0420b71e000146f948d55764f9a384b2eaf9fec3894e75e859a0bf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>6ce49c71-00fc-47d5-b304-52522c470f2e</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-west-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:07 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150807Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2c6706110bdcf694bffc57cfcfc450be98e6d1e5bdcd76d9dfcab087f27f59d8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>53fe28cb-d93d-455e-ae59-54b850efa821</requestId>
            <keySet>
                <item>
                    <keyName>bronagh-west1</keyName>
                    <keyFingerprint>29:a0:34:e9:01:b1:28:d0:01:ae:e0:73:ca:dd:ea:2f:14:c4:e1:d6</keyFingerprint>
                </item>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                    <keyFingerprint>fc:53:30:aa:d2:23:c7:8d:e2:e8:05:95:a0:d2:90:fb:15:30:a2:51</keyFingerprint>
                </item>
                <item>
                    <keyName>jf-west-1</keyName>
                    <keyFingerprint>5f:a8:de:1b:56:ba:3c:12:78:13:79:d6:d0:1d:b9:12:7d:b9:6d:91</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:08 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150808Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=4442e0ae6a2b1168f1b8788e26b9e88424fb8093d46a72197b67fc0c55a6ff6c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5c4ffd9a-0a5a-11e7-b3c0-4f156aaaa0bf
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks/>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>5c4ffd9a-0a5a-11e7-b3c0-4f156aaaa0bf</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:09 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150809Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c1d4a628407999a0c14c5f21044a955ac2fc6405298617b6550a30b0986c6721
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>0c98161d-d84c-41cf-a55e-42c8e334d612</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-183e175d</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image-OtherRegion</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:05.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-36b79b73</kernelId>
                    <name>EmsRefreshSpec-Image-OtherRegion</name>
                    <description>EmsRefreshSpec-Image-OtherRegion</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-02ef440a</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:11 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150812Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=44019e190cc41e8522dde420c5293b019a05f5c25c44a6cabd344ce307c4a76a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>623f70b2-ca87-4672-bd8f-df1a81adc388</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-18afd25e</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-e94055ac</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-fdd815a4</instanceId>
                            <imageId>ami-3bc9997e</imageId>
                            <instanceState>
                                <code>272</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-160-177-126.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-184-169-243-31.us-west-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2012-10-01T18:11:04.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-99a0f1dc</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.160.177.126</privateIpAddress>
                            <ipAddress>184.169.243.31</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>i386</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-93f7b6bd</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-10-01T18:11:08.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>5bfd4308-0bf3-11e2-96b9-a4b197fffe9a</clientToken>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-9fde5ac4</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-2b87746f</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-OtherRegion</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-dc1ee486</instanceId>
                            <imageId>ami-183e175d</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-191-129-95.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-204-236-137-154.us-west-1.compute.amazonaws.com</dnsName>
                            <reason>Server.InternalError</reason>
                            <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2013-08-31T00:12:43.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                 [...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150815Z
      X-Amz-Content-Sha256:
      - d821ac2c2958664a08eb0f0b183ebf80201e8a50da5d9e98eca9bc36ef648656
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=920ed63e8d5315f95fc386b9dfd1e39b43c06e6a4982a40157ec7fca568bf1bb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>78452625-c386-4840-a510-c1fb1799e9c7</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <state>available</state>
                    <cidrBlock>172.30.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-d0617fb5</dhcpOptionsId>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:16 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150816Z
      X-Amz-Content-Sha256:
      - 4458b81adb7ad686766b11e1bb41ad4b186e7cfb44c26a0b7ade703866d0fca0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=24e32dea2d178ebf0b0f1dd294287440c377498cdc67a2c1ba8e27a558b1175a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>07a09620-9e9b-4a15-ac39-25563f63b8ef</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-ea63c9b2</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <cidrBlock>172.30.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-west-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
                <item>
                    <subnetId>subnet-57167333</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <cidrBlock>172.30.2.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>250</availableIpAddressCount>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:17 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150817Z
      X-Amz-Content-Sha256:
      - 398587829763af2624ad0faa257a51949217b85bb2957c3948946c38ab0fddac
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=bede29f133d1544c6f79c4f64ae4218d53c7d14d5ad73e9f926992cc32aab852
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>c0b2499a-4a3b-4cdd-a27b-071e0632cc63</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-e94055ac</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default group</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>65535</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groups>
                            <ipRanges/>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>udp</ipProtocol>
                   [...]
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150819Z
      X-Amz-Content-Sha256:
      - 19ba5dc918b1e927d0c1a179e1bed2a393fa8987b6fbc66e756823d414115566
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a05abc6500c1520bdec8d2b6175d600b05b4b8b8cf0c34147afcfd92e70a78d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>6951c5d4-c8e9-4075-b23b-cdacd31139df</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-ca94d9e0</networkInterfaceId>
                    <subnetId>subnet-57167333</subnetId>
                    <vpcId>vpc-8a5a91ee</vpcId>
                    <availabilityZone>us-west-1a</availabilityZone>
                    <description>Primary network interface</description>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>02:ae:92:86:f5:e2</macAddress>
                    <privateIpAddress>172.30.2.38</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-84be0fe3</groupId>
                            <groupName>launch-wizard-1</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-f192739f</attachmentId>
                        <instanceId>i-0536cdd458e6648a1</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2017-02-09T18:05:41.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>54.215.233.17</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>amazon</ipOwnerId>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>172.30.2.38</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>54.215.233.17</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>amazon</ipOwnerId>
                            </association>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:21 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150821Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0433fc176418d212d2ff2be7ac3e379a329b6d5b4d8f75a392f0c9a3dd862560
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 63a0b45a-0a5a-11e7-b2cc-d74259efb588
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions/>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>63a0b45a-0a5a-11e7-b2cc-d74259efb588</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:22 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170316T150823Z
      X-Amz-Content-Sha256:
      - 64c2b3b3e9d5b907d967a34cae3881d465039ab97edd1648478bb0195096a489
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170316/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=186c926851ff62286dbcec60eb91f702311a695aeec5dbcf4c7a95f7f937251d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>5b1b1f00-bdf5-468d-bc2e-be223661b56d</requestId>
            <addressesSet>
                <item>
                    <publicIp>54.215.0.230</publicIp>
                    <domain>standard</domain>
                    <instanceId/>
                </item>
            </addressesSet>
        </DescribeAddressesResponse>
  recorded_at: Thu, 16 Mar 2017 15:08:24 GMT
recorded_with: VCR 3.0.3
