---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141620Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=39ba573658fb5d96832d16b5b2f5d670503934fafb552edd0f17bd3231337285
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9e3dfe6a-3d10-4c6b-ab0f-7060e1d078a0
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>9e3dfe6a-3d10-4c6b-ab0f-7060e1d078a0</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>eu-central-1a</zoneName>
                    <zoneId>euc1-az2</zoneId>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <groupName>eu-central-1</groupName>
                    <optInStatus>opt-in-not-required</optInStatus>
                    <networkBorderGroup>eu-central-1</networkBorderGroup>
                    <zoneType>availability-zone</zoneType>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>eu-central-1b</zoneName>
                    <zoneId>euc1-az3</zoneId>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <groupName>eu-central-1</groupName>
                    <optInStatus>opt-in-not-required</optInStatus>
                    <networkBorderGroup>eu-central-1</networkBorderGroup>
                    <zoneType>availability-zone</zoneType>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>eu-central-1c</zoneName>
                    <zoneId>euc1-az1</zoneId>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <groupName>eu-central-1</groupName>
                    <optInStatus>opt-in-not-required</optInStatus>
                    <networkBorderGroup>eu-central-1</networkBorderGroup>
                    <zoneType>availability-zone</zoneType>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:21 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141621Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=bcae6d571a2f325355f2e19029f19cb2ac6b80f8482db79966ce641dc002ad5c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 57c2fad8-7174-4b04-9cf7-92239c76800a
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>57c2fad8-7174-4b04-9cf7-92239c76800a</requestId>
            <keySet>
                <item>
                    <keyName>azagayno</keyName>
                    <keyPairId>key-07e4f71c395990fd0</keyPairId>
                    <keyFingerprint>de:65:b3:29:40:69:81:a2:df:14:24:52:36:48:e7:77</keyFingerprint>
                    <tagSet/>
                </item>
                <item>
                    <keyName>mpovolny</keyName>
                    <keyPairId>key-07ab6d0b925383c2d</keyPairId>
                    <keyFingerprint>3e:20:56:54:4c:33:f6:e1:bd:cc:41:a9:a8:01:e6:9c:53:8b:1d:44</keyFingerprint>
                    <tagSet/>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:21 GMT
- request:
    method: post
    uri: https://cloudformation.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141621Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6d2e7db8752ff527209c027788ec0b498306a900a3ef282eb536811a1de42ac8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2258efb6-5a13-4996-8ed2-f7c1511d2a4e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks/>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>2258efb6-5a13-4996-8ed2-f7c1511d2a4e</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:22 GMT
- request:
    method: post
    uri: https://rds.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeDBInstances&Version=2014-10-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141622Z
      X-Amz-Content-Sha256:
      - e6281fe3d540e3e1ccd6bf0cca945a0e0af993d4dd5a6b31ca021f6fc7982b0b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/rds/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=92a441125c7e3fb7de5ad9473d066a1de2bdca4cbdfb58b269aa0fe9febb7a86
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2d41fc2f-f6d1-45f2-b304-720152352162
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
          <DescribeDBInstancesResult>
            <DBInstances/>
          </DescribeDBInstancesResult>
          <ResponseMetadata>
            <RequestId>2d41fc2f-f6d1-45f2-b304-720152352162</RequestId>
          </ResponseMetadata>
        </DescribeDBInstancesResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:22 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141622Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=bd73f806c1b0e1de878c6198cf68d09718c9200dd3834d3e77bc86ba71b2b981
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 57c83ef8-fa63-4f44-b732-3510fc404883
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>57c83ef8-fa63-4f44-b732-3510fc404883</requestId>
            <imagesSet/>
        </DescribeImagesResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:23 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&ExecutableBy.1=self&Filter.1.Name=image-type&Filter.1.Value.1=machine&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141623Z
      X-Amz-Content-Sha256:
      - 13559d63912d4017a9523f9e8bda64c2a6870c83adb807d3bccff29a4065cdfc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6c9858bd9f174fef7cb2ae9a35d40d14a50f987409416b9523a3ec87d9a68f04
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 07c5d53a-4aac-4e8b-aeeb-53aab2a8dea8
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>07c5d53a-4aac-4e8b-aeeb-53aab2a8dea8</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-000845546e57a02c6</imageId>
                    <imageLocation>309956199498/RHEL-Atomic_7.7_HVM_GA-20190923-x86_64-0-Access2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2019-09-23T18:34:30.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>RHEL-Atomic_7.7_HVM_GA-20190923-x86_64-0-Access2-GP2</name>
                    <description>Provided by Red Hat, Inc.</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-03349eafff23d322f</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                    <platformDetails>Red Hat BYOL Linux</platformDetails>
                    <usageOperation>RunInstances:00g0</usageOperation>
                </item>
                <item>
                    <imageId>ami-00859d26dc671201b</imageId>
                    <imageLocation>309956199498/RHEL-7.6_HVM_BETA-20180814-x86_64-0-Access2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2018-08-16T18:50:01.000Z</creationDate>
                    <isPublic>false</isPublic>
       [...]
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141624Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=53f24bb04b603742c902d195513d4ea99523ba832db40380e1f3d27b29071df0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e8c138d5-001b-4ba7-ba1a-6d550b3916c7
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>e8c138d5-001b-4ba7-ba1a-6d550b3916c7</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-03727e9d0aa8a6c18</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-0a57ceb9adb46abab</instanceId>
                            <imageId>ami-09def150731bdbcc2</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName>ip-172-31-0-42.eu-central-1.compute.internal</privateDnsName>
                            <dnsName/>
                            <reason>User initiated (2019-05-21 14:45:00 GMT)</reason>
                            <keyName>azagayno</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2019-05-21T14:43:21.000Z</launchTime>
                            <placement>
                                <availabilityZone>eu-central-1b</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-95b0b1ed</subnetId>
                            <vpcId>vpc-d78f69be</vpcId>
                            <privateIpAddress>172.31.0.42</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-8bae2ee0</groupId>
                                    <groupName>miq-ssh-http-https</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-0f0c778f8e8c24516</volumeId>
                                        <status>attached</status>
                                        <attachTime>2019-04-18T15:29:38.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>AZ-test</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-08a42849031f56dc3</networkInterfaceId>
                                    <subnetId>subnet-95b0b1ed</subnetId>
                                    <vpcId>vpc-d78f69be</vpcId>
                                    <description/>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>06:f1:54:16:9d:46</macAddress>
                                    <privateIpAddress>172.31.0.42</privateIpAddress>
                                    <privateDnsName>ip-172-31-0-42.eu-central-1.compute.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-8bae2ee0</groupId>
                                            <groupName>miq-ssh-http-https</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-0dd7582b10a7bf9c8</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2019-04-18T15:29:38.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>172.31.0.42</privateIpAddress>
                                            <privateDnsName>ip-172-31-0-42.eu-central-1.compute.internal</privateDnsName>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                    <interfaceType>interface</interfaceType>
                                </item>
                            </networkInterfaceSet>
                            <iamInstanceProfile>
                                <arn>arn:aws:iam::200278856672:instance-profile/CloudWatchAgent</arn>
                                <id>AIPAIMJJIAC6LRULT66VM</id>
                            </iamInstanceProfile>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                            <cpuOptions>
                                <coreCount>1</coreCount>
                                <threadsPerCore>1</threadsPerCore>
                            </cpuOptions>
                            <capacityReservationSpecification>
                                <capacityReservationPreference>open</capacityReservationPreference>
                            </capacityReservationSpecification>
                            <hibernationOptions>
                                <configured>false</configured>
                            </hibernationOptions>
                            <enclaveOptions>
                                <enabled>false</enabled>
                            </enclaveOptions>
                            <metadataOptions>
                                <state>applied</state>
                                <httpTokens>optional</httpTokens>
                                <httpPutResponseHopLimit>1</httpPutResponseHopLimit>
                                <httpEndpoint>enabled</httpEndpoint>
                            </metadataOptions>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Wed, 12 Aug 2020 14:16:25 GMT
[...]
- request:
    method: post
    uri: https://servicecatalog.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.SearchProductsAsAdmin
      X-Amz-Date:
      - 20200812T141625Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=93e176a83cc06b692d860bc60ff60b97536773a9b95a494ddc4988ce57dbd335
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a0d70f75-fb7f-45ae-bb2c-2c1d9ad406c9
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"ProductViewDetails":[]}'
  recorded_at: Wed, 12 Aug 2020 14:16:25 GMT
- request:
    method: post
    uri: https://servicecatalog.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.ScanProvisionedProducts
      X-Amz-Date:
      - 20200812T141626Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/eu-central-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=3ec9c56d0ae9c35b6f3dd8b0d9208045f71b52ce563d45ead562db39675a0a41
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6b368765-3e24-4c19-ac18-57e36ec71abd
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"ProvisionedProducts":[]}'
  recorded_at: Wed, 12 Aug 2020 14:16:26 GMT
recorded_with: VCR 5.1.0
