---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161421Z
      X-Amz-Content-Sha256:
      - 00ad084f6657f391cc081b511414e5a0151d37e459c47574856ebc7b503e1208
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=16d52138a361a4897931f0cc9a05ab1e86435d8ec8a91a7394a94b1af599e74f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>a8d381e9-1780-4cab-b3ef-3c7ae6ec0ed6</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-west-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-west-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-west-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:22 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161422Z
      X-Amz-Content-Sha256:
      - 208df215e6f64d70884e47bbb68f4c6060658385788d286291bb8fa315ce748a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9d9457f19ae76d327b24b808a8e2052a38e78fe77e3b12fe3106f797da26c711
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>324e556f-ef01-4b92-a2d9-ede8c7547909</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                    <keyFingerprint>fc:53:30:aa:d2:23:c7:8d:e2:e8:05:95:a0:d2:90:fb:15:30:a2:51</keyFingerprint>
                </item>
                <item>
                    <keyName>jf-west-1</keyName>
                    <keyFingerprint>5f:a8:de:1b:56:ba:3c:12:78:13:79:d6:d0:1d:b9:12:7d:b9:6d:91</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:23 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161423Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c05996c9a20ebcef0cdf34cbbddbae04f1ad27d5d3c7868a79981697154c6183
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 68bce1b2-aa85-11e6-94dc-191b463f8ebb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks/>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>68bce1b2-aa85-11e6-94dc-191b463f8ebb</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:24 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161424Z
      X-Amz-Content-Sha256:
      - 41ec66f98b8c9cb94c12742361835f2460416ab287007f7ce8e2dfb12eee5802
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2a77db5aea97645b833acfaf0d6b465878be13d5eea986f7e56ce1220d21b4c7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>9846c5ab-08dd-4fdd-960b-76a76cc37d13</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-183e175d</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image-OtherRegion</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:05.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-36b79b73</kernelId>
                    <name>EmsRefreshSpec-Image-OtherRegion</name>
                    <description>EmsRefreshSpec-Image-OtherRegion</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-02ef440a</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:26 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161427Z
      X-Amz-Content-Sha256:
      - d83056a1aac745ed69dbd2081c98416e27b917c7a61a6a31d5f72bf823045a2f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a99c0b2b17c8f20f0cc05ba3306fddbc56481c04d2e253d5f0e11004dca56348
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>3db4671b-4762-4b11-92f9-8b3f25a31685</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-18afd25e</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-e94055ac</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-fdd815a4</instanceId>
                            <imageId>ami-3bc9997e</imageId>
                            <instanceState>
                                <code>272</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-160-177-126.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-184-169-243-31.us-west-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2012-10-01T18:11:04.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-99a0f1dc</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.160.177.126</privateIpAddress>
                            <ipAddress>184.169.243.31</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>i386</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-93f7b6bd</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-10-01T18:11:08.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>5bfd4308-0bf3-11e2-96b9-a4b197fffe9a</clientToken>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-9fde5ac4</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-2b87746f</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-OtherRegion</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-dc1ee486</instanceId>
                            <imageId>ami-183e175d</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-191-129-95.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-204-236-137-154.us-west-1.compute.amazonaws.com</dnsName>
                            <reason>Server.InternalError</reason>
                            <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2013-08-31T00:12:43.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1a</availabilityZone>
                 [...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161431Z
      X-Amz-Content-Sha256:
      - e0e50b5400e46911fcef7a8bc8c68812a05770c50cd595cb20eeba12b5976bea
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=20cc147887cea8554eb49d8a482b465fc7159adffabdbe33d464e90f104b453e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>2f3fd419-7238-43ad-bce0-10b529702160</requestId>
            <vpcSet/>
        </DescribeVpcsResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:32 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161432Z
      X-Amz-Content-Sha256:
      - c1bea707c6712d663099f5cd4eafdfa00ac2f10c2ea250cfff5b41dfc07b5ada
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5eaf723c29411e53ca7e8b5de9182dc628214732f057df3d73e5a43e0025fd89
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>c2b8191b-c20e-4ff1-b85d-bc6c6e8e44e9</requestId>
            <subnetSet/>
        </DescribeSubnetsResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:34 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161434Z
      X-Amz-Content-Sha256:
      - 0b87da4d4344ade7d0df2cbf3ca8468138d62a20090d2ad157134dafd992add4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=90b9009df02ee497c5a7d4e5534d1429352dade51b03648209110a325be518d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>e68bef1a-7897-4810-86eb-1f57b3d666f8</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-e94055ac</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default group</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>65535</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-e94055ac</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groups>
                            <ipRanges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>udp</ipProtocol>
                            <fromPort>0</fromPort>
          [...]
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161436Z
      X-Amz-Content-Sha256:
      - 3421c36aca218db644f06c8686ceae4bc8a65aecff0ce68358bda245aa7ceba3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=79fd53b429145cabe310c1f181d4abfc702b2a3b8f6b3d777816ce0cfe469511
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>02e91506-5798-488b-ad91-8cfb4d8f7e6a</requestId>
            <networkInterfaceSet/>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:37 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161437Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ed4b664303e154c71c89be0aff861d7abc8044404526df69539cb8fd1dd9d40f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 70d617b5-aa85-11e6-9866-f9f4e923f993
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions/>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>70d617b5-aa85-11e6-9866-f9f4e923f993</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:38 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Version=2016-09-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20161114T161439Z
      X-Amz-Content-Sha256:
      - 684b023bd0b7e9d96a094cf03793eb46a25691fd6e6e8fdde6c44f3515b0255e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20161114/us-west-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c96111b6b171c0d429a4e514c94913a4065e1c6cb40e489bfaa6c483488eb407
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-09-15/">
            <requestId>87860132-92aa-47fc-a095-211d68753f80</requestId>
            <addressesSet>
                <item>
                    <publicIp>54.215.0.230</publicIp>
                    <domain>standard</domain>
                    <instanceId/>
                </item>
            </addressesSet>
        </DescribeAddressesResponse>
  recorded_at: Mon, 14 Nov 2016 16:14:40 GMT
recorded_with: VCR 3.0.3
