---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122334Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c69d22f672dce81680a93a0fa4f36d0d29e8352882f367e9d57b26ddda1f8eb3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>c78ec461-61b4-4888-ba76-a0aaa1a5d898</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1f</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Mon, 03 Sep 2018 12:23:35 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122335Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9c27504a6c7f200001cb44a4156de9174b95c6129d4f5567a1c19fda16d377dd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>63855bc3-5235-4213-8027-01b0226779d9</requestId>
            <keySet>
                <item>
                    <keyName>api-create</keyName>
                    <keyFingerprint>ea:02:49:75:22:5d:fc:8d:c2:6e:38:64:73:68:6a:bb:c8:c3:18:0a</keyFingerprint>
                </item>
                <item>
                    <keyName>aws-test</keyName>
                    <keyFingerprint>79:08:15:01:71:3a:37:74:ba:b5:f0:f0:ac:35:bd:9f:7f:22:c8:40</keyFingerprint>
                </item>
                <item>
                    <keyName>aws-test-1</keyName>
                    <keyFingerprint>cb:c9:8d:70:8e:4c:d5:9a:bd:a9:32:bb:73:90:af:09:67:31:ce:b9</keyFingerprint>
     [...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122336Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=d60b105e8e72346b6cc6425f23e5d982fb619ce3524de1a9494cacab028a3e18
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2eb2641c-af74-11e8-b13f-cbc83acd995e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <Description>URL of the website</Description>
                    <OutputKey>URL</OutputKey>
                    <OutputValue>http://SC-200278-ElasticL-1125XTWVLTFGO-1068212741.us-east-1.elb.amazonaws.com</OutputValue>
                  </member>
                </Outputs>
                <Capabilities>
                  <member>CAPABILITY_IAM</member>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2018-08-31T11:21:02.745Z</CreationTime>
                <NotificationARNs>
                  <member>arn:aws:sns:us-east-1:200278856672:AWSConfig_topic</member>
                </NotificationARNs>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/SC-200278856672-pp-zfxmwtn5ruifk/f1b6e4d0-ad0f-11e8-bc4e-500c20fef6d1</StackId>
                <StackName>SC-200278856672-pp-zfxmwtn5ruifk</StackName>
                <Description>AWS CloudFormation Sample Template ELBWithLockedDownAutoScaledInstances: Create a load balanced, Auto Scaled sample website where the instances are locked down to only accept traffic from the load balancer. This example creates an Auto Scaling group behind a load balancer with a simple health check. The web site is available on port 80, however, the instances can be configured to listen on any port (8888 by default). **WARNING** This template creates one or more Amazon EC2 instances and an Elastic Load Balancer. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags>
                  <member>
                    <Value>arn:aws:catalog:us-east-1:200278856672:product/prod-2mnztkmwoi62k</Value>
                    <Key>aws:servicecatalog:productArn</Key>
                  </member>
                  <member>
                    <Value>arn:aws:iam::200278856672:user/ladas</Value>
                    <Key>aws:servicecatalog:provisioningPrincipalArn</Key>
                  </member>
                  <member>
                    <Value>test_tag_value</Value>
                    <Key>test_tag</Key>
                  </member>
                  <member>
                    <Value>arn:aws:catalog:us-east-1:200278856672:portfolio/port-jdcz7ierbh4my</Value>
                    <Key>aws:servicecatalog:portfolioArn</Key>
                  </member>
                </Tags>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>EmsRefreshSpec-KeyPair</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SSHLocation</ParameterKey>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t1.micro</ParameterValue>
                  </member>
                </Parameters>
              </member>
              <member>
                <Capabilities>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2018-03-19T19:02:37.402Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/billy1/16ecd500-2ba8-11e8-b39a-503aca4a5861</StackId>
                <StackName>billy1</StackName>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>ROLLBACK_COMPLETE</StackStatus>
                <DeletionTime>2018-03-19T19:02:39.205Z</DeletionTime>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>billy</ParameterValue>
                  </member>
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=SC-200278856672-pp-zfxmwtn5ruifk&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122337Z
      X-Amz-Content-Sha256:
      - 321626fc720f438c21008d7bd2b713311a8dfa7a5ae4479eb5b166abab91ac80
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=84ce511a43faa96be19a03f3f172111bf87b619799f9181d0a4e88038a3d6eae
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2f65d521-af74-11e8-ad44-cb2554926b13
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <GetTemplateResult>
            <TemplateBody>{&quot;AWSTemplateFormatVersion&quot;:&quot;2010-09-09&quot;,&quot;Description&quot;:&quot;AWS CloudFormation Sample Template ELBWithLockedDownAutoScaledInstances: Create a load balanced, Auto Scaled sample website where the instances are locked down to only accept traffic from the load balancer. This example creates an Auto Scaling group behind a load balancer with a simple health check. The web site is available on port 80, however, the instances can be configured to listen on any port (8888 b[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=SC-200278856672-pp-zfxmwtn5ruifk&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122338Z
      X-Amz-Content-Sha256:
      - cb8946f40d0eb104ecf44d1907d84783b89fe5ae4c3bd6f2eb73bdd188535114
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ac0605c986025453ff48209d5789d28039b305292cda6f5beac9ca624a620bf4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 300f0d66-af74-11e8-b6bd-2907f56b9b7d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2018-08-31T11:21:07.499Z</LastUpdatedTimestamp>
                <PhysicalResourceId>SC-200278-ElasticL-1125XTWVLTFGO</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>ElasticLoadBalancer</LogicalResourceId>
                <ResourceType>AWS::ElasticLoadBalancing::LoadBalancer</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2018-08-31T11:21:15.900Z</LastUpdatedTimestamp>
                <PhysicalResourceId>SC-200278856672-pp-zfxmwtn5ruifk-InstanceSecurityGroup-10S65Q7DG8KFP</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
   [...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=billy1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122340Z
      X-Amz-Content-Sha256:
      - 0ac8d282d9bebb8cc9d81b3ad8cd95d1ea7a5deb39aeae4502f26b44e5053da4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=444cf474e26aaef5d9842da1c58d4094371557dca21f7400144c199f0ca52ec0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 30f6395e-af74-11e8-9c4f-3f2efac56926
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries/>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>30f6395e-af74-11e8-9c4f-3f2efac56926</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Mon, 03 Sep 2018 12:23:40 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122349Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5542c24e94fd75e57def24668648d0ddba70aa509d27fc23c474bfe8a76cb439
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>a9e50bbd-d027-42a3-b681-7913318f0334</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-0908219546812fe3e</imageId>
                    <imageLocation>200278856672/dberger-clone</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2018-08-27T21:46:13.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>dberger-clone</name>
                    <description>Clone of bronagh1213</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/xvda</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/xvda</deviceName>
                            <ebs>
                                <snapshotId>snap-07e530b95d909f36d</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                </item>
                <item>
                    <imageId>ami-098d7f1f</imageId>
                    <imageLocation>200278856672/lads_image_from_volume</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2017-01-27T15:52:29.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <name>lads_image_from_volume</name>
                    <description/>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-0fb2163b24646b146</snapshotId>
                                <volumeSize>1</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value/>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-0b8474d3c25191349</imageId>
                    <imageLocation>200278856672/import-ami-09bf69373591f57dc</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <cr[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T122408Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=92a9863a310f6212e4953083d28f3d4fae92d1af204369b2f576aef5a26d3711
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>bd5e16fc-8e08-48ac-9267-3be00eff1d94</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-0dece58a7cd92b3d1</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-0828f09c91ab89a97</instanceId>
                            <imageId>ami-6869aa05</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-0-166.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-236-58-214.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.nano</instanceType>
                            <launchTime>2018-03-01T21:31:41.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>enabled</state>
                            </monitoring>
                            <subnetId>subnet-de2363bb</subnetId>
                            <vpcId>vpc-c3d2f1a5</vpcId>
                            <privateIpAddress>10.0.0.166</privateIpAddress>
                            <ipAddress>54.236.58.214</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-9242c2ed</groupId>
                                    <groupName>EmsRefreshSpecVpcStackWithAutoscalingGroup-WebServerSecurityGroup-JSH59X986IGE</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-080996fdeaee13caf</volumeId>
                                        <status>attached</status>
                                        <attachTime>2018-03-01T21:31:42.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>3915878d-e94c-34d2-cc86-59a30d686241_subnet-de2363bb_1</clientToken>
                            <tagSet>
                                <item>
                                    <key>Network</key>
                                    <value>Public</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:logical-id</key>
                                    <value>WebServerFleet</value>
                                </item>
                                <item>
                                    <key>aws:autoscaling:groupName</key>
                                    <value>EmsRefreshSpecVpcStackWithAutoscalingGroup-WebServerFleet-16VNBFLGH139F</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-id</key>
                                    <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecVpcStackWithAutoscalingGroup/bfba4350-12e7-11e7-b5b7-503f23fb55fe</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-name</key>
                                    <value>EmsRefreshSpecVpcStackWithAutoscalingGroup</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-ba95b13a</networkInterfaceId>
                                    <subnetId>subnet-de2363bb</subnetId>
                                    <vpcId>vpc-c3d2f1a5</vpcId>
                                    <description/>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>02:b4:45:6a:2d:8e</macAddress>
                                    <privateIpAddress>10.0.0.166</privateIpAddress>
                                    <privateDnsName>ip-10-0-0-166.ec2.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-9242c2ed</groupId>
                                            <groupName>EmsRefreshSpecVpcStackWithAutoscalingGroup-WebServerSecurityGroup-JSH59X986IGE</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-f41e8d30</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2018-03-01T21:31:41.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>54.236.58.214</publicIp>
                                        <publicDnsName>ec2-54-236-58-214.compute-1.amazonaws.com</publicDnsName>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.0.0.166</privateIpAddress>
                                            <privateDnsName>ip-10-0-0-166.ec2.internal</privateDnsName>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>54.236.58.214</publicIp>
                                            <publicDnsName>ec2-54-236-58-214.compute-1.amazonaws.com</publicDnsName>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                            <cpuOptions>
                                <coreCount>1</coreCount>
                                <threadsPerCore>1</threadsPerCore>
                            </cpuOptions>
                        </item>
                    </instancesSet>
                    <requesterId>226008221399</requesterId>
                </item>
                <item>
                    <reservationId>r-0d9d5788168db3796</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-02cc7ad4129cefe1b</instanceId>
                            <imageId>ami-70e8fd66</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName>ip-172-30-0-32.ec2.internal</privateDnsName>
[...]
