---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVolumes&Filter.1.Name=volume-id&Filter.1.Value.1=vol-0e1613cacf4688009&Filter.1.Value.2=vol-0e4c86c12b28cead8&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141509Z
      X-Amz-Content-Sha256:
      - 83ed44add3dbe9789f8662e978435f2f205e57cab9f4bf411a870e76ddf99642
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9ab0470ea7337489b57d32f961c5f5f579038e69bd708db2fb0fabbf4aacf4b1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - '078d3e0d-b1be-4c03-b060-cbe1817f7bc3'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVolumesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>078d3e0d-b1be-4c03-b060-cbe1817f7bc3</requestId>
            <volumeSet>
                <item>
                    <volumeId>vol-0e1613cacf4688009</volumeId>
                    <size>1</size>
                    <snapshotId/>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <status>available</status>
                    <createTime>2017-03-17T07:20:08.273Z</createTime>
                    <attachmentSet/>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpecForSnapshot</value>
                        </item>
                    </tagSet>
                    <volumeType>gp2</volumeType>
                    <iops>100</iops>
                    <encrypted>false</encrypted>
                    <multiAttachEnabled>false</multiAttachEnabled>
                </item>
                <item>
                    <volumeId>vol-0e4c86c12b28cead8</volumeId>
                    <size>1</size>
                    <snapshotId>snap-055095f47fab5e749</snapshotId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <status>in-use</status>
                    <createTime>2017-03-17T07:21:35.798Z</createTime>
                    <attachmentSet>
                        <item>
                            <volumeId>vol-0e4c86c12b28cead8</volumeId>
                            <instanceId>i-8b5739f2</instanceId>
                            <device>/dev/sdf</device>
                            <status>attached</status>
                            <attachTime>2017-03-17T07:22:23.000Z</attachTime>
                            <deleteOnTermination>false</deleteOnTermination>
                        </item>
                    </attachmentSet>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpecForVpcVm</value>
                        </item>
                    </tagSet>
                    <volumeType>gp2</volumeType>
                    <iops>100</iops>
                    <encrypted>false</encrypted>
                    <multiAttachEnabled>false</multiAttachEnabled>
                </item>
            </volumeSet>
        </DescribeVolumesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:09 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSnapshots&Filter.1.Name=snapshot-id&Filter.1.Value.1=snap-055095f47fab5e749&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141509Z
      X-Amz-Content-Sha256:
      - 5066378d60fa497314e563b9c0938f56256710d6ed743fe3149766566f3d3daf
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=7d21b3aa42ae4d24d61ecd237c88a9183546678050a4819fe3579ea39b5e7d71
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ead56e33-e066-46f6-969b-a8ace108749d
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSnapshotsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>ead56e33-e066-46f6-969b-a8ace108749d</requestId>
            <snapshotSet>
                <item>
                    <snapshotId>snap-055095f47fab5e749</snapshotId>
                    <volumeId>vol-0e1613cacf4688009</volumeId>
                    <status>completed</status>
                    <startTime>2017-03-17T07:21:12.000Z</startTime>
                    <progress>100%</progress>
                    <ownerId>200278856672</ownerId>
                    <volumeSize>1</volumeSize>
                    <description>EmsRefreshSpecSnapshotDesc</description>
                    <encrypted>false</encrypted>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpecSnapshot</value>
                        </item>
                    </tagSet>
                </item>
            </snapshotSet>
        </DescribeSnapshotsResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:10 GMT
recorded_with: VCR 5.1.0
