---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-680071e9&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142721Z
      X-Amz-Content-Sha256:
      - 15060d4cadc5ceda7ce099049c06aa362d9fe6caa77a51c60d2b050b77aef8eb
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6da323d859b1102a78df17f816b7dcecf0eff295f35bc4f8e8a6379685fc5e1d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>27477f4d-ab79-4a4f-9198-c6cbf6218f8e</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-18ca6cb0</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-038e8a69</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                        </item>
                        <item>
                            <groupId>sg-12898d78</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup2</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-680071e9</instanceId>
                            <imageId>ami-5769193e</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-91-143-248.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-221-202-53.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2017-09-07T14:42:55.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-1eceaf77</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.91.143.248</privateIpAddress>
                            <ipAddress>54.221.202.53</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-038e8a69</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                                </item>
                                <item>
                                    <groupId>sg-12898d78</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup2</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-b6fa656a</volumeId>
                                        <status>attached</status>
                                        <attachTime>2016-01-07T19:58:39.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>JwNdr1452196715903</clientToken>
                            <tagSet>
                                <item>
                                    <key>owner</key>
                                    <value>UNKNOWN</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>EmsRefreshSpec-PoweredOn-Basic3</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                            <cpuOptions>
                                <coreCount>1</coreCount>
                                <threadsPerCore>1</threadsPerCore>
                            </cpuOptions>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:22 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142724Z
      X-Amz-Content-Sha256:
      - 3687d6dd1f231b3240bd52e8c7cf959c498b8b7312ba6b8a4e9c1e83e973d0b5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ee3b3004a532b2f7dae099f3073f75dd54e1c6faa5c0278e64ebd16af521a37a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>e4134ccb-b192-4b7d-99af-8cb244a24fcc</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:25 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142725Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f3b45dff51ec8b08f9f98079f4fde255bb61f90215f19788f4da2d46d96ff7ae
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>b94ff386-93e5-48ca-a74d-f0ec4334568f</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:25 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-5769193e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142725Z
      X-Amz-Content-Sha256:
      - 59ebf96e9619012c1913bd7ad295db16925f7ce6f757deea0097185f78822898
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ed89cb325851587389cbd3a62d264352d63bc647b01f7cdcf12012693412debc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>62a8394f-9b69-4c03-ac6c-8377e7270194</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-5769193e</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:44.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-1eceaf77</kernelId>
                    <name>EmsRefreshSpec-Image</name>
                    <description>EmsRefreshSpec-Image</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-5f38cd0e</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value/>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:27 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=group-id&Filter.1.Value.1=sg-038e8a69&Filter.1.Value.2=sg-12898d78&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142727Z
      X-Amz-Content-Sha256:
      - 9bfbe564c1df25a8fe1db93d7b6cbaf7ee80f2d833bb57f3f02fb39c9e917788
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5a8717487c5f0368b4d93cd91101b9408c2ca3552a64d7ef36720f3913ee9948
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>332104c2-5dcd-4d43-aa41-40479712f389</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-038e8a69</groupId>
                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                    <groupDescription>EmsRefreshSpec-SecurityGroup1</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>3</fromPort>
                            <toPort>4</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-038e8a69</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                                </item>
                            </groups>
                            <ipRanges/>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>80</fromPort>
                            <toPort>80</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-038e8a69</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                                </item>
                            </groups>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                                <item>
                                    <cidrIp>1.2.3.4/30</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>udp</ipProtocol>
                            <fromPort>3</fromPort>
[...]
- request:
    method: post
    uri: https://elasticloadbalancing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&LoadBalancerNames.member.1=EmsRefreshSpec-LoadBalancer&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142728Z
      X-Amz-Content-Sha256:
      - eccb5bf67bfa5fee8ecc6861893290305425c597e770f0b64647437903c0124e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=e3df918fd12afb17059cc396886692f273c462c38e10e34fdd7561491b31bc90
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7c3e0343-af85-11e8-97ac-bbd8964c9d05
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions>
              <member>
                <CanonicalHostedZoneNameID>Z3DZXE0Q79N41H</CanonicalHostedZoneNameID>
                <Scheme>internet-facing</Scheme>
                <Instances>
                  <member>
                    <InstanceId>i-680071e9</InstanceId>
                  </member>
                </Instances>
                <Policies>
                  <AppCookieStickinessPolicies/>
                  <LBCookieStickinessPolicies/>
                  <OtherPolicies/>
                </Policies>
                <AvailabilityZones>
                  <member>us-east-1b</member>
                  <member>us-east-1e</member>
                </AvailabilityZones>
                <DNSName>EmsRefreshSpec-LoadBalancer-1889731919.us-east-1.elb.amazonaws.com</DNSName>
                <BackendServerDescriptions/>
                <SourceSecurityGroup>
                  <OwnerAlias>amazon-elb</OwnerAlias>
                  <GroupName>amazon-elb-sg</GroupName>
                </SourceSecurityGroup>
                <LoadBalancerName>EmsRefreshSpec-LoadBalancer</LoadBalancerName>
                <ListenerDescriptions>
                  <member>
                    <Listener>
                      <InstancePort>80</InstancePort>
                      <InstanceProtocol>HTTP</InstanceProtocol>
                      <Protocol>HTTP</Protocol>
                      <LoadBalancerPort>80</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                </ListenerDescriptions>
                <HealthCheck>
                  <UnhealthyThreshold>2</UnhealthyThreshold>
                  <Interval>30</Interval>
                  <HealthyThreshold>10</HealthyThreshold>
                  <Timeout>5</Timeout>
                  <Target>TCP:22</Target>
                </HealthCheck>
                <CreatedTime>2013-08-09T14:53:25.760Z</CreatedTime>
                <SecurityGroups/>
                <Subnets/>
                <CanonicalHostedZoneName>EmsRefreshSpec-LoadBalancer-1889731919.us-east-1.elb.amazonaws.com</CanonicalHostedZoneName>
              </member>
            </LoadBalancerDescriptions>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>7c3e0343-af85-11e8-97ac-bbd8964c9d05</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:28 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstanceHealth&LoadBalancerName=EmsRefreshSpec-LoadBalancer&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142728Z
      X-Amz-Content-Sha256:
      - 3af90022526a6f5460a9813c88cc0b96b9ad472999bfeedaccd286147e93047b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a76254725fd37b6e5e6c93743632c62f23e0fa0d12144fff4c58eb0f4c780526
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7c8bae38-af85-11e8-97ac-bbd8964c9d05
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeInstanceHealthResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeInstanceHealthResult>
            <InstanceStates>
              <member>
                <Description>Instance has failed at least the UnhealthyThreshold number of health checks consecutively.</Description>
                <InstanceId>i-680071e9</InstanceId>
                <State>OutOfService</State>
                <ReasonCode>Instance</ReasonCode>
              </member>
            </InstanceStates>
          </DescribeInstanceHealthResult>
          <ResponseMetadata>
            <RequestId>7c8bae38-af85-11e8-97ac-bbd8964c9d05</RequestId>
          </ResponseMetadata>
        </DescribeInstanceHealthResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:29 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Filter.1.Name=allocation-id&Filter.1.Value.1=54.221.202.53&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142729Z
      X-Amz-Content-Sha256:
      - 2c78f1ad1dfa1273041e2e2ca1ebe682d22be25a3e4ca677f9efe3364177dd87
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f86c0be0510b033c47feb3b0a3196d78f24b0d55ab1ccdfb11e74e48934a40ce
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>302a0993-a8eb-4c29-99c9-2c00b9a9d19c</requestId>
            <addressesSet/>
        </DescribeAddressesResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:29 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVolumes&Filter.1.Name=volume-id&Filter.1.Value.1=vol-b6fa656a&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T142729Z
      X-Amz-Content-Sha256:
      - 9eb53c8dc817d7d2387b68b959e1dcbcb088b2eca78249418f904ba14c592c42
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a84a88d6f9281d9aca27c2508f8f3a686a67050055d6ccd3524e4cbf736f9773
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVolumesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>921fcd0d-ee82-4f0f-9e17-ee7dcd8c69fa</requestId>
            <volumeSet>
                <item>
                    <volumeId>vol-b6fa656a</volumeId>
                    <size>7</size>
                    <snapshotId>snap-5f38cd0e</snapshotId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <status>in-use</status>
                    <createTime>2016-01-07T19:58:39.495Z</createTime>
                    <attachmentSet>
                        <item>
                            <volumeId>vol-b6fa656a</volumeId>
                            <instanceId>i-680071e9</instanceId>
                            <device>/dev/sda1</device>
                            <status>attached</status>
                            <attachTime>2016-01-07T19:58:39.000Z</attachTime>
                            <deleteOnTermination>true</deleteOnTermination>
                        </item>
                    </attachmentSet>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-PoweredOn-Basic3-root</value>
                        </item>
                    </tagSet>
                    <volumeType>standard</volumeType>
                    <encrypted>false</encrypted>
                </item>
            </volumeSet>
        </DescribeVolumesResponse>
  recorded_at: Mon, 03 Sep 2018 14:27:30 GMT
recorded_with: VCR 3.0.3
