---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-680071e9&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141502Z
      X-Amz-Content-Sha256:
      - 15060d4cadc5ceda7ce099049c06aa362d9fe6caa77a51c60d2b050b77aef8eb
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=679b744aca97a1e016dc847259075f88ea7fb443360c8a16620b1f1c4bbd819f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 872c166d-6677-4da6-8eee-4dd6c494e14c
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>872c166d-6677-4da6-8eee-4dd6c494e14c</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-18ca6cb0</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-038e8a69</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                        </item>
                        <item>
                            <groupId>sg-12898d78</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup2</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-680071e9</instanceId>
                            <imageId>ami-5769193e</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-170-213-80.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-221-202-53.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2020-08-12T14:11:40.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-1eceaf77</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.170.213.80</privateIpAddress>
                            <ipAddress>54.221.202.53</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-038e8a69</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                                </item>
                                <item>
                                    <groupId>sg-12898d78</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup2</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-b6fa656a</volumeId>
                                        <status>attached</status>
                                        <attachTime>2016-01-07T19:58:39.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>JwNdr1452196715903</clientToken>
                            <tagSet>
                                <item>
                                    <key>owner</key>
                                    <value>UNKNOWN</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>EmsRefreshSpec-PoweredOn-Basic3</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                            <cpuOptions>
                                <coreCount>1</coreCount>
                                <threadsPerCore>1</threadsPerCore>
                            </cpuOptions>
                            <capacityReservationSpecification>
                                <capacityReservationPreference>open</capacityReservationPreference>
                            </capacityReservationSpecification>
                            <hibernationOptions>
                                <configured>false</configured>
                            </hibernationOptions>
                            <enclaveOptions>
                                <enabled>false</enabled>
                            </enclaveOptions>
                            <metadataOptions>
                                <state>applied</state>
                                <httpTokens>optional</httpTokens>
                                <httpPutResponseHopLimit>1</httpPutResponseHopLimit>
                                <httpEndpoint>enabled</httpEndpoint>
                            </metadataOptions>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:02 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141502Z
      X-Amz-Content-Sha256:
      - 3687d6dd1f231b3240bd52e8c7cf959c498b8b7312ba6b8a4e9c1e83e973d0b5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=dcbfd59fbdafb6a0e99943d4d68712656258aa6afa7f22686ad53d9900e67a60
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b819694d-8e04-4e88-a5e5-4e3529faa202
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>b819694d-8e04-4e88-a5e5-4e3529faa202</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneId>use1-az2</zoneId>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <groupName>us-east-1</groupName>
                    <optInStatus>opt-in-not-required</optInStatus>
                    <networkBorderGroup>us-east-1</networkBorderGroup>
                    <zoneType>availability-zone</zoneType>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:03 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141503Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=20a46db6375fffb906daa6034d5071a4879b80142638587ca16115b6ef4b01be
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bdfa3419-96d0-47bc-a030-72062e20bd95
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>bdfa3419-96d0-47bc-a030-72062e20bd95</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyPairId>key-08235bc4add1b8538</keyPairId>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                    <tagSet/>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:03 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-5769193e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141503Z
      X-Amz-Content-Sha256:
      - 59ebf96e9619012c1913bd7ad295db16925f7ce6f757deea0097185f78822898
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=d28ef85d3080a0e6302f56c50772272a0fedb2eaafc1b47989ae2e6303ab26b8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 21867db1-592d-4b9c-8c67-4f6af15e3c1f
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>21867db1-592d-4b9c-8c67-4f6af15e3c1f</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-5769193e</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:44.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-1eceaf77</kernelId>
                    <name>EmsRefreshSpec-Image</name>
                    <description>EmsRefreshSpec-Image</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-5f38cd0e</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value/>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                    <platformDetails>Red Hat Enterprise Linux</platformDetails>
                    <usageOperation>RunInstances:0010</usageOperation>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:03 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=group-id&Filter.1.Value.1=sg-038e8a69&Filter.1.Value.2=sg-12898d78&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141503Z
      X-Amz-Content-Sha256:
      - 9bfbe564c1df25a8fe1db93d7b6cbaf7ee80f2d833bb57f3f02fb39c9e917788
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=654a9200401eed93d4ed6b777479300617e716db8425023a3cc1e1e190c78e79
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d159baf8-2287-43b2-ac32-c0c9fc6365ca
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d159baf8-2287-43b2-ac32-c0c9fc6365ca</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-038e8a69</groupId>
                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                    <groupDescription>EmsRefreshSpec-SecurityGroup1</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>icmp</ipProtocol>
                            <fromPort>0</fromPort>
                            <toPort>-1</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>1.2.3.4/30</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>1</fromPort>
                            <toPort>2</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>1.2.3.4/30</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>80</fromPort>
                            <toPort>80</toPort>
                            <groups>
                                <item>
                                    <userId>200278856672</userId>
                                    <groupId>sg-038e8a69</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup1</groupName>
                                </item>
                            </groups>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                                <item>
                        [...]
- request:
    method: post
    uri: https://elasticloadbalancing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&LoadBalancerNames.member.1=EmsRefreshSpec-LoadBalancer&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141503Z
      X-Amz-Content-Sha256:
      - eccb5bf67bfa5fee8ecc6861893290305425c597e770f0b64647437903c0124e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=4f44322807f738bae3524bd776681943673599add49bdf0d2554263f2b3b333a
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f32d995f-cb7d-4544-a699-96d3bfbefd05
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions>
              <member>
                <CanonicalHostedZoneNameID>Z3DZXE0Q79N41H</CanonicalHostedZoneNameID>
                <Scheme>internet-facing</Scheme>
                <Instances>
                  <member>
                    <InstanceId>i-680071e9</InstanceId>
                  </member>
                </Instances>
                <Policies>
                  <AppCookieStickinessPolicies/>
                  <LBCookieStickinessPolicies/>
                  <OtherPolicies/>
                </Policies>
                <AvailabilityZones>
                  <member>us-east-1e</member>
                  <member>us-east-1b</member>
                </AvailabilityZones>
                <DNSName>EmsRefreshSpec-LoadBalancer-1889731919.us-east-1.elb.amazonaws.com</DNSName>
                <BackendServerDescriptions/>
                <SourceSecurityGroup>
                  <OwnerAlias>amazon-elb</OwnerAlias>
                  <GroupName>amazon-elb-sg</GroupName>
                </SourceSecurityGroup>
                <ListenerDescriptions>
                  <member>
                    <Listener>
                      <InstancePort>80</InstancePort>
                      <InstanceProtocol>HTTP</InstanceProtocol>
                      <Protocol>HTTP</Protocol>
                      <LoadBalancerPort>80</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                </ListenerDescriptions>
                <LoadBalancerName>EmsRefreshSpec-LoadBalancer</LoadBalancerName>
                <HealthCheck>
                  <UnhealthyThreshold>2</UnhealthyThreshold>
                  <Interval>30</Interval>
                  <HealthyThreshold>10</HealthyThreshold>
                  <Timeout>5</Timeout>
                  <Target>TCP:22</Target>
                </HealthCheck>
                <CreatedTime>2013-08-09T14:53:25.760Z</CreatedTime>
                <SecurityGroups/>
                <Subnets/>
                <CanonicalHostedZoneName>EmsRefreshSpec-LoadBalancer-1889731919.us-east-1.elb.amazonaws.com</CanonicalHostedZoneName>
              </member>
            </LoadBalancerDescriptions>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>f32d995f-cb7d-4544-a699-96d3bfbefd05</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:03 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstanceHealth&LoadBalancerName=EmsRefreshSpec-LoadBalancer&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141503Z
      X-Amz-Content-Sha256:
      - 3af90022526a6f5460a9813c88cc0b96b9ad472999bfeedaccd286147e93047b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6804f261181688bcfc34809db315eca9325e7ef9dc77019da373dc2ccfd75930
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 217e2ba8-16f9-4541-9846-a30e64a951ae
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeInstanceHealthResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeInstanceHealthResult>
            <InstanceStates>
              <member>
                <Description>Instance has failed at least the UnhealthyThreshold number of health checks consecutively.</Description>
                <InstanceId>i-680071e9</InstanceId>
                <State>OutOfService</State>
                <ReasonCode>Instance</ReasonCode>
              </member>
            </InstanceStates>
          </DescribeInstanceHealthResult>
          <ResponseMetadata>
            <RequestId>217e2ba8-16f9-4541-9846-a30e64a951ae</RequestId>
          </ResponseMetadata>
        </DescribeInstanceHealthResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:04 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Filter.1.Name=allocation-id&Filter.1.Value.1=54.221.202.53&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141504Z
      X-Amz-Content-Sha256:
      - 2c78f1ad1dfa1273041e2e2ca1ebe682d22be25a3e4ca677f9efe3364177dd87
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=074b53155e4b4742095a87a66bed2b92dd48677ba9bab9d1f4a187db31a946d8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7f8f4a42-90f3-45d3-954d-396d71b15133
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>7f8f4a42-90f3-45d3-954d-396d71b15133</requestId>
            <addressesSet/>
        </DescribeAddressesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:04 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Filter.1.Name=public-ip&Filter.1.Value.1=54.221.202.53&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141504Z
      X-Amz-Content-Sha256:
      - afdf02811a8b00cb96b82624995a66a37cc8d961fdf4217555989f4b37927b6c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c09ab0e2167a7db64b6c09d01f77b068a355515d5f3689a9b8dfa221aad32897
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3a8b3a4e-c9e3-4134-97bc-1bbc0de41a5f
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>3a8b3a4e-c9e3-4134-97bc-1bbc0de41a5f</requestId>
            <addressesSet>
                <item>
                    <publicIp>54.221.202.53</publicIp>
                    <domain>standard</domain>
                    <instanceId>i-680071e9</instanceId>
                    <publicIpv4Pool>amazon</publicIpv4Pool>
                </item>
            </addressesSet>
        </DescribeAddressesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:04 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVolumes&Filter.1.Name=volume-id&Filter.1.Value.1=vol-b6fa656a&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141504Z
      X-Amz-Content-Sha256:
      - 9eb53c8dc817d7d2387b68b959e1dcbcb088b2eca78249418f904ba14c592c42
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2fc8eaa05d7aa090fc9595f13703e920052b398ee846f237ae83924b0c852652
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cd1b8763-f814-4d4d-a650-d6a3e2969e8b
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVolumesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>cd1b8763-f814-4d4d-a650-d6a3e2969e8b</requestId>
            <volumeSet>
                <item>
                    <volumeId>vol-b6fa656a</volumeId>
                    <size>7</size>
                    <snapshotId>snap-5f38cd0e</snapshotId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <status>in-use</status>
                    <createTime>2016-01-07T19:58:39.495Z</createTime>
                    <attachmentSet>
                        <item>
                            <volumeId>vol-b6fa656a</volumeId>
                            <instanceId>i-680071e9</instanceId>
                            <device>/dev/sda1</device>
                            <status>attached</status>
                            <attachTime>2016-01-07T19:58:39.000Z</attachTime>
                            <deleteOnTermination>true</deleteOnTermination>
                        </item>
                    </attachmentSet>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-PoweredOn-Basic3-root</value>
                        </item>
                    </tagSet>
                    <volumeType>standard</volumeType>
                    <encrypted>false</encrypted>
                    <multiAttachEnabled>false</multiAttachEnabled>
                </item>
            </volumeSet>
        </DescribeVolumesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:04 GMT
recorded_with: VCR 5.1.0
