---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-fffffa96&Filter.1.Value.10=ami-fffc0594&Filter.1.Value.100=ami-ffb3c59a&Filter.1.Value.101=ami-ffb2b496&Filter.1.Value.102=ami-ffb19d96&Filter.1.Value.103=ami-ffaefbe9&Filter.1.Value.104=ami-ffaef485&Filter.1.Value.105=ami-ffaee295&Filter.1.Value.106=ami-ffae03e9&Filter.1.Value.107=ami-ffad8884&Filter.1.Value.108=ami-ffad6ae9&Filter.1.Value.109=ami-ffac6a96&Filter.1.Value.11=ami-fffb64e9&Filter.1.Value.110=ami-ffaa5e94&Filter.1.V[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-fef1c294&Filter.1.Value.10=ami-fee98b84&Filter.1.Value.11=ami-fee70184&Filter.1.Value.12=ami-fee6c5e9&Filter.1.Value.13=ami-fee6ac84&Filter.1.Value.14=ami-fee5dc81&Filter.1.Value.15=ami-fee5b184&Filter.1.Value.16=ami-fee49881&Filter.1.Value.17=ami-fee44883&Filter.1.Value.18=ami-fee3c694&Filter.1.Value.19=ami-fee33981&Filter.1.Value.2=ami-fef062e8&Filter.1.Value.20=ami-fee2f096&Filter.1.Value.3=ami-fef00e93&Filter.1.Value.4=ami-feefe996&Filter.1.Value.5=ami-feefc594&Filter.1.Value.6=ami-feed08e8&Filter.1.Value.7=ami-feeb4796&Filter.1.Value.8=ami-feea6884&Filter.1.Value.9=ami-feea1f93&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180802T095849Z
      X-Amz-Content-Sha256:
      - 780d9ed917a8b7dbec32afb212d01074179f31107f890082846deca7b8c5893a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180802/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=17b4723b2bc08f0e3cc3ddca50deb442d8b10f7894ddd37b1fdfc66f54853ec9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>e05517ba-0b69-47e3-904e-4cf06ef72965</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-fee2f096</imageId>
                    <imageLocation>693108716373/MeiR</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>693108716373</imageOwnerId>
                    <creationDate>2015-05-14T12:44:53.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <platform>windows</platform>
                    <name>MeiR</name>
                    <description>[Copied ami-b5a99a85 from us-west-2] MeiR</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-403c55db</snapshotId>
                                <volumeSize>30</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-fee33981</imageId>
                    <imageLocation>330183209093/qbol-pv-awsreleaseimage-2018/04/13.06-43-07</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>330183209093</imageOwnerId>
                    <creationDate>2018-04-13T06:51:57.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-825ea7eb</kernelId>
                    <name>qbol-pv-awsreleaseimage-2018/04/13.06-43-07</name>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-0ed97af63bacdbf57</snapshotId>
                                <volumeSize>45</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                        <item>
                            <deviceName>/dev/sdb</deviceName>
                            <virtualName>ephemeral0</virtualName>
                        </item>
                        <item>
                            <deviceName>/dev/sdc</deviceName>
                            <virtualName>ephemeral1</virtualName>
                        </item>
                        <item>
                            <deviceName>/dev/sdd</deviceName>
                            <virtualName>ephemeral2</virtualName>
                        </item>
                        <item>
                            <d[...]
