---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-fffffa96&Filter.1.Value.10=ami-fffc0594&Filter.1.Value.100=ami-ffb3c59a&Filter.1.Value.101=ami-ffb2b496&Filter.1.Value.102=ami-ffb19d96&Filter.1.Value.103=ami-ffaefbe9&Filter.1.Value.104=ami-ffaef485&Filter.1.Value.105=ami-ffaee295&Filter.1.Value.106=ami-ffae03e9&Filter.1.Value.107=ami-ffad8884&Filter.1.Value.108=ami-ffad6ae9&Filter.1.Value.109=ami-ffac6a96&Filter.1.Value.11=ami-fffb64e9&Filter.1.Value.110=ami-ffaa5e94&Filter.1.V[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-fef1c294&Filter.1.Value.10=ami-fee98b84&Filter.1.Value.11=ami-fee70184&Filter.1.Value.12=ami-fee6c5e9&Filter.1.Value.13=ami-fee6ac84&Filter.1.Value.14=ami-fee5dc81&Filter.1.Value.15=ami-fee5b184&Filter.1.Value.16=ami-fee49881&Filter.1.Value.17=ami-fee44883&Filter.1.Value.18=ami-fee3c694&Filter.1.Value.19=ami-fee33981&Filter.1.Value.2=ami-fef062e8&Filter.1.Value.20=ami-fee2f096&Filter.1.Value.3=ami-fef00e93&Filter.1.Value.4=ami-feefe996&Filter.1.Value.5=ami-feefc594&Filter.1.Value.6=ami-feed08e8&Filter.1.Value.7=ami-feeb4796&Filter.1.Value.8=ami-feea6884&Filter.1.Value.9=ami-feea1f93&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141514Z
      X-Amz-Content-Sha256:
      - 780d9ed917a8b7dbec32afb212d01074179f31107f890082846deca7b8c5893a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=cdaa14a5643d61b5453d07d5a4e228c24af52812bd0361b4dd005d77ce58740c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 43bda70b-37ba-4e53-823b-4230cbcfc815
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>43bda70b-37ba-4e53-823b-4230cbcfc815</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-fee3c694</imageId>
                    <imageLocation>099720109477/ubuntu/images/ebs-io1/ubuntu-trusty-14.04-i386-server-20160114.5</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>099720109477</imageOwnerId>
                    <creationDate>2016-01-15T22:09:32.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>i386</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-8f9dcae6</kernelId>
                    <name>ubuntu/images/ebs-io1/ubuntu-trusty-14.04-i386-server-20160114.5</name>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-418b9333</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>io1</volumeType>
                                <iops>200</iops>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                        <item>
                            <deviceName>/dev/sda2</deviceName>
                            <virtualName>ephemeral0</virtualName>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <platformDetails>Linux/UNIX</platformDetails>
                    <usageOperation>RunInstances</usageOperation>
                </item>
                <item>
                    <imageId>ami-fee44883</imageId>
                    <imageLocation>664717176240/b23-spark-d50d451</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>664717176240</imageOwnerId>
                    <creationDate>2018-04-04T12:57:15.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>b23-spark-d50d451</name>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-0edc5ed496b6b6a70</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                    <platformDetails>Linux/UNIX</platformDetails>
                    <usageOperation>RunInstances</usageOperation>
                </item>
                <item>
                    <imageId>ami-fee5b184</imageId>
                    <imageLocation>979382823631/bitnami-redmine-3.4.3-2-linux-debian-8-x86_64-ebs</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>979382823631</imageOwnerId>
                    <creationDate>2018-01-03T08:19:56.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-919dcaf8</kernelId>
                    <name>bitnami-redmine-3.4.3-2-linux-debian-8-x86_64-ebs</name>
                    <description>This image is deprecated and might include security vulnerabilities. Check the latest, up-to-date, available version at https://bitnami.com/stacks.</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda</deviceName>
                            <ebs>
                                <snapshotId>snap-02[...]
