---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-015e4579bfa4fcc84&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110607Z
      X-Amz-Content-Sha256:
      - 9c54223feaca4cd0c17fe4ecb476dd13f86c7df370119c53beeb96a36577e7a0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=67b2789420160d59c13cfa6719934fc5b4f8f015f2fba93e16b4d6f20f923bef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>5323a593-c070-4733-b971-54ee864886fc</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-0ba103c480816de70</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-015e4579bfa4fcc84</instanceId>
                            <imageId>ami-6869aa05</imageId>
                            <instanceState>
                                <code>272</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-2-0-104.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.nano</instanceType>
                            <launchTime>2017-03-28T11:32:09.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-fc014299</subnetId>
                            <vpcId>vpc-c9062baf</vpcId>
                            <privateIpAddress>10.2.0.104</privateIpAddress>
                            <ipAddress>34.206.127.107</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-a5109cda</groupId>
                                    <groupName>EmsRefreshSpecStack-InstanceSecurityGroup-1PP763K6ZBVLF</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-0360da66b06e06a36</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-03-28T11:32:10.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>EmsRe-WebSe-U5GV6MNANNW5</clientToken>
                            <tagSet>
                                <item>
                                    <key>Application</key>
                                    <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT/28cef7b0-13aa-11e7-8260-503aca4a58d1</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:logical-id</key>
                                    <value>WebServerInstance</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-id</key>
                                    <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT/28cef7b0-13aa-11e7-8260-503aca4a58d1</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-name</key>
                                    <value>EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-39de4e2d</networkInterfaceId>
                                    <subnetId>subnet-fc014299</subnetId>
                                    <vpcId>vpc-c9062baf</vpcId>
                                    <description/>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>02:19:d7:18:20:b4</macAddress>
                                    <privateIpAddress>10.2.0.104</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-a5109cda</groupId>
                                            <groupName>EmsRefreshSpecStack-InstanceSecurityGroup-1PP763K6ZBVLF</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-31584fa8</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2017-03-28T11:32:09.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>34.206.127.107</publicIp>
                                        <publicDnsName/>
                                        <ipOwnerId>200278856672</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.2.0.104</privateIpAddress>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>34.206.127.107</publicIp>
                                            <publicDnsName/>
                                            <ipOwnerId>200278856672</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Tue, 18 Apr 2017 11:06:13 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Filter.1.Name=network-interface-id&Filter.1.Value.1=eni-39de4e2d&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110613Z
      X-Amz-Content-Sha256:
      - 6696a152144c69b9f1399cce6764128fa369a5321cb21e64f5997748e112854b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5248f9f8e4dd19d94d01a72713e31c4478366474057dff8fadfe9ad6de23c007
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>4ae5fe55-d2be-4949-98f2-4e87fc06a1e1</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-39de4e2d</networkInterfaceId>
                    <subnetId>subnet-fc014299</subnetId>
                    <vpcId>vpc-c9062baf</vpcId>
                    <availabilityZone>us-east-1c</availabilityZone>
                    <description/>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>02:19:d7:18:20:b4</macAddress>
                    <privateIpAddress>10.2.0.104</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-a5109cda</groupId>
                            <groupName>EmsRefreshSpecStack-InstanceSecurityGroup-1PP763K6ZBVLF</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-31584fa8</attachmentId>
                        <instanceId>i-015e4579bfa4fcc84</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2017-03-28T11:32:09.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>34.206.127.107</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>200278856672</ipOwnerId>
                        <allocationId>eipalloc-a1ec7390</allocationId>
                        <associationId>eipassoc-c774b7f7</associationId>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>10.2.0.104</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>34.206.127.107</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>200278856672</ipOwnerId>
                                <allocationId>eipalloc-a1ec7390</allocationId>
                                <associationId>eipassoc-c774b7f7</associationId>
                            </association>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Tue, 18 Apr 2017 11:06:14 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1c&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110614Z
      X-Amz-Content-Sha256:
      - 5dfa72ee56d05dff896933ac98ddeb0ad169e32cab5750853b5b2cea73a864e0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=82b2aca88929c8e421b6959933440b7890e818a30bfcbdc9903f7bd50347f752
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>bf6befdb-b2a9-45ca-98dd-3cb5d26e1b88</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Tue, 18 Apr 2017 11:06:15 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110615Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2c940a81967f43e3412e5014fbc37913422d7b840a95645832cca4ccc5012457
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>5d2c6cfc-7ccc-44d7-913a-84413e28177d</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Tue, 18 Apr 2017 11:06:15 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack%2FEmsRefreshSpecStack%2F07fba5b0-13aa-11e7-847a-500c28604cae&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110615Z
      X-Amz-Content-Sha256:
      - 99c8ef5ea8e3120f2814d625f2d33278e2948691562e4381249d71175a7b911d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=98e23a284d8bbdd8dbeaa1971bbe9785f01e7505973bee955cd3d441c578cd3e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0aaacef6-2427-11e7-a651-578377fe2ebb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <Description>IP Address of the host</Description>
                    <OutputKey>Bastion</OutputKey>
                    <OutputValue>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT/28cef7b0-13aa-11e7-8260-503aca4a58d1</OutputValue>
                  </member>
                </Outputs>
                <CreationTime>2017-03-28T11:31:05.748Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/07fba5b0-13aa-11e7-847a-500c28604cae</StackId>
                <StackName>EmsRefreshSpecStack</StackName>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>EmsRefreshSpec-KeyPair</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SSHLocation</ParameterKey>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t2.nano</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>0aaacef6-2427-11e7-a651-578377fe2ebb</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 18 Apr 2017 11:06:16 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110616Z
      X-Amz-Content-Sha256:
      - 5129d3e8ebb78afbee802141b221fa01c75c48ea0420549a3a199f5af6b9849c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a0ebf0c90a2097b56c1f7dc79d8a55228334ac299a6713240376d9b9f8208abc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0b355b70-2427-11e7-9156-1501004b1c3b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2017-03-28T11:31:56.486Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Attac-1W8NMCFM5GMWN</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>AttachGateway</LogicalResourceId>
                <ResourceType>AWS::EC2::VPCGatewayAttachment</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2017-03-28T11:32:01.454Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Inbou-13JPRJ9UPD37K</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>InboundHTTPNetworkAclEntry</LogicalResourceId>
                <ResourceType>AWS::EC2::NetworkAclEntry</ResourceType>
              </memb[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110616Z
      X-Amz-Content-Sha256:
      - 4dc6d77a6dbb5ed8a7f7ff3b24280515d1c3b34596643cdface7d23473f3237f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=e7fe66ca513c3425de2b72097633a038e6225140be27b4e2e2d822e3ce18f471
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0b89e41f-2427-11e7-875c-39b75e2f2c41
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n\n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template vpc_single_instance_in_subnet.template: Sample template showing
        how to create a VPC and add an EC2 instance with an Elastic IP address and
        a security group. **WARNING** This template creates an Amazon EC2 instance.
        You will be billed for the AWS resources used if you create a stack from this
        template.&quot;,\n\[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-6869aa05&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110618Z
      X-Amz-Content-Sha256:
      - 49411f40ac5616adf21a1c49fadea20c70150dab6cafc82b472b0564dfcd060a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8457a9ea118ad0ac44072fe27d7120e6e6dcf37a876366ffe3abe094dd9ba113
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>931615f5-3a04-4e51-ac6e-95b7b6fdb993</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-6869aa05</imageId>
                    <imageLocation>amazon/amzn-ami-hvm-2016.03.3.x86_64-gp2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>137112412989</imageOwnerId>
                    <creationDate>2016-06-22T06:10:37.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <imageOwnerAlias>amazon</imageOwnerAlias>
                    <name>amzn-ami-hvm-2016.03.3.x86_64-gp2</name>
                    <description>Amazon Linux AMI 2016.03.3 x86_64 HVM GP2</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/xvda</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/xvda</deviceName>
                            <ebs>
                                <snapshotId>snap-25dd2ac1</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Tue, 18 Apr 2017 11:06:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-c9062baf&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110619Z
      X-Amz-Content-Sha256:
      - 8b51c517c63dc0159643bc81cd096b5401a4af8cfaeff486789ede171ecb1353
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=83b872dacf210804c592374f1fcc906e8758060e4e26f6ee421739db119bf946
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d8b4bfcb-aa52-4992-8d1e-1e20411ee4d8</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-c9062baf</vpcId>
                    <state>available</state>
                    <cidrBlock>10.2.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Application</key>
                            <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/07fba5b0-13aa-11e7-847a-500c28604cae</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-name</key>
                            <value>EmsRefreshSpecStack</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:logical-id</key>
                            <value>VPC</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-id</key>
                            <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/07fba5b0-13aa-11e7-847a-500c28604cae</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Tue, 18 Apr 2017 11:06:20 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=subnet-id&Filter.1.Value.1=subnet-fc014299&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110620Z
      X-Amz-Content-Sha256:
      - a37d21a45174c7877cbaa58a5a0c326a4742e47eb9dba83aaa9e28572a10e3ca
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=efbc252035631c3cb8cc25ca2b33ef1add3d83ca28742b4bebbb2446cdeb977f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>99748faa-7e4c-4195-8852-14942ac8d944</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-fc014299</subnetId>
                    <state>available</state>
                    <vpcId>vpc-c9062baf</vpcId>
                    <cidrBlock>10.2.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>249</availableIpAddressCount>
                    <availabilityZone>us-east-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>aws:cloudformation:stack-name</key>
                            <value>EmsRefreshSpecStack</value>
                        </item>
[...]
