---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack%2FEmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT%2F28cef7b0-13aa-11e7-8260-503aca4a58d1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T082221Z
      X-Amz-Content-Sha256:
      - 9ff597a58e43478edc9a515b9a129640eadea988b0102cae804f6ac7e59a2262
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f8dd699197a6d4a40cadb62bacbc417cd1008ce3f87a20ee34e1ce146cbde7ab
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 210f0adc-2410-11e7-8536-2f082b92a693
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <Description>Newly created application URL</Description>
                    <OutputKey>URL</OutputKey>
                    <OutputValue>http://34.206.127.107</OutputValue>
                  </member>
                </Outputs>
                <CreationTime>2017-03-28T11:32:01.151Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT/28cef7b0-13aa-11e7-8260-503aca4a58d1</StackId>
                <StackName>EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT</StackName>
                <Description>AWS CloudFormation Sample Template VPC_Single_Instance_In_Subnet: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>true</DisableRollback>
                <Tags/>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>EmsRefreshSpec-KeyPair</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SSHLocation</ParameterKey>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceSecurityGroupID</ParameterKey>
                    <ParameterValue>sg-a5109cda</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SubnetID</ParameterKey>
                    <ParameterValue>subnet-fc014299</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t2.nano</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>210f0adc-2410-11e7-8536-2f082b92a693</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 18 Apr 2017 08:22:22 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T082222Z
      X-Amz-Content-Sha256:
      - b08571f930d1018c0dece1477c75f323ed1c55b532e02a6ac107e4786b151021
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8e53200cc7173ca86a9e1c9a13c314547fd006109a69fc18fbddbc6885cc310d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 21806aa3-2410-11e7-b21f-3b6e9adc8921
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2017-03-28T11:34:19.414Z</LastUpdatedTimestamp>
                <PhysicalResourceId>34.206.127.107</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>IPAddress</LogicalResourceId>
                <ResourceType>AWS::EC2::EIP</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2017-03-28T11:33:40.838Z</LastUpdatedTimestamp>
                <PhysicalResourceId>i-015e4579bfa4fcc84</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>WebServerInstance</LogicalResourceId>
                <ResourceType>AWS::EC2::Instance</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>21806aa3-2410-11e7-b21f-3b6e9adc8921</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Tue, 18 Apr 2017 08:22:23 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T082223Z
      X-Amz-Content-Sha256:
      - 2f4b252fd9424087d9c2a33c5a7d744e17b92f3c0d5f86c143a7d057945c1c20
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=aa9814de6de3a039d7a9c6d3b9b2342c5c6bcccb1ce75823eb31a39c17165775
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 21faca3b-2410-11e7-a6a4-e7d7f64d6d4f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n\n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template VPC_Single_Instance_In_Subnet: Sample template showing how
        to create a VPC and add an EC2 instance with an Elastic IP address and a security
        group. **WARNING** This template creates an Amazon EC2 instance. You will
        be billed for the AWS resources used if you create a stack from this template.&quot;,\n\n
        \ &quot[...]
