---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-0bca58e6e540ddc39&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144047Z
      X-Amz-Content-Sha256:
      - 4efa04d6e2aa3ed14177c046b7a33785577a351caac6112ef227925480ccb604
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=1179aece1ae7cfd78a162f737c9d06a1eea1b1fa56d58d70d05e2c894f57548d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>cb9c5f19-4236-474e-856d-96af85c4ea35</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-0c0e56163429b9a46</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-0bca58e6e540ddc39</instanceId>
                            <imageId>ami-6869aa05</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-2-0-239.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.nano</instanceType>
                            <launchTime>2017-05-03T10:47:06.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-2190b144</subnetId>
                            <vpcId>vpc-8cf117f5</vpcId>
                            <privateIpAddress>10.2.0.239</privateIpAddress>
                            <ipAddress>34.202.178.10</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-76c10f08</groupId>
                                    <groupName>EmsRefreshSpecStack-InstanceSecurityGroup-QS2FPLKQ8HEF</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code/>
                                <message/>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-0628a6ce987d4cb6e</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-05-03T10:47:07.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>EmsRe-WebSe-1229KQXQO3HUK</clientToken>
                            <tagSet>
                                <item>
                                    <key>Application</key>
                                    <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1CTHQS2P5WJ7S/d3bb46b0-2fed-11e7-a3d9-503f23fb55fe</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>EmsRefreshSpecStack</value>
                                </item>
                                <item>
                                    <key>EmsRefreshSpecStack-key2</key[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Filter.1.Name=network-interface-id&Filter.1.Value.1=eni-8fefae9b&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144047Z
      X-Amz-Content-Sha256:
      - 6662a093749a6961b805d03eb8fe7086f90d5cd1c9277473ddf71df855753f99
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b1db7c9a0ee5a358c0696f60b8c5c5c5afc60133ae69a801aee5be0101873e1e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>7ea9cae9-1e4b-4c5e-951e-c511db1dad5d</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-8fefae9b</networkInterfaceId>
                    <subnetId>subnet-2190b144</subnetId>
                    <vpcId>vpc-8cf117f5</vpcId>
                    <availabilityZone>us-east-1c</availabilityZone>
                    <description/>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>02:a3:b9:61:d3:ee</macAddress>
                    <privateIpAddress>10.2.0.239</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-76c10f08</groupId>
                            <groupName>EmsRefreshSpecStack-InstanceSecurityGroup-QS2FPLKQ8HEF</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-cbd22453</attachmentId>
                        <instanceId>i-0bca58e6e540ddc39</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2017-05-03T10:47:06.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>34.202.178.10</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>200278856672</ipOwnerId>
                        <allocationId>eipalloc-9a4472ab</allocationId>
                        <associationId>eipassoc-13766e23</associationId>
                        <natEnabled>true</natEnabled>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>10.2.0.239</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>34.202.178.10</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>200278856672</ipOwnerId>
                                <allocationId>eipalloc-9a4472ab</allocationId>
                                <associationId>eipassoc-13766e23</associationId>
                                <natEnabled>true</natEnabled>
                            </association>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                    <interfaceType>interface</interfaceType>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Mon, 03 Sep 2018 14:40:48 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1c&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144048Z
      X-Amz-Content-Sha256:
      - 5dfa72ee56d05dff896933ac98ddeb0ad169e32cab5750853b5b2cea73a864e0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=32c1fed76dacd0e4864b9451bc12f97a537a8474100b79eaa83c3ee71375446f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>7f6249da-db9c-49c1-b44a-4cad9b50d5c0</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Mon, 03 Sep 2018 14:40:49 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144049Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b966b2a66b12c13090db55421a8403797e68216994d73cc0777533d14e2bd9b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>86b9deeb-c784-409e-b960-3fd5f644b5c8</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 03 Sep 2018 14:40:49 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack%2FEmsRefreshSpecStack%2Fb4e06950-2fed-11e7-bd93-500c286374d1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144049Z
      X-Amz-Content-Sha256:
      - ee7457b505a85bcdc54c00cc7e1428239c8d49174f88965bdf64f2a7c3baa103
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9d2b81922ac7076f5cf17f7f41775b4f9ec54d3a801895fca9ebcda37fd2f53f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5a040aa8-af87-11e8-9cdb-69236bc4bef1
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <Description>IP Address of the host</Description>
                    <OutputKey>Bastion</OutputKey>
                    <OutputValue>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1CTHQS2P5WJ7S/d3bb46b0-2fed-11e7-a3d9-503f23fb55fe</OutputValue>
                  </member>
                </Outputs>
                <Capabilities>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2017-05-03T10:46:04.698Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/b4e06950-2fed-11e7-bd93-500c286374d1</StackId>
                <StackName>EmsRefreshSpecStack</StackName>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags>
                  <member>
                    <Value>EmsRefreshSpecStack-value2</Value>
                    <Key>EmsRefreshSpecStack-key2</Key>
                  </member>
                  <member>
                    <Value>EmsRefreshSpecStack-value1</Value>
                    <Key>EmsRefreshSpecStack-key1</Key>
                  </member>
                </Tags>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>EmsRefreshSpec-KeyPair</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SSHLocation</ParameterKey>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t2.nano</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>5a040aa8-af87-11e8-9cdb-69236bc4bef1</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Mon, 03 Sep 2018 14:40:50 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144050Z
      X-Amz-Content-Sha256:
      - 4dc6d77a6dbb5ed8a7f7ff3b24280515d1c3b34596643cdface7d23473f3237f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=d8181a1b8d77e0098530f835c1242fd87483d7d08761b7d06813cc82cac436de
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5a9f38c5-af87-11e8-842e-2925a6fb6b81
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n\n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template vpc_single_instance_in_subnet.template: Sample template showing
        how to create a VPC and add an EC2 instance with an Elastic IP address and
        a security group. **WARNING** This template creates an Amazon EC2 instance.
        You will be billed for the AWS resources used if you create a stack from this
        template.&quot;,\n\[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144051Z
      X-Amz-Content-Sha256:
      - 5129d3e8ebb78afbee802141b221fa01c75c48ea0420549a3a199f5af6b9849c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=d19c98b46aabbdcd6092b182c7ebf74e52a33fcee5b239cc0094f9f38f1e443b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5b567b5b-af87-11e8-b13f-cbc83acd995e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2017-05-03T10:46:51.634Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Attac-18IYH2NXW163I</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>AttachGateway</LogicalResourceId>
                <ResourceType>AWS::EC2::VPCGatewayAttachment</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2017-05-03T10:46:59.572Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Inbou-1M80E3XJX5ZG6</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <Lo[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-6869aa05&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144054Z
      X-Amz-Content-Sha256:
      - 49411f40ac5616adf21a1c49fadea20c70150dab6cafc82b472b0564dfcd060a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=797ec36467eb3c368c1859018c47b9b51d91fe7616df9d40acf8e2bcf4f6e408
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>f05d652b-2f01-4579-8214-86e88170f51f</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-6869aa05</imageId>
                    <imageLocation>amazon/amzn-ami-hvm-2016.03.3.x86_64-gp2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>137112412989</imageOwnerId>
                    <creationDate>2016-06-22T06:10:37.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <imageOwnerAlias>amazon</imageOwnerAlias>
                    <name>amzn-ami-hvm-2016.03.3.x86_64-gp2</name>
                    <description>Amazon Linux AMI 2016.03.3 x86_64 HVM GP2</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/xvda</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/xvda</deviceName>
                            <ebs>
                                <snapshotId>snap-25dd2ac1</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <enaSupport>true</enaSupport>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Mon, 03 Sep 2018 14:40:55 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-8cf117f5&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144055Z
      X-Amz-Content-Sha256:
      - d83921c68b92f6354eaa5855e8e375b295cbdc6b2f77e711009e0401c7bbdc99
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c1fd199e1ceb7ab458153bd3635cef5e58dcc83f6b24b29a2b8ba0d413985999
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>99de0b44-4a38-4103-ae59-2641e0583bab</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-8cf117f5</vpcId>
                    <state>available</state>
                    <cidrBlock>10.2.0.0/16</cidrBlock>
                    <cidrBlockAssociationSet>
                        <item>
                            <cidrBlock>10.2.0.0/16</cidrBlock>
                            <associationId>vpc-cidr-assoc-6dbdaa05</associationId>
                            <cidrBlockState>
                                <state>associated</state>
                            </cidrBlockState>
                        </item>
                    </cidrBlockAssociationSet>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>EmsRefreshSpecStack-key2</key>
                            <value>EmsRefreshSpecStack-value2</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-id</key>
                            <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/b4e06950-2fed-11e7-bd93-500c286374d1</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:logical-id</key>
                            <value>VPC</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-name</key>
                            <value>EmsRefreshSpecStack</value>
                        </item>
                        <item>
                            <key>Application</key>
                            <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/b4e06950-2fed-11e7-bd93-500c286374d1</value>
                        </item>
                        <item>
                            <key>EmsRefreshSpecStack-key1</key>
                            <value>EmsRefreshSpecStack-value1</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Mon, 03 Sep 2018 14:40:56 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=subnet-id&Filter.1.Value.1=subnet-2190b144&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T144056Z
      X-Amz-Content-Sha256:
      - 30b50976f2a2392877af56a0806ed2c738f82272ff3b7a3538804ec45b3062d2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=267b8b85b6b55f41680cd405eb9e72bfb9c761fe9121c94ef36a7a61202b5be4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>2587fbe6-cdfe-4323-8d22-f0d43e2ae6d8</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-2190b144</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8cf117f5</vpcId>
                    <cidrBlock>10.2.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>249</availableIpAddressCount>
                    <availabilityZone>us-east-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>EmsRefreshSpecStack-key1</key>
                            <value>EmsRefreshSpecStack-value1</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:logical-id</key>
                            <value>Subnet</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-name</key>
                            <value>EmsRefreshSpecStack</value>
                        </item>
                        <item>
                            <key>EmsRefreshSpecStack-key2</key>
                            <value>EmsRefreshSpecStack-value2</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-id</key>
                            <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/b4e06950-2fed-11e7-bd93-500c286374d1</value>
                        </item>
                        <item>
                            <key>Application</key>
                            <value>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/b4e06950-2fed-11e7-bd93-500c286374d1</value>
                        </item>
                    </tagSet>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Mon, 03 Sep 2018 14:40:56 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=group-id&Filter.1.Value.1=sg-76c10f08&Version=2016-11-15
    headers:
      Content-Type:
[...]
