---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack%2FEmsRefreshSpecStack%2F07fba5b0-13aa-11e7-847a-500c28604cae&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T101947Z
      X-Amz-Content-Sha256:
      - 99c8ef5ea8e3120f2814d625f2d33278e2948691562e4381249d71175a7b911d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=345daea6c72783dd56d13ec1990f796f65b987cc4e450e7c491142e43655dbc5
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8cbab8fd-2420-11e7-8bc4-dd5dc6852187
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <Description>IP Address of the host</Description>
                    <OutputKey>Bastion</OutputKey>
                    <OutputValue>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1PAB3IELQ8EYT/28cef7b0-13aa-11e7-8260-503aca4a58d1</OutputValue>
                  </member>
                </Outputs>
                <CreationTime>2017-03-28T11:31:05.748Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/07fba5b0-13aa-11e7-847a-500c28604cae</StackId>
                <StackName>EmsRefreshSpecStack</StackName>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags/>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>EmsRefreshSpec-KeyPair</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SSHLocation</ParameterKey>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t2.nano</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>8cbab8fd-2420-11e7-8bc4-dd5dc6852187</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 18 Apr 2017 10:19:47 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T101948Z
      X-Amz-Content-Sha256:
      - 5129d3e8ebb78afbee802141b221fa01c75c48ea0420549a3a199f5af6b9849c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9d6c9f763d2b5fb217c438397fc007da6f092f43959759b4b1b617afbc229b77
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8d5c01e7-2420-11e7-8025-2b74989caa67
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2017-03-28T11:31:56.486Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Attac-1W8NMCFM5GMWN</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>AttachGateway</LogicalResourceId>
                <ResourceType>AWS::EC2::VPCGatewayAttachment</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2017-03-28T11:32:01.454Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Inbou-13JPRJ9UPD37K</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>InboundHTTPNetworkAclEntry</LogicalResourceId>
                <ResourceType>AWS::EC2::NetworkAclEntry</ResourceType>
              </memb[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T101948Z
      X-Amz-Content-Sha256:
      - 4dc6d77a6dbb5ed8a7f7ff3b24280515d1c3b34596643cdface7d23473f3237f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2c2302b791823bc429a962eee1a2414744c1c1ff21d1c7661e6efa6c1dcd5fc2
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8dabcf77-2420-11e7-8312-4b631a3a4cf4
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n\n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template vpc_single_instance_in_subnet.template: Sample template showing
        how to create a VPC and add an EC2 instance with an Elastic IP address and
        a security group. **WARNING** This template creates an Amazon EC2 instance.
        You will be billed for the AWS resources used if you create a stack from this
        template.&quot;,\n\[...]
[...]
