---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack%2FEmsRefreshSpecStack%2Fb4e06950-2fed-11e7-bd93-500c286374d1&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180904T080220Z
      X-Amz-Content-Sha256:
      - ee7457b505a85bcdc54c00cc7e1428239c8d49174f88965bdf64f2a7c3baa103
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180904/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=7ec586eabfba27d1b1c19632f764de952f2b3dd98e0e14587649e12b10540583
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d99d5379-b018-11e8-842e-2925a6fb6b81
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Outputs>
                  <member>
                    <Description>IP Address of the host</Description>
                    <OutputKey>Bastion</OutputKey>
                    <OutputValue>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack-WebServerInstance-1CTHQS2P5WJ7S/d3bb46b0-2fed-11e7-a3d9-503f23fb55fe</OutputValue>
                  </member>
                </Outputs>
                <Capabilities>
                  <member>CAPABILITY_NAMED_IAM</member>
                </Capabilities>
                <CreationTime>2017-05-03T10:46:04.698Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpecStack/b4e06950-2fed-11e7-bd93-500c286374d1</StackId>
                <StackName>EmsRefreshSpecStack</StackName>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags>
                  <member>
                    <Value>EmsRefreshSpecStack-value2</Value>
                    <Key>EmsRefreshSpecStack-key2</Key>
                  </member>
                  <member>
                    <Value>EmsRefreshSpecStack-value1</Value>
                    <Key>EmsRefreshSpecStack-key1</Key>
                  </member>
                </Tags>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <EnableTerminationProtection>false</EnableTerminationProtection>
                <Parameters>
                  <member>
                    <ParameterKey>KeyName</ParameterKey>
                    <ParameterValue>EmsRefreshSpec-KeyPair</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>SSHLocation</ParameterKey>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>DBRootPassword</ParameterKey>
                    <ParameterValue>****</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>InstanceType</ParameterKey>
                    <ParameterValue>t2.nano</ParameterValue>
                  </member>
                </Parameters>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>d99d5379-b018-11e8-842e-2925a6fb6b81</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 04 Sep 2018 08:02:21 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180904T080221Z
      X-Amz-Content-Sha256:
      - 4dc6d77a6dbb5ed8a7f7ff3b24280515d1c3b34596643cdface7d23473f3237f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180904/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ddef38249cc596997ba230b6c823ceaf52216afb5cea15be119fa6c0420520cc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - da2c4c8c-b018-11e8-9c4f-3f2efac56926
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n\n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template vpc_single_instance_in_subnet.template: Sample template showing
        how to create a VPC and add an EC2 instance with an Elastic IP address and
        a security group. **WARNING** This template creates an Amazon EC2 instance.
        You will be billed for the AWS resources used if you create a stack from this
        template.&quot;,\n\[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=EmsRefreshSpecStack&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180904T080222Z
      X-Amz-Content-Sha256:
      - 5129d3e8ebb78afbee802141b221fa01c75c48ea0420549a3a199f5af6b9849c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180904/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=e4647ca98fe6eab0a13032b932b404c4d51cb497b0da557037ac904165b955bf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dad3890e-b018-11e8-b13f-cbc83acd995e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <LastUpdatedTimestamp>2017-05-03T10:46:51.634Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Attac-18IYH2NXW163I</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <LogicalResourceId>AttachGateway</LogicalResourceId>
                <ResourceType>AWS::EC2::VPCGatewayAttachment</ResourceType>
              </member>
              <member>
                <LastUpdatedTimestamp>2017-05-03T10:46:59.572Z</LastUpdatedTimestamp>
                <PhysicalResourceId>EmsRe-Inbou-1M80E3XJX5ZG6</PhysicalResourceId>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <DriftInformation>
                  <StackResourceDriftStatus>NOT_CHECKED</StackResourceDriftStatus>
                </DriftInformation>
                <Lo[...]
[...]
