---
http_interactions:
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Id":"pp-u2tepcnttldko"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.DescribeProvisionedProduct
      X-Amz-Date:
      - 20180914T152844Z
      X-Amz-Content-Sha256:
      - 6ade39146d3bfd560fa95bc81259fca6e23130a4fed6df9789927d61676dbb39
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180914/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=2ece506693a8a2d0f929452b351964be927d014dc041521d68d88920eaf03e5f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - de5fdcb5-b832-11e8-9685-4f3416af0df2
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"CloudWatchDashboards":[],"ProvisionedProductDetail":{"Arn":"arn:aws:servicecatalog:us-east-1:200278856672:stack/EmsRefreshSpecServiceInstanceV3/pp-u2tepcnttldko","CreatedTime":1.536221931782E9,"Id":"pp-u2tepcnttldko","IdempotencyToken":"c4de373d-fc6b-45ac-a7d0-760b6be25756","LastRecordId":"rec-coaoipufhru7e","Name":"EmsRefreshSpecServiceInstanceV3","ProductId":"prod-h7p6ruq5qgrga","ProvisioningArtifactId":"pa-ysaib55ylta6k","Status":"AVAILABLE","Type":"CFN_STACK"}}'
  recorded_at: Fri, 14 Sep 2018 15:28:45 GMT
[...]
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Id":"rec-coaoipufhru7e"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.DescribeRecord
      X-Amz-Date:
      - 20180914T152846Z
      X-Amz-Content-Sha256:
      - 240507e055a8a624f379c3952038fd777a6fb2ddc5eb34db4e73a6a93ce671f0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180914/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=b4d9f26ed6fa01b37669bad3403f4b3b554889169431a1e4441765d27b0230bf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - df21f46e-b832-11e8-ac74-a390c0bbbfc3
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"RecordDetail":{"CreatedTime":1.53622193179E9,"PathId":"lp-e76ssfhze5jyi","ProductId":"prod-h7p6ruq5qgrga","ProvisionedProductId":"pp-u2tepcnttldko","ProvisionedProductName":"EmsRefreshSpecServiceInstanceV3","ProvisionedProductType":"CFN_STACK","ProvisioningArtifactId":"pa-ysaib55ylta6k","RecordErrors":[],"RecordId":"rec-coaoipufhru7e","RecordTags":[{"Key":"aws:servicecatalog:productArn","Value":"arn:aws:catalog:us-east-1:200278856672:product/prod-h7p6ruq5qgrga"},{"Key":"aws:servicecatalog:provisioningPrincipalArn","Value":"arn:aws:iam::200278856672:user/VCR"},{"Key":"aws:servicecatalog:portfolioArn","Value":"arn:aws:catalog:us-east-1:200278856672:portfolio/port-4qwgmfklkgosk"}],"RecordType":"PROVISION_PRODUCT","Status":"SUCCEEDED","UpdatedTime":1.53622212831E9},"RecordOutputs":[{"Description":"The
        ARN of the launched Cloudformation Stack","OutputKey":"CloudformationStackARN","OutputValue":"arn:aws:cloudformation:us-east-1:200278856672:stack/SC-200278856672-pp-u2tepcnttldko/7db5dfd0-b1ad-11e8-b3ce-500c524294d2"},{"Description":"URL
        of the website","OutputKey":"URL","OutputValue":"http://SC-200278-ElasticL-OHBTSYAE8C89-342178717.us-east-1.elb.amazonaws.com"}]}'
  recorded_at: Fri, 14 Sep 2018 15:28:46 GMT
[...]
