---
http_interactions:
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Id":"prod-4v6rc4hwaiiha"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.DescribeProductAsAdmin
      X-Amz-Date:
      - 20200812T141457Z
      X-Amz-Content-Sha256:
      - 4fd4c0934d67d7934496d0b085a62a5d0f2875d67559eef17602900b1781dbf0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=61e9688e69e35dc2b0e46510ab9c2a570ec7125f19f4d9bd6865bf9bac57c813
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1dae438f-d7e6-4103-9da2-8976f1085a24
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Budgets":[],"ProductViewDetail":{"CreatedTime":1.536071279E9,"ProductARN":"arn:aws:catalog:us-east-1:200278856672:product/prod-4v6rc4hwaiiha","ProductViewSummary":{"Distributor":"","HasDefaultPath":false,"Id":"prodview-mojlvmp5xax74","Name":"EmsRefreshSpecProductWithNoPortfolio","Owner":"EmsRefreshSpecProductWithNoPortfolioOwner","ProductId":"prod-4v6rc4hwaiiha","ShortDescription":"EmsRefreshSpecProductWithNoPortfolio
        desc","Type":"CLOUD_FORMATION_TEMPLATE"},"Status":"CREATED"},"ProvisioningArtifactSummaries":[{"CreatedTime":1.536071279E9,"Description":"","Id":"pa-ujhgfquqip5h6","Name":"v1.1.1","ProvisioningArtifactMetadata":{"SourceProvisioningArtifactId":"pa-ujhgfquqip5h6"}}],"TagOptions":[],"Tags":[]}'
  recorded_at: Wed, 12 Aug 2020 14:14:57 GMT
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Id":"prod-h7p6ruq5qgrga"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.DescribeProductAsAdmin
      X-Amz-Date:
      - 20200812T141457Z
      X-Amz-Content-Sha256:
      - a465015663724755eebd6b373782eaa954b557e98fc89644a6ac4c050e402ea3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=bae392cd52ababe270094ff339768a840413c37d2375d9a50dcce02500d29a03
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a6c8871a-58f5-4f13-9fc7-9474807f8655
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Budgets":[],"ProductViewDetail":{"CreatedTime":1.536051613E9,"ProductARN":"arn:aws:catalog:us-east-1:200278856672:product/prod-h7p6ruq5qgrga","ProductViewSummary":{"Distributor":"EmsRefreshSpecVendor","HasDefaultPath":false,"Id":"prodview-j3n5gqatjrkk2","Name":"EmsRefreshSpecProduct","Owner":"EmsRefreshSpecOwner","ProductId":"prod-h7p6ruq5qgrga","ShortDescription":"EmsRefreshSpecProduct
        description","SupportDescription":"EmsRefreshSpec desc","SupportEmail":"EmsRefreshSpec@test.com","SupportUrl":"http://EmsRefreshSpec.com","Type":"CLOUD_FORMATION_TEMPLATE"},"Status":"CREATED"},"ProvisioningArtifactSummaries":[{"CreatedTime":1.536051613E9,"Description":"desc","Id":"pa-nr3ua3nz3pgwq","Name":"v2","ProvisioningArtifactMetadata":{"SourceProvisioningArtifactId":"pa-nr3ua3nz3pgwq"}},{"CreatedTime":1.53605307E9,"Description":"new
        version","Id":"pa-ysaib55ylta6k","Name":"v3","ProvisioningArtifactMetadata":{"SourceProductId":"prod-h7p6ruq5qgrga","SourceProvisioningArtifactId":"pa-ysaib55ylta6k"}},{"CreatedTime":1.536063943E9,"Description":"deactivated","Id":"pa-ci43v4i7myz7g","Name":"v1","ProvisioningArtifactMetadata":{"SourceProductId":"prod-h7p6ruq5qgrga","SourceProvisioningArtifactId":"pa-ci43v4i7myz7g"}}],"TagOptions":[],"Tags":[]}'
  recorded_at: Wed, 12 Aug 2020 14:14:57 GMT
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Id":"prod-4v6rc4hwaiiha"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.DescribeProduct
      X-Amz-Date:
      - 20200812T141457Z
      X-Amz-Content-Sha256:
      - 4fd4c0934d67d7934496d0b085a62a5d0f2875d67559eef17602900b1781dbf0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=1237393736c4d0f53d27f2595521388ef9614cc5faacae8e15854cebc10e9adf
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - ccde39e3-4b81-4057-8dde-494b1c824a51
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"__type":"ResourceNotFoundException","Message":"prod-4v6rc4hwaiiha
        does not exist or access was denied"}'
  recorded_at: Wed, 12 Aug 2020 14:14:57 GMT
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Id":"prod-h7p6ruq5qgrga"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.DescribeProduct
      X-Amz-Date:
      - 20200812T141457Z
      X-Amz-Content-Sha256:
      - a465015663724755eebd6b373782eaa954b557e98fc89644a6ac4c050e402ea3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=9f226f3a19bdf575732f2af6ff96c11ea643237926a956c6201dc3970e6f14f9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 474016cf-95a3-4722-98e1-ab14d9e29f3d
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"Budgets":[],"LaunchPaths":[{"Id":"lp-e76ssfhze5jyi","Name":"EmsRefreshSpecPortfolio"},{"Id":"lp-rb5sy6f5vyrdk","Name":"EmsRefreshSpecPortfolio2"}],"ProductViewSummary":{"Distributor":"EmsRefreshSpecVendor","HasDefaultPath":false,"Id":"prodview-j3n5gqatjrkk2","Name":"EmsRefreshSpecProduct","Owner":"EmsRefreshSpecOwner","ProductId":"prod-h7p6ruq5qgrga","ShortDescription":"EmsRefreshSpecProduct
        description","SupportDescription":"EmsRefreshSpec desc","SupportEmail":"EmsRefreshSpec@test.com","SupportUrl":"http://EmsRefreshSpec.com","Type":"CLOUD_FORMATION_TEMPLATE"},"ProvisioningArtifacts":[{"CreatedTime":1.536051613E9,"Description":"desc","Guidance":"DEFAULT","Id":"pa-nr3ua3nz3pgwq","Name":"v2"},{"CreatedTime":1.53605307E9,"Description":"new
        version","Guidance":"DEFAULT","Id":"pa-ysaib55ylta6k","Name":"v3"}]}'
  recorded_at: Wed, 12 Aug 2020 14:14:58 GMT
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ProductId":"prod-h7p6ruq5qgrga"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.ListLaunchPaths
      X-Amz-Date:
      - 20200812T141458Z
      X-Amz-Content-Sha256:
      - 33f8e66d5c7ae5d987387680c7c927c886ef0b9b336fd9ad3198b3e3bae26f2a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d5cccb72a608a7224eb84042de183725eb78e2fee82772d6daee747ecda2fa7f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d3b15b66-bd48-433a-bd6f-c277a76f8c72
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"LaunchPathSummaries":[{"ConstraintSummaries":[{"Description":"Enforcing
        instance type to be either t1.micro or m1.small","Type":"TEMPLATE"}],"Id":"lp-e76ssfhze5jyi","Name":"EmsRefreshSpecPortfolio","Tags":[]},{"ConstraintSummaries":[],"Id":"lp-rb5sy6f5vyrdk","Name":"EmsRefreshSpecPortfolio2","Tags":[]}]}'
  recorded_at: Wed, 12 Aug 2020 14:14:58 GMT
- request:
    method: post
    uri: https://servicecatalog.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ProductId":"prod-h7p6ruq5qgrga","ProvisioningArtifactId":"pa-nr3ua3nz3pgwq","PathId":"lp-e76ssfhze5jyi"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWS242ServiceCatalogService.DescribeProvisioningParameters
      X-Amz-Date:
      - 20200812T141458Z
      X-Amz-Content-Sha256:
      - 44e7ca0f12a55eb2b1295e205bf3b50718e6453e209e2280595e8456bb6e7a9c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/servicecatalog/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=cf54c84f7477a0fd5512cdc76c63e969df8181ab732d7728e3dbff79b666c76b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cfaa9024-9659-4359-a3fc-1da95489422b
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"ConstraintSummaries":[{"Description":"Enforcing instance type to
        be either t1.micro or m1.small","Type":"TEMPLATE"}],"ProvisioningArtifactOutputs":[{"Description":"desc","Key":"pa-nr3ua3nz3pgwq"},{"Description":"new
        version","Key":"pa-ysaib55ylta6k"}],"ProvisioningArtifactParameters":[{"Description":"Name
        of an existing EC2 KeyPair to enable SSH access to the instances","IsNoEcho":false,"ParameterConstraints":{"AllowedValues":[]},"ParameterKey":"KeyName","ParameterType":"AWS::EC2::KeyPair::KeyName"},{"DefaultValue":"0.0.0.0/0","Description":"The
        IP address range that can be used to SSH to the EC2 instances","IsNoEcho":false,"ParameterConstraints":{"AllowedValues":[]},"ParameterKey":"SSHLocation","ParameterType":"String"},{"DefaultValue":"t2.small","Description":"WebServer
        EC2 instance type","IsNoEcho":false,"ParameterConstraints":{"AllowedValues":["t1.micro","t2.nano","t2.micro","t2.small","t2.medium","t2.large","m1.small","m1.medium","m1.large","m1.xlarge","m2.xlarge","m2.2xlarge","m2.4xlarge","m3.medium","m3.large","m3.xlarge","m3.2xlarge","m4.large","m4.xlarge","m4.2xlarge","m4.4xlarge","m4.10xlarge","c1.medium","c1.xlarge","c3.large","c3.xlarge","c3.2xlarge","c3.4xlarge","c3.8xlarge","c4.large","c4.xlarge","c4.2xlarge","c4.4xlarge","c4.8xlarge","g2.2xlarge","g2.8xlarge","r3.large","r3.xlarge","r3.2xlarge","r3.4xlarge","r3.8xlarge","i2.xlarge","i2.2xlarge","i2.4xlarge","i2.8xlarge","d2.xlarge","d2.2xlarge","d2.4xlarge","d2.8xlarge","hi1.4xlarge","hs1.8xlarge","cr1.8xlarge","cc2.8xlarge","cg1.4xlarge"]},"ParameterKey":"InstanceType","ParameterType":"String"}],"ProvisioningArtifactPreferences":{},"TagOptions":[],"UsageInstructions":[{"Type":"rules","Value":"{\"Rule1\":{\"Assertions\":[{\"AssertDescription\":\"Instance
        type should be either t1.micro or m1.small\",\"Assert\":{\"Fn::Contains\":[[\"t1.micro\",\"m1.small\"],{\"Ref\":\"InstanceType\"}]}}]}}"},{"Type":"version","Value":"2010-09-09"},{"Type":"description","Value":"AWS
        CloudFormation Sample Template ELBWithLockedDownAutoScaledInstances: Create
        a load balanced, Auto Scaled sample website where the instances are locked
        down to only accept traffic from the load balancer. This example creates an
        Auto Scaling group behind a load balancer with a simple health check. The
        web site is available on port 80, however, the instances can be configured
        to listen on any port (8888 by default). **WARNING** This template creates
        one or more Amazon EC2 instances and an Elastic Load Balancer. You will be
        billed for the AWS resources used if you create a stack from this template."},{"Type":"metadata","Value":"{\"AWS::CloudFormation::Designer\":{\"d734fbb5-46b9-46e6-8905-e95d19b8e184\":{\"z\":\"1\",\"position\":{\"x\":\"60\",\"y\":\"90\"},\"size\":{\"width\":\"60\",\"height\":\"60\"},\"embeds\":[]},\"6356820a-2472-4818-b70f-acfca47ee542\":{\"z\":\"1\",\"position\":{\"x\":\"180\",\"y\":\"210\"},\"size\":{\"width\":\"60\",\"height\":\"60\"},\"embeds\":[],\"isconnectedto\":[\"d734fbb5-46b9-46e6-8905-e95d19b8e184\"],\"isassociatedwith\":[\"65fa704f-2abf-4c89-b3d4-7d9c54272872\"]},\"65fa704f-2abf-4c89-b3d4-7d9c54272872\":{\"z\":\"1\",\"position\":{\"x\":\"60\",\"y\":\"210\"},\"size\":{\"width\":\"60\",\"height\":\"60\"},\"ismemberof\":[\"02d7e550-1606-4cab-854b-8e875e8781c4\"],\"embeds\":[]},\"02d7e550-1606-4cab-854b-8e875e8781c4\":{\"isrelatedto\":[\"d734fbb5-46b9-46e6-8905-e95d19b8e184\"],\"z\":\"1\",\"position\":{\"x\":\"180\",\"y\":\"90\"},\"size\":{\"width\":\"60\",\"height\":\"60\"},\"embeds\":[]}}}"},{"Type":"tagUpdateOnProvisionedProduct","Value":"NOT_ALLOWED"}]}'
  recorded_at: Wed, 12 Aug 2020 14:14:59 GMT
[...]
