---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-8b5739f2&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110751Z
      X-Amz-Content-Sha256:
      - e2d9b669aae6b51a63d67b20b361e9a0781d8847cf0d067825b00eba56c38a11
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=1e22298f85e23d0fddf2c74aa24d61abac82359f53778a04dad7ed7bb10ffd86
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>6df645d9-403f-4d01-91a5-4199380c0929</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1842f370</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-8b5739f2</instanceId>
                            <imageId>ami-5769193e</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2016-08-30T07:14:39.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-1eceaf77</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-f849ff96</subnetId>
                            <vpcId>vpc-ff49ff91</vpcId>
                            <privateIpAddress>10.0.0.254</privateIpAddress>
                            <ipAddress>54.208.119.197</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-80f755ef</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-67606d2d</volumeId>
                                        <status>attached</status>
                                        <attachTime>2013-09-23T20:11:57.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdf</deviceName>
                                    <ebs>
                                        <volumeId>vol-0e4c86c12b28cead8</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-03-17T07:22:23.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>aPCzL1379967112359</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>EmsRefreshSpec-PoweredOn-VPC</value>
                                </item>
                                <item>
                                    <key>owner</key>
                                    <value>UNKNOWN</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>
                                    <subnetId>subnet-f849ff96</subnetId>
                                    <vpcId>vpc-ff49ff91</vpcId>
                                    <description>Primary network interface</description>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>22:d8:dc:13:0c:ca</macAddress>
                                    <privateIpAddress>10.0.0.254</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-80f755ef</groupId>
                                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-05fac66f</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2013-09-23T20:11:52.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>54.208.119.197</publicIp>
                                        <publicDnsName/>
                                        <ipOwnerId>200278856672</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.0.0.254</privateIpAddress>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>54.208.119.197</publicIp>
                                            <publicDnsName/>
                                            <ipOwnerId>200278856672</ipOwnerId>
                                            </association>
                                        </item>
                                        <item>
                                            <privateIpAddress>10.0.0.208</privateIpAddress>
                                            <privateDnsName/>
                                            <primary>false</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:52 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Filter.1.Name=network-interface-id&Filter.1.Value.1=eni-ad25f7cc&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110752Z
      X-Amz-Content-Sha256:
      - 05fbd66d553750cf914304302a483c6ecc8fc8ce4b32360b7c6b78c3c0dd257b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=63dfff827b7ac72a50c1567bb5efb14a207ec150de17dde443cbbac32a3a4cd1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>c2efa2e9-6f78-4600-b6c3-02f7d0e73202</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>
                    <subnetId>subnet-f849ff96</subnetId>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <description>Primary network interface</description>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>22:d8:dc:13:0c:ca</macAddress>
                    <privateIpAddress>10.0.0.254</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-80f755ef</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-05fac66f</attachmentId>
                        <instanceId>i-8b5739f2</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2013-09-23T20:11:52.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>54.208.119.197</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>200278856672</ipOwnerId>
                        <allocationId>eipalloc-ce53d7a0</allocationId>
                        <associationId>eipassoc-cc6e58f1</associationId>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>10.0.0.254</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>54.208.119.197</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>200278856672</ipOwnerId>
                                <allocationId>eipalloc-ce53d7a0</allocationId>
                                <associationId>eipassoc-cc6e58f1</associationId>
                            </association>
                        </item>
                        <item>
                            <privateIpAddress>10.0.0.208</privateIpAddress>
                            <privateDnsName/>
                            <primary>false</primary>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:53 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110753Z
      X-Amz-Content-Sha256:
      - 3687d6dd1f231b3240bd52e8c7cf959c498b8b7312ba6b8a4e9c1e83e973d0b5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0efec1f5f3e32c1655a31430ef66c0efab6ba08e1b9f01a5837e1501522c7402
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>25e180aa-a5a7-41cc-8b61-4dd5d5c20404</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:53 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110753Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=d9bb91e107b997e012a15147d0a309167fdd22e047d279680a7d81dcda67e77d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>99593732-fd2c-422b-a73e-d27b410d7694</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:54 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-5769193e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110754Z
      X-Amz-Content-Sha256:
      - 59ebf96e9619012c1913bd7ad295db16925f7ce6f757deea0097185f78822898
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=4bf51026b3545da4ae273dc946726a4eb8ec9d0c763977941fc2d5ba3c4951ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>308f74f3-12e5-49bf-b5b6-6104c07c3d82</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-5769193e</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:44.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-1eceaf77</kernelId>
                    <name>EmsRefreshSpec-Image</name>
                    <description>EmsRefreshSpec-Image</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-5f38cd0e</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:55 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-ff49ff91&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110755Z
      X-Amz-Content-Sha256:
      - c4845e8b461f14be4b886767ca0310a99c2f2a0a26fe026926e9bc17f4f79be7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5fc5d35bb4e142ce9a06db744864a858a5dd1978f43840c0fa9ccbd6f9f66d36
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>493dae53-dff1-40cb-b41f-fb41a2739a9e</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:55 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=subnet-id&Filter.1.Value.1=subnet-f849ff96&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110755Z
      X-Amz-Content-Sha256:
      - 665a0a620bb43c6e0ff2e3a10d7af509aa161bd637a25c8edb365d505947be5b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=da87375eeb75d0601858e7fc07c6e4616166c5d2e1b0f3bd248a9c7c9ea3d29a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>eb3b703d-552c-41e0-86e9-fc67ad3afee4</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-f849ff96</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>241</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet1</value>
                        </item>
                    </tagSet>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:56 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=group-id&Filter.1.Value.1=sg-80f755ef&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110756Z
      X-Amz-Content-Sha256:
      - 0556b7007cebc8027a9ce2b5915968f2b1c7c6ffe1a378f347ce5af51819c62b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a18286744a50e4688812b1cb6168cbad4fabd0c0f09e8660a0659ab162cd01a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>af85551f-7f72-4864-8e62-1b63e5bcfe52</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-80f755ef</groupId>
                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                    <groupDescription>EmsRefreshSpec-SecurityGroup-VPC</groupDescription>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>22</fromPort>
                            <toPort>22</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>icmp</ipProtocol>
                            <fromPort>-1</fromPort>
                            <toPort>-1</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissionsEgress>
                </item>
            </securityGroupInfo>
        </DescribeSecurityGroupsResponse>
  recorded_at: Tue, 18 Apr 2017 11:07:56 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&LoadBalancerNames.member.1=EmSRefreshSpecVPCELB&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170418T110756Z
      X-Amz-Content-Sha256:
      - 82480686120cee6598fb446a90f52388d87e930c9f7c5c1a597f4854ca394d9e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170418/us-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5ce43786262a1802bc63a9b51ce1f120aae38db9cb4af3884dfc0b503e121488
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 470a47bf-2427-11e7-843c-37281a9cecad
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions>
              <member>
                <VPCId>vpc-ff49ff91</VPCId>
                <CanonicalHostedZoneNameID>Z35SXDOTRQ7X7K</CanonicalHostedZoneNameID>
                <Scheme>internet-facing</Scheme>
                <Instances>
                  <member>
                    <InstanceId>i-8b5739f2</InstanceId>
                  </member>
                  <member>
                    <InstanceId>i-fb694e66</InstanceId>
                  </member>
                </Instances>
                <Policies>
                  <AppCookieStickinessPolicies/>
                  <LBCookieStickinessPolicies/>
                  <OtherPolicies/>
                </Policies>
                <AvailabilityZones>
                  <member>us-east-1d</member>
                  <member>us-east-1e</member>
                </AvailabilityZones>
                <DNSName>EmSRefreshSpecVPCELB-546141344.us-east-1.elb.amazonaws.com</DNSName>
                <BackendServerDescriptions/>
                <SourceSecurityGroup>
                  <OwnerAlias>200278856672</OwnerAlias>
                  <GroupName>EmsRefreshSpec-SecurityGroup-VPC</GroupName>
                </SourceSecurityGroup>
                <LoadBalancerName>EmSRefreshSpecVPCELB</LoadBalancerName>
                <ListenerDescriptions>
                  <member>
                    <Listener>
                      <InstancePort>80</InstancePort>
                      <InstanceProtocol>HTTP</InstanceProtocol>
                      <Protocol>HTTP</Protocol>
                      <LoadBalancerPort>80</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                  <member>
                    <Listener>
                      <InstancePort>22</InstancePort>
                      <InstanceProtocol>TCP</InstanceProtocol>
                      <Protocol>TCP</Protocol>
                      <LoadBalancerPort>22</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                </ListenerDescriptions>
                <HealthCheck>
                  <UnhealthyThreshold>2</UnhealthyThreshold>
                  <Interval>30</Interval>
                  <HealthyThreshold>10</HealthyThreshold>
                  <Timeout>5</Timeout>
                  <Target>HTTP:80/index.html</Target>
                </HealthCheck>
                <CreatedTime>2016-08-09T08:16:14.340Z</CreatedTime>
                <Subnets>
                  <member>subnet-16c70477</member>
                  <member>subnet-f849ff96</member>
                </Subnets>
[...]
