---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-c72af2f6&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141518Z
      X-Amz-Content-Sha256:
      - beeb9f3c3d9596e8d8d16108091fe5ee7ca3119c49776de86ca8415515eaed7e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=553817b03a3f5701757c817e90ee098abc9f1f42cea1d5002ab1f64b9467676f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 35d38d76-2fa8-4720-94de-31888efed2b6
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>35d38d76-2fa8-4720-94de-31888efed2b6</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-e08e325e</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-c72af2f6</instanceId>
                            <imageId>ami-2051294a</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-0-122.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2020-08-12T14:11:40.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-f849ff96</subnetId>
                            <vpcId>vpc-ff49ff91</vpcId>
                            <privateIpAddress>10.0.0.122</privateIpAddress>
                            <ipAddress>3.87.216.170</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-80f755ef</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-da190f08</volumeId>
                                        <status>attached</status>
                                        <attachTime>2016-08-30T07:17:59.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdf</deviceName>
                                    <ebs>
                                        <volumeId>vol-0acad09812d803c09</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-03-17T07:25:12.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>BWJjo1472541478233</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>EmsRefreshSpec-PoweredOn-VPC1</value>
                                </item>
                                <item>
                                    <key>owner</key>
                                    <value>UNKNOWN</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-2b986f38</networkInterfaceId>
                                    <subnetId>subnet-f849ff96</subnetId>
                                    <vpcId>vpc-ff49ff91</vpcId>
                                    <description>Primary network interface</description>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>12:3e:ae:70:92:0d</macAddress>
                                    <privateIpAddress>10.0.0.122</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-80f755ef</groupId>
                                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-455ec9ed</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2016-08-30T07:17:58.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>3.87.216.170</publicIp>
                                        <publicDnsName/>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.0.0.122</privateIpAddress>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>3.87.216.170</publicIp>
                                            <publicDnsName/>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                    <interfaceType>interface</interfaceType>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <cpuOptions>
                                <coreCount>1</coreCount>
                                <threadsPerCore>1</threadsPerCore>
                            </cpuOptions>
                            <capacityReservationSpecification>
                                <capacityReservationPreference>open</capacityReservationPreference>
                            </capacityReservationSpecification>
                            <hibernationOptions>
                                <configured>false</configured>
                            </hibernationOptions>
                            <enclaveOptions>
                                <enabled>false</enabled>
                            </enclaveOptions>
                            <metadataOptions>
                                <state>applied</state>
                                <httpTokens>optional</httpTokens>
                                <httpPutResponseHopLimit>1</httpPutResponseHopLimit>
                                <httpEndpoint>enabled</httpEndpoint>
                            </metadataOptions>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Filter.1.Name=network-interface-id&Filter.1.Value.1=eni-2b986f38&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141519Z
      X-Amz-Content-Sha256:
      - 96f2b77608d5e6646c25ad6c234ff63a9a49d8c20af1a20dbaa1016ae19ee1e6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=62d6df4dc515a6c0caa656a1b1e5a2d1016efd028e53ecb79498415581b6d870
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 92c56aa0-39e3-4358-ae54-73dd2022742b
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>92c56aa0-39e3-4358-ae54-73dd2022742b</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-2b986f38</networkInterfaceId>
                    <subnetId>subnet-f849ff96</subnetId>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <description>Primary network interface</description>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>12:3e:ae:70:92:0d</macAddress>
                    <privateIpAddress>10.0.0.122</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-80f755ef</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-455ec9ed</attachmentId>
                        <instanceId>i-c72af2f6</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2016-08-30T07:17:58.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>3.87.216.170</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>amazon</ipOwnerId>
                        <natEnabled>true</natEnabled>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>10.0.0.122</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>3.87.216.170</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>amazon</ipOwnerId>
                                <natEnabled>true</natEnabled>
                            </association>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                    <interfaceType>interface</interfaceType>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141519Z
      X-Amz-Content-Sha256:
      - 3687d6dd1f231b3240bd52e8c7cf959c498b8b7312ba6b8a4e9c1e83e973d0b5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=093c0c9e948dff1a0621a1651ffa22aef85d958eb8bce45e651ac0acee6897a4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2bd565a1-8b5f-4693-97f5-5e944a03a799
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>2bd565a1-8b5f-4693-97f5-5e944a03a799</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneId>use1-az2</zoneId>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <groupName>us-east-1</groupName>
                    <optInStatus>opt-in-not-required</optInStatus>
                    <networkBorderGroup>us-east-1</networkBorderGroup>
                    <zoneType>availability-zone</zoneType>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141519Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f732b769649fb31991c1c0b7d8c83631d67668805bc9dd23f617e1c63d3d9117
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2e7f91a0-3934-408c-a59f-b441737d4779
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>2e7f91a0-3934-408c-a59f-b441737d4779</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyPairId>key-08235bc4add1b8538</keyPairId>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                    <tagSet/>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-2051294a&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141519Z
      X-Amz-Content-Sha256:
      - 1dba40e3cae389560839f1c6f175562e3a67b47998b64a9b971a6de60d71df67
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=3ff24897d0c051e873db43e117b4607845b9313c09e3ccb32475e8541d944c19
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4a0a81dd-3bdd-4346-ad0d-27c7b1db351f
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>4a0a81dd-3bdd-4346-ad0d-27c7b1db351f</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-2051294a</imageId>
                    <imageLocation>309956199498/RHEL-7.2_HVM_GA-20151112-x86_64-1-Hourly2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2015-11-12T21:06:58.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>RHEL-7.2_HVM_GA-20151112-x86_64-1-Hourly2-GP2</name>
                    <description>Provided by Red Hat, Inc.</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-ba40cac8</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                    <platformDetails>Red Hat Enterprise Linux</platformDetails>
                    <usageOperation>RunInstances:0010</usageOperation>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-ff49ff91&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141519Z
      X-Amz-Content-Sha256:
      - c4845e8b461f14be4b886767ca0310a99c2f2a0a26fe026926e9bc17f4f79be7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9eed4e5aab45462a307e3d70436f3c9f040739f18af12b1606daffd431999fbb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 885f27bd-7d97-4696-9aa4-18e88caa5e50
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>885f27bd-7d97-4696-9aa4-18e88caa5e50</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <ownerId>200278856672</ownerId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <cidrBlockAssociationSet>
                        <item>
                            <cidrBlock>10.0.0.0/16</cidrBlock>
                            <associationId>vpc-cidr-assoc-2e6daa47</associationId>
                            <cidrBlockState>
                                <state>associated</state>
                            </cidrBlockState>
                        </item>
                    </cidrBlockAssociationSet>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:20 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=subnet-id&Filter.1.Value.1=subnet-f849ff96&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141520Z
      X-Amz-Content-Sha256:
      - 665a0a620bb43c6e0ff2e3a10d7af509aa161bd637a25c8edb365d505947be5b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ff81510abb5e6f691d0cffc1fe40e0081900932a2a2311ec0d43430bb1934a6e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 318f7615-1954-459a-b22c-0c9a688f7476
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>318f7615-1954-459a-b22c-0c9a688f7476</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-f849ff96</subnetId>
                    <subnetArn>arn:aws:ec2:us-east-1:200278856672:subnet/subnet-f849ff96</subnetArn>
                    <state>available</state>
                    <ownerId>200278856672</ownerId>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>242</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <availabilityZoneId>use1-az2</availabilityZoneId>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet1</value>
                        </item>
                    </tagSet>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                    <mapCustomerOwnedIpOnLaunch>false</mapCustomerOwnedIpOnLaunch>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:20 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=group-id&Filter.1.Value.1=sg-80f755ef&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141520Z
      X-Amz-Content-Sha256:
      - 0556b7007cebc8027a9ce2b5915968f2b1c7c6ffe1a378f347ce5af51819c62b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=76bf6e1d6035218302096ddba696f41d818d29aa01db48a21f6bb406a86e430a
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 421e6d1a-2533-4396-9c30-cfadef18e66b
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>421e6d1a-2533-4396-9c30-cfadef18e66b</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-80f755ef</groupId>
                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                    <groupDescription>EmsRefreshSpec-SecurityGroup-VPC</groupDescription>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>22</fromPort>
                            <toPort>22</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>icmp</ipProtocol>
                            <fromPort>-1</fromPort>
                            <toPort>-1</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissionsEgress>
                </item>
            </securityGroupInfo>
        </DescribeSecurityGroupsResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:20 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Filter.1.Name=allocation-id&Filter.1.Value.1=3.87.216.170&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141520Z
      X-Amz-Content-Sha256:
      - e4ba2b24355e84bf582da7eb8a4c724e4ebbe584456d06cb9fe6e2ee6174e94d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20200812/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8aebc601a5a1e6c0056503cb3eb61f0eed1a89e044d7236f11c9346305e8431b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9e337022-48e3-40a2-9aa0-879951c89f6d
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>9e337022-48e3-40a2-9aa0-879951c89f6d</requestId>
            <addressesSet/>
        </DescribeAddressesResponse>
  recorded_at: Wed, 12 Aug 2020 14:15:20 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVolumes&Filter.1.Name=volume-id&Filter.1.Value.1=vol-da190f08&Filter.1.Value.2=vol-0acad09812d803c09&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20200812T141521Z
      X-Amz-Content-Sha256:
[...]
