---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-8b5739f2&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143118Z
      X-Amz-Content-Sha256:
      - e2d9b669aae6b51a63d67b20b361e9a0781d8847cf0d067825b00eba56c38a11
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a200d1b862766c1e5378126fcad509f0405b1db31cfe5719ed4fc8e55b8746f6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>47970f8c-1e42-40cb-901a-d150b656a6f8</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1842f370</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-8b5739f2</instanceId>
                            <imageId>ami-5769193e</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2017-09-13T16:07:19.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-1eceaf77</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-f849ff96</subnetId>
                            <vpcId>vpc-ff49ff91</vpcId>
                            <privateIpAddress>10.0.0.254</privateIpAddress>
                            <ipAddress>54.208.119.197</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-80f755ef</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-67606d2d</volumeId>
                                        <status>attached</status>
                                        <attachTime>2013-09-23T20:11:57.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdf</deviceName>
                                    <ebs>
                                        <volumeId>vol-0e4c86c12b28cead8</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-03-17T07:22:23.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>aPCzL1379967112359</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>EmsRefreshSpec-PoweredOn-VPC</value>
                                </item>
                                <item>
                                    <key>owner</key>
                                    <value>UNKNOWN</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>
                                    <subnetId>subnet-f849ff96</subnetId>
                                    <vpcId>vpc-ff49ff91</vpcId>
                                    <description>Primary network interface</description>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>22:d8:dc:13:0c:ca</macAddress>
                                    <privateIpAddress>10.0.0.254</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-80f755ef</groupId>
                                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-05fac66f</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2013-09-23T20:11:52.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>54.208.119.197</publicIp>
                                        <publicDnsName/>
                                        <ipOwnerId>200278856672</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.0.0.254</privateIpAddress>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>54.208.119.197</publicIp>
                                            <publicDnsName/>
                                            <ipOwnerId>200278856672</ipOwnerId>
                                            </association>
                                        </item>
                                        <item>
                                            <privateIpAddress>10.0.0.208</privateIpAddress>
                                            <privateDnsName/>
                                            <primary>false</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <cpuOptions>
                                <coreCount>1</coreCount>
                                <threadsPerCore>1</threadsPerCore>
                            </cpuOptions>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:18 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Filter.1.Name=network-interface-id&Filter.1.Value.1=eni-ad25f7cc&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143118Z
      X-Amz-Content-Sha256:
      - 05fbd66d553750cf914304302a483c6ecc8fc8ce4b32360b7c6b78c3c0dd257b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a68201bc161a57578393b8f65bb89afdbce4b827b07eda85a0bfeae30be1afaa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>80472fc8-ff52-4a80-967b-cc45355083cc</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>
                    <subnetId>subnet-f849ff96</subnetId>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <description>Primary network interface</description>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>22:d8:dc:13:0c:ca</macAddress>
                    <privateIpAddress>10.0.0.254</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-80f755ef</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-05fac66f</attachmentId>
                        <instanceId>i-8b5739f2</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2013-09-23T20:11:52.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>54.208.119.197</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>200278856672</ipOwnerId>
                        <allocationId>eipalloc-ce53d7a0</allocationId>
                        <associationId>eipassoc-cc6e58f1</associationId>
                        <natEnabled>true</natEnabled>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>10.0.0.254</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>54.208.119.197</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>200278856672</ipOwnerId>
                                <allocationId>eipalloc-ce53d7a0</allocationId>
                                <associationId>eipassoc-cc6e58f1</associationId>
                                <natEnabled>true</natEnabled>
                            </association>
                        </item>
                        <item>
                            <privateIpAddress>10.0.0.208</privateIpAddress>
                            <privateDnsName/>
                            <primary>false</primary>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                    <interfaceType>interface</interfaceType>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143119Z
      X-Amz-Content-Sha256:
      - 3687d6dd1f231b3240bd52e8c7cf959c498b8b7312ba6b8a4e9c1e83e973d0b5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=86bd76629b520712cb9dae31b3853fc52866d169c7fd756f21da9ddd5224b948
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>661fe515-e046-416f-be00-0e0c4958d36a</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:20 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143120Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ea5e56df6e3855d9fe8c9ae82bac5128055c7fa48168646d38c04ee727ca9266
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>95f46aa7-3b17-4d73-ba78-837a693b9ddd</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:20 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-5769193e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143120Z
      X-Amz-Content-Sha256:
      - 59ebf96e9619012c1913bd7ad295db16925f7ce6f757deea0097185f78822898
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9ee13bef8962606e2384c2469fd0e570de140cef01897bd809bb9be9599d0a63
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>e36f2273-3c28-4c63-8b84-5286b0055d0e</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-5769193e</imageId>
                    <imageLocation>200278856672/EmsRefreshSpec-Image</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2013-06-22T02:28:44.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-1eceaf77</kernelId>
                    <name>EmsRefreshSpec-Image</name>
                    <description>EmsRefreshSpec-Image</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-5f38cd0e</snapshotId>
                                <volumeSize>7</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value/>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:22 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-ff49ff91&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143122Z
      X-Amz-Content-Sha256:
      - c4845e8b461f14be4b886767ca0310a99c2f2a0a26fe026926e9bc17f4f79be7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=83d05b792a589bd0bdb833f578f4cea900cf9b4aff63c9f8706f9714378e5feb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>95f52eb4-5f14-425d-894f-dacc2b00bb6c</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <cidrBlockAssociationSet>
                        <item>
                            <cidrBlock>10.0.0.0/16</cidrBlock>
                            <associationId>vpc-cidr-assoc-2e6daa47</associationId>
                            <cidrBlockState>
                                <state>associated</state>
                            </cidrBlockState>
                        </item>
                    </cidrBlockAssociationSet>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:22 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=subnet-id&Filter.1.Value.1=subnet-f849ff96&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143122Z
      X-Amz-Content-Sha256:
      - 665a0a620bb43c6e0ff2e3a10d7af509aa161bd637a25c8edb365d505947be5b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=41afd5fa843406ca97a896b8608cb77d7c1d4950d170a61627a91449be55fb0b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>02745843-e8f1-4021-9844-717ba2a05436</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-f849ff96</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>241</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet1</value>
                        </item>
                    </tagSet>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:23 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=group-id&Filter.1.Value.1=sg-80f755ef&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143123Z
      X-Amz-Content-Sha256:
      - 0556b7007cebc8027a9ce2b5915968f2b1c7c6ffe1a378f347ce5af51819c62b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f44d40fd865690fcb3adb15bf32c2b7999edcc7216ebf8a095909d3850ecfe1e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>1d1d20fd-65f2-4a56-9b3e-99a80ec7ced2</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-80f755ef</groupId>
                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                    <groupDescription>EmsRefreshSpec-SecurityGroup-VPC</groupDescription>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>22</fromPort>
                            <toPort>22</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>icmp</ipProtocol>
                            <fromPort>-1</fromPort>
                            <toPort>-1</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissionsEgress>
                </item>
            </securityGroupInfo>
        </DescribeSecurityGroupsResponse>
  recorded_at: Mon, 03 Sep 2018 14:31:23 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&LoadBalancerNames.member.1=EmSRefreshSpecVPCELB&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180903T143123Z
      X-Amz-Content-Sha256:
      - 82480686120cee6598fb446a90f52388d87e930c9f7c5c1a597f4854ca394d9e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180903/us-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f36b726e9aee32b5436d89d98312795375b93d95646ff3fb04d04ea21cc9c156
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - '08c75684-af86-11e8-a0bf-21925e51bf05'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions>
              <member>
                <CanonicalHostedZoneNameID>Z35SXDOTRQ7X7K</CanonicalHostedZoneNameID>
                <VPCId>vpc-ff49ff91</VPCId>
                <Scheme>internet-facing</Scheme>
                <Instances>
                  <member>
                    <InstanceId>i-8b5739f2</InstanceId>
                  </member>
                </Instances>
                <Policies>
                  <AppCookieStickinessPolicies/>
                  <LBCookieStickinessPolicies/>
                  <OtherPolicies/>
                </Policies>
                <AvailabilityZones>
                  <member>us-east-1d</member>
                  <member>us-east-1e</member>
                </AvailabilityZones>
                <DNSName>EmSRefreshSpecVPCELB-546141344.us-east-1.elb.amazonaws.com</DNSName>
                <BackendServerDescriptions/>
                <SourceSecurityGroup>
                  <OwnerAlias>200278856672</OwnerAlias>
                  <GroupName>EmsRefreshSpec-SecurityGroup-VPC</GroupName>
                </SourceSecurityGroup>
                <ListenerDescriptions>
                  <member>
                    <Listener>
                      <InstancePort>80</InstancePort>
                      <InstanceProtocol>HTTP</InstanceProtocol>
                      <Protocol>HTTP</Protocol>
                      <LoadBalancerPort>80</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                  <member>
                    <Listener>
                      <InstancePort>22</InstancePort>
                      <InstanceProtocol>TCP</InstanceProtocol>
                      <Protocol>TCP</Protocol>
                      <LoadBalancerPort>22</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
[...]
