---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-id&Filter.1.Value.1=i-c72af2f6&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081819Z
      X-Amz-Content-Sha256:
      - beeb9f3c3d9596e8d8d16108091fe5ee7ca3119c49776de86ca8415515eaed7e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f000dd9a0444e5066de710a811b3980a2c011949162d2493e44cdcf846310f25
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>149e0b49-af7b-448e-b984-40f06857d3c1</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-e08e325e</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-c72af2f6</instanceId>
                            <imageId>ami-2051294a</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-0-122.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>EmsRefreshSpec-KeyPair</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2017-09-26T07:43:04.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-f849ff96</subnetId>
                            <vpcId>vpc-ff49ff91</vpcId>
                            <privateIpAddress>10.0.0.122</privateIpAddress>
                            <ipAddress>54.208.71.4</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-80f755ef</groupId>
                                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-da190f08</volumeId>
                                        <status>attached</status>
                                        <attachTime>2016-08-30T07:17:59.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdf</deviceName>
                                    <ebs>
                                        <volumeId>vol-0acad09812d803c09</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-03-17T07:25:12.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>BWJjo1472541478233</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>EmsRefreshSpec-PoweredOn-VPC1</value>
                                </item>
                                <item>
                                    <key>owner</key>
                                    <value>UNKNOWN</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-2b986f38</networkInterfaceId>
                                    <subnetId>subnet-f849ff96</subnetId>
                                    <vpcId>vpc-ff49ff91</vpcId>
                                    <description>Primary network interface</description>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>12:3e:ae:70:92:0d</macAddress>
                                    <privateIpAddress>10.0.0.122</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-80f755ef</groupId>
                                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-455ec9ed</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2016-08-30T07:17:58.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>54.208.71.4</publicIp>
                                        <publicDnsName/>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.0.0.122</privateIpAddress>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>54.208.71.4</publicIp>
                                            <publicDnsName/>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:20 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Filter.1.Name=network-interface-id&Filter.1.Value.1=eni-2b986f38&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081821Z
      X-Amz-Content-Sha256:
      - 96f2b77608d5e6646c25ad6c234ff63a9a49d8c20af1a20dbaa1016ae19ee1e6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c6af68ccd0deb238631e2675802129799b0d1f5edfd2fdb052cdc5a39ff2a51a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>a1a4effd-0285-46aa-84a5-603177ade57e</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-2b986f38</networkInterfaceId>
                    <subnetId>subnet-f849ff96</subnetId>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <description>Primary network interface</description>
                    <ownerId>200278856672</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>in-use</status>
                    <macAddress>12:3e:ae:70:92:0d</macAddress>
                    <privateIpAddress>10.0.0.122</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-80f755ef</groupId>
                            <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                        </item>
                    </groupSet>
                    <attachment>
                        <attachmentId>eni-attach-455ec9ed</attachmentId>
                        <instanceId>i-c72af2f6</instanceId>
                        <instanceOwnerId>200278856672</instanceOwnerId>
                        <deviceIndex>0</deviceIndex>
                        <status>attached</status>
                        <attachTime>2016-08-30T07:17:58.000Z</attachTime>
                        <deleteOnTermination>true</deleteOnTermination>
                    </attachment>
                    <association>
                        <publicIp>54.208.71.4</publicIp>
                        <publicDnsName/>
                        <ipOwnerId>amazon</ipOwnerId>
                        <natEnabled>true</natEnabled>
                    </association>
                    <tagSet/>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>10.0.0.122</privateIpAddress>
                            <primary>true</primary>
                            <association>
                                <publicIp>54.208.71.4</publicIp>
                                <publicDnsName/>
                                <ipOwnerId>amazon</ipOwnerId>
                                <natEnabled>true</natEnabled>
                            </association>
                        </item>
                    </privateIpAddressesSet>
                    <ipv6AddressesSet/>
                    <interfaceType>interface</interfaceType>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:21 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Filter.1.Name=zone-name&Filter.1.Value.1=us-east-1e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081821Z
      X-Amz-Content-Sha256:
      - 3687d6dd1f231b3240bd52e8c7cf959c498b8b7312ba6b8a4e9c1e83e973d0b5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=4871ef134059214df2ae53c9699191f373a4f8235a6159d9cd42839ad0c971cf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d905eba1-51a0-40aa-81f3-08e673f966bf</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:22 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Filter.1.Name=key-name&Filter.1.Value.1=EmsRefreshSpec-KeyPair&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081822Z
      X-Amz-Content-Sha256:
      - 8b897801bc6737ad27423b50d05f4c5a3cb37aff5adc92042c314bf391679416
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a0b736caf934adb91ff15f0c64918b945b79286298b033fd01516c942a68ad67
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>02a08959-beb7-4c6f-8497-ba0fc2fa0330</requestId>
            <keySet>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:23 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-id&Filter.1.Value.1=ami-2051294a&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081823Z
      X-Amz-Content-Sha256:
      - 1dba40e3cae389560839f1c6f175562e3a67b47998b64a9b971a6de60d71df67
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ded791faa2340f342037f37665c0c937b3c4cf410c9653e41df00e6a0dc87144
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>beb78963-3a94-4326-9f9c-5c16d5c82344</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-2051294a</imageId>
                    <imageLocation>309956199498/RHEL-7.2_HVM_GA-20151112-x86_64-1-Hourly2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2015-11-12T21:06:58.000Z</creationDate>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>RHEL-7.2_HVM_GA-20151112-x86_64-1-Hourly2-GP2</name>
                    <description>Provided by Red Hat, Inc.</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-ba40cac8</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:25 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-ff49ff91&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081825Z
      X-Amz-Content-Sha256:
      - c4845e8b461f14be4b886767ca0310a99c2f2a0a26fe026926e9bc17f4f79be7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b825375f1bebf73bbe0a07233f0cdaba17fe797354a2b71f7d141168407b24f4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>49ad789f-e372-4743-af6b-0671c95ba0c0</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <cidrBlockAssociationSet>
                        <item>
                            <cidrBlock>10.0.0.0/16</cidrBlock>
                            <associationId>vpc-cidr-assoc-2e6daa47</associationId>
                            <cidrBlockState>
                                <state>associated</state>
                            </cidrBlockState>
                        </item>
                    </cidrBlockAssociationSet>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
            </vpcSet>
        </DescribeVpcsResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:26 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=subnet-id&Filter.1.Value.1=subnet-f849ff96&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081826Z
      X-Amz-Content-Sha256:
      - 665a0a620bb43c6e0ff2e3a10d7af509aa161bd637a25c8edb365d505947be5b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a7df2ff3051edf311e55045a82012dcef8d083bf191f316a02325e21d19be59c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>1e4dfd6f-e49c-4c8d-b060-f704c2410a79</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-f849ff96</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.0.0/24</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>237</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet1</value>
                        </item>
                    </tagSet>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:27 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=group-id&Filter.1.Value.1=sg-80f755ef&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081827Z
      X-Amz-Content-Sha256:
      - 0556b7007cebc8027a9ce2b5915968f2b1c7c6ffe1a378f347ce5af51819c62b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8fddfeebdcdd534528761a19cedd91893902b8904df290cb51c1b7f4556ec42b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d2091d38-6f83-4a26-b09d-72889c0d2924</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-80f755ef</groupId>
                    <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>
                    <groupDescription>EmsRefreshSpec-SecurityGroup-VPC</groupDescription>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>22</fromPort>
                            <toPort>22</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                        <item>
                            <ipProtocol>icmp</ipProtocol>
                            <fromPort>-1</fromPort>
                            <toPort>-1</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissionsEgress>
                </item>
            </securityGroupInfo>
        </DescribeSecurityGroupsResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:28 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Filter.1.Name=allocation-id&Filter.1.Value.1=54.208.71.4&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081828Z
      X-Amz-Content-Sha256:
      - a31fd8e566b655ae84a1a9ef853231b894fc12a5d9c9fc35d245e559a1bc6a91
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=34a7c01efc134411d521eba3dfbfed7fb75e7571fd0142da88bd91cdf9db6a7c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>4382a8eb-1089-4895-8af7-64fcc39807f7</requestId>
            <addressesSet/>
        </DescribeAddressesResponse>
  recorded_at: Tue, 26 Sep 2017 08:18:28 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVolumes&Filter.1.Name=volume-id&Filter.1.Value.1=vol-da190f08&Filter.1.Value.2=vol-0acad09812d803c09&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170926T081828Z
      X-Amz-Content-Sha256:
      - 81e0ab76e6f32fc7d5784b60ab90638422e455f892dc1bed2eba4d8c0094104e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20170926/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=517e7a94ee2c965f150bff008ae5f9f33768a0d39aac265c096f6a30c6a1f384
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVolumesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>95c8af0b-528f-48d1-9f14-dcc987bd1ccc</requestId>
            <volumeSet>
                <item>
                    <volumeId>vol-da190f08</volumeId>
                    <size>10</size>
                    <snapshotId>snap-ba40cac8</snapshotId>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <status>in-use</status>
                    <createTime>2016-08-30T07:17:59.338Z</createTime>
                    <attachmentSet>
                        <item>
                            <volumeId>vol-da190f08</volumeId>
                            <instanceId>i-c72af2f6</instanceId>
                            <device>/dev/sda1</device>
                            <status>attached</status>
                            <attachTime>2016-08-30T07:17:59.000Z</attachTime>
                            <deleteOnTermination>true</deleteOnTermination>
                        </item>
                    </attachmentSet>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-PoweredOn-VPC1-root</value>
                        </item>
                    </tagSet>
                    <volumeType>gp2</volumeType>
                    <iops>100</iops>
                    <encrypted>false</encrypted>
                </item>
                <item>
                    <volumeId>vol-0acad09812d803c09</volumeId>
                    <size>1</size>
                    <snapshotId/>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <status>in-use</status>
                    <createTime>2017-03-17T07:23:54.211Z</createTime>
                    <attachmentSet>
                        <item>
                            <volumeId>vol-0acad09812d803c09</volumeId>
                            <instanceId>i-c72af2f6</instanceId>
                            <device>/dev/sdf</device>
                            <status>attached</status>
                            <attachTime>2017-03-17T07:25:12.000Z</attachTime>
[...]
