---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180411T091542Z
      X-Amz-Content-Sha256:
      - 2bd59c58bf8c2bcc1c39ea3a5a38bb7cd5a643758cbd1b78a746d3a3aa5c1580
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180411/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=36f564a334d4e030adba8c694f36a6de74a81d1b029fcafd158aa46d73b43299
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>529f2ed2-8b2c-4832-ad1c-ce783b24eb91</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>eu-central-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>eu-central-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>eu-central-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>eu-central-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Wed, 11 Apr 2018 09:15:42 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180411T091542Z
      X-Amz-Content-Sha256:
      - e7326d4766918579e6d040a9c8d2243cefc0ab1aaa37cd7a9dab76d8c3538b59
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180411/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=79bebdee894024338aca266afb243b163fc48e83824d7ed5ded296ca0ecd9167
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>9ddb53f3-466b-47ce-b2fa-989c3714450b</requestId>
            <keySet>
                <item>
                    <keyName>azagayno</keyName>
                    <keyFingerprint>ba:e4:ba:6e:80:7e:0d:1d:36:60:79:87:e9:35:44:9a:55:87:1b:35</keyFingerprint>
                </item>
                <item>
                    <keyName>mpovolny</keyName>
                    <keyFingerprint>3e:20:56:54:4c:33:f6:e1:bd:cc:41:a9:a8:01:e6:9c:53:8b:1d:44</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Wed, 11 Apr 2018 09:15:42 GMT
- request:
    method: post
    uri: https://cloudformation.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180411T091542Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180411/eu-central-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=43bff3ca43f564ff269a83814da9ed645f0064f53d6190e6a28b9726c874f9cc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e8d0c7d9-3d68-11e8-b9a5-ff2a6bc3c6d3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks/>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>e8d0c7d9-3d68-11e8-b9a5-ff2a6bc3c6d3</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Wed, 11 Apr 2018 09:15:42 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180411T091542Z
      X-Amz-Content-Sha256:
      - 353f42a6b4f35502116ce0f2e997ba13b57b156b7a2d476afc85d222902f4415
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180411/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=fe582395b7e5f0861bcb74147705d1761959c8b0a257894eebfbf620eebe3b07
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>d1e65c04-c6ac-4ab1-85f2-f74e29442042</requestId>
            <imagesSet/>
        </DescribeImagesResponse>
  recorded_at: Wed, 11 Apr 2018 09:15:42 GMT
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&ExecutableBy.1=self&Filter.1.Name=image-type&Filter.1.Value.1=machine&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180411T091542Z
      X-Amz-Content-Sha256:
      - 13559d63912d4017a9523f9e8bda64c2a6870c83adb807d3bccff29a4065cdfc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180411/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=782107ab2df351d9a08dfdc2074c321b4120148bf35c03c20e32524546c91314
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>4439b78b-3955-485e-ab82-5094befd602c</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-043f926b</imageId>
                    <imageLocation>309956199498/RHEL-7.4_HVM_GA-20170724-x86_64-1-Access2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2017-07-24T15:53:55.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>RHEL-7.4_HVM_GA-20170724-x86_64-1-Access2-GP2</name>
                    <description>Provided by Red Hat, Inc.</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-02de37e1371b488e3</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-04ecda19</imageId>
                    <imageLocation>309956199498/RHEL-5.7_GA-x86_64-3-Access2-GP2</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>309956199498</imageOwnerId>
                    <creationDate>2014-10-31T17:57:09.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-184c7a05</kernelId>
                    <name>RHEL-5.7_GA-x86_64-3-Access2-GP2</name>
                    <description>Provided by Red Hat, Inc.</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap[...]
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180411T091543Z
      X-Amz-Content-Sha256:
      - 6171eb09865e32b0602af0f7957e26573a51f53caaedff02ff88883cb0275885
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_CLIENT_ID/20180411/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a05c9e56d354cacee726e89154388dcb4656102d747adf972678b2e36785b027
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>c6b54ad4-dd8f-4eaf-b125-4255e92f45ef</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-056692f6dc68b8043</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-091369dd8a8d470ab</instanceId>
                            <imageId>ami-0fc85a60</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName>ip-172-31-9-14.eu-central-1.compute.internal</privateDnsName>
                            <dnsName/>
                            <reason>User initiated (2018-02-15 15:10:58 GMT)</reason>
                            <keyName>azagayno</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2018-02-15T14:52:37.000Z</launchTime>
                            <placement>
                                <availabilityZone>eu-central-1b</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-95b0b1ed</subnetId>
                            <vpcId>vpc-d78f69be</vpcId>
                            <privateIpAddress>172.31.9.14</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-8bae2ee0</groupId>
                                    <groupName>miq-ssh-http-https</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-006e52cf74d8f3e7c</volumeId>
                                        <status>attached</status>
                                        <attachTime>2018-01-15T10:28:27.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>redhat</key>
                                    <value>brno</value>
                                </item>
                                <item>
                                    <key>some_tag</key>
                                    <value>some_tag_value</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-b023519b</networkInterfaceId>
                                    <subnetId>subnet-95b0b1ed</subnetId>
                                    <vpcId>vpc-d78f69be</vpcId>
                                    <description/>
                                    <ownerId>200278856672</ownerId>
                                    <status>in-use</status>
                                    <macAddress>06:c4:1b:46:94:1a</macAddress>
                                    <privateIpAddress>172.31.9.14</privateIpAddress>
                                    <privateDnsName>ip-172-31-9-14.eu-central-1.compute.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-8bae2ee0</groupId>
                                            <groupName>miq-ssh-http-https</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-b165785a</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2018-01-15T10:28:27.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>172.31.9.14</privateIpAddress>
                                            <privateDnsName>ip-172-31-9-14.eu-central-1.compute.internal</privateDnsName>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Wed, 11 Apr 2018 09:15:43 GMT
[...]
