[Unit]
PartOf=amazon_container_manager_refresh.target
[Install]
WantedBy=amazon_container_manager_refresh.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby lib/workers/bin/run_single_worker.rb ManageIQ::Providers::Amazon::ContainerManager::RefreshWorker --heartbeat --guid=%i
User=manageiq
Restart=no
Type=notify
Slice=manageiq-providers-amazon_container_manager_refresh.slice
