[Unit]
PartOf=amazon_container_manager_event_catcher.target
[Install]
WantedBy=amazon_container_manager_event_catcher.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
ExecStart=/bin/bash -lc 'exec ruby lib/workers/bin/run_single_worker.rb ManageIQ::Providers::Amazon::ContainerManager::EventCatcher --heartbeat --guid=%i'
Restart=no
Type=notify
Slice=manageiq-providers-amazon_container_manager_event_catcher.slice
