[Unit]
PartOf=amazon_agent_coordinator.target
[Install]
WantedBy=amazon_agent_coordinator.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
ExecStart=/bin/bash -lc 'exec ruby lib/workers/bin/run_single_worker.rb ManageIQ::Providers::Amazon::AgentCoordinatorWorker --heartbeat --guid=%i'
Restart=no
Type=notify
Slice=manageiq-providers-amazon_agent_coordinator.slice
