---
:ems:
  :ems_amazon:
    :disabled_regions: []
    # disable regions by their keys found in app/models/manageiq/providers/amazon/regions.rb e.g.
    # - us-gov-west-1
    #
    # add additional regions as found in app/models/manageiq/providers/amazon/regions.rb
    :additional_regions: {}
    # :spec-region-1:
    #   :name: Special Region
    #   :hostname: ec2.spec-region-1.amazonaws.com
    #   :description: Super Special Region
:ems_refresh:
  :ec2:
    :get_private_images: true
    :get_shared_images: true
    :get_public_images: false
    # configure an array of filters to be added to describe_images
    # see: http://docs.aws.amazon.com/sdkforruby/api/Aws/EC2/Client.html#describe_images-instance_method
    :public_images_filters:
      - :name: image-type
        :values:
          - machine
    :ignore_terminated_instances: true
:http_proxy:
  :ec2:
    :host:
    :password:
    :port:
    :user:
:log:
  :level_aws: info
  :level_aws_in_evm: error
:workers:
  :worker_base:
    :event_catcher:
      :event_catcher_amazon:
        :poll: 15.seconds
    :queue_worker_base:
      :ems_metrics_collector_worker:
        :ems_metrics_collector_worker_amazon: {}
      :ems_refresh_worker:
        :ems_refresh_worker_amazon: {}
        :ems_refresh_worker_amazon_network: {}
        :ems_refresh_worker_amazon_ebs_storage: {}
